{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block my_content %}
<br><br>

<form method="post" action="">
    {% csrf_token %}

    <table style="background-color: white">
        <tr>
            <td style="width: 40px"></td>
            <td class="error_message">
                {% for field in form.visible_fields %}
                    {% if field.errors %}
                        {% for err in field.errors %}
                                    <ul>
                                        <li><span style="color: red">{{ field.label }} error: </span>{{ err }}</li>
                                    </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </td>
            <td></td>
        </tr>
        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>
    </table>

    <h2>Change your password:</h2>
    <table style="background-color: white">
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.old_password.label }}:&nbsp;</td>
            <td>{{ form.old_password }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.new_password1.label }}:&nbsp;</td>
            <td>{{ form.new_password1 }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">Password (again):&nbsp;</td>
            <td>{{ form.new_password2 }}&nbsp;Enter the same password as before, for verification.</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="{% trans 'Change password' %}" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
{% endblock %}


{# This is used by django.contrib.auth #}