{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function myFunction() {
            alert("The form was submitted");
        }
    </script>
{% endblock javascript %}

{% block my_content %}
<br><br>
<form method="post" action="">
    {% csrf_token %}

    <table style="background-color: white">
        <tr>
            <td style="width: 40px"></td>
            <td class="error_message">
                {% for field in form.visible_fields %}
                    {% if field.errors %}
                        {% for err in field.errors %}
                                    <ul>
                                        <li><span style="color: red">{{ field.label }} error: </span>{{ err }}</li>
                                    </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </td>
            <td></td>
        </tr>
        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>
    </table>


    <table style="background-color: white">
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right"></td>
            <td>Required Fields:</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.username.label }}:&nbsp;</td>
            <td>{{ form.username }}&nbsp;Must be 30 characters or fewer. Letters, digits and @/./+/-/_ only.</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.password1.label }}:&nbsp;</td>
            <td>{{ form.password1 }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">Password (again):&nbsp;</td>
            <td>{{ form.password2 }}&nbsp;Enter the same password as before, for verification.</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.email.label }}:&nbsp;</td>
            <td>{{ form.email }}</td>
            <td></td>
        </tr>
        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right"></td>
            <td>Optional Fields:</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.firstName.label }}:&nbsp;</td>
            <td>{{ form.firstName }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.lastName.label }}:&nbsp;</td>
            <td>{{ form.lastName }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.affiliation.label }}:&nbsp;</td>
            <td>{{ form.affiliation }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.city.label }}:&nbsp;</td>
            <td>{{ form.city }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.state.label }}:&nbsp;</td>
            <td>{{ form.state }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.country.label }}:&nbsp;</td>
            <td>{{ form.country }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.zip.label }}:&nbsp;</td>
            <td>{{ form.zip }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.phone.label }}:&nbsp;</td>
            <td>{{ form.phone }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.reference.label }}:&nbsp;</td>
            <td>{{ form.reference }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.purpose.label }}:&nbsp;</td>
            <td>{{ form.purpose }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <input type="submit" onsubmit="myFunction()" value="{% trans 'Submit' %}" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}