<td id="cat_off" colspan="8" style="text-align: center"></td>

<td id="cat_gibbs" colspan="8" style="text-align: center; display: none">
    Category:
    <select id="GIBBs">
        <option value="0" selected="selected">All</option>
        <option value="1">C decomposition</option>
        <option value="2">N decomposition</option>
        <option value="3">P decomposition</option>
        <option value="4">S decomposition</option>
        <option value="5">Nitrogen fixation</option>
        <option value="6">Phosphate solubility</option>
        <option value="7">Biocontrol</option>
        <option value="8">Root growth</option>
        <option value="9">Siderophore</option>
    </select>
</td>

<td id="cat_nitrogen" colspan="8" style="text-align: center; display: none">
    Category:
    <select id="N_cycle">
        <option value="0" selected="selected">All</option>
        <option value="1">Nitrogen fixation</option>
        <option value="2">Ammonification</option>
        <option value="3">Nitrification</option>
        <option value="4">Dissimilatory nitrate reduction (DNR)</option>
        <option value="5">Assimilatory nitrate reduction (ANR)</option>
        <option value="6">Denitrification</option>
        <option value="7">Anammox</option>
    </select>
</td>