<td colspan="8" style="text-align: center">
    Select chart theme:
    <select id="theme">
        <option value="1" selected="selected">default</option>
        <option value="2">dark-blue</option>
        <option value="3">dark-green</option>
        <option value="4">dark-unica</option>
        <option value="5">gray</option>
        <option value="6">grid</option>
        <option value="7">grid-light</option>
        <option value="8">sand-signika</option>
        <option value="9">skies</option>
    </select>
    &nbsp; &nbsp;
</td>