<tr>
    <td bgcolor="lightgray"  style="outline: thin solid"><strong><em>Export Raw Data:</em></strong></td>
</tr>

<tr>
    <td bgcolor="white">
        <input id="TabButton" type="button" disabled value="Export Data" onClick="getTab()"/>
    </td>
</tr>

<script type="text/javascript">

    function getTab() {
        $("#TabButton").css("background-color", "yellow").val("Gathering your data...please wait!");
        $.ajax({
            url: '/myPhyloDB/getRawData/',
            type: 'GET',
            dataType: 'json',
            data: {
                all: RID,
                func: 'anova',
                button3: button3
            },
            success: function(data) {
                var result = JSON.stringify(data);
                var obj = $.parseJSON(result);
                var myData = obj['name'];
                download(myData, 'raw_data.csv', "text/csv");
                $("#TabButton").css("background-color", "green").val("Done!");
            }
        });
    }

</script>