<tr>
    <td bgcolor="white" width="5px"></td>
    <td colspan="2" bgcolor="lightgray" style="outline: thin solid" title="Note: Data filters will be ignored if you use the taxonomy tree, PGPRs or KEGG mapping"><em><strong>Data Filtering:</strong></em></td>
</tr>

<tr>
    <td bgcolor="white" width="5px"></td>
    <td bgcolor="white">
        <input type="checkbox" id="remUnclass" onChange="checkButtons()">&nbsp; <-- Remove unassigned/unmapped reads
    </td>
    <td bgcolor="white"></td>
</tr>

<tr>
    <td bgcolor="white" width="5px"></td>
    <td bgcolor="white">
        <input type="checkbox" id="remZeroes" onChange="checkButtons()"/>&nbsp; <-- Remove phylotypes with <input type="text" id="perZeroes" style="background-color: white; width: 40px" value="50"/> percent or more zeroes
    </td>
    <td bgcolor="white"></td>
</tr>

<tr>
    <td bgcolor="white" width="5px"></td>
    <td bgcolor="white">
        <input type="checkbox" id="filterData" onClick="checkButtons()"/>&nbsp; <-- Select the top <input type="text" id="filterPer" style="background-color: white; width: 40px" value="10"/> phylotypes based on:
        <select id="filterMeth" onChange="checkButtons()">
            <!--<option value="1">None</option>-->
            <option value="2" selected="selected">Interquantile range (IQR)</option>
            <option value="3">Coefficient of variation (CV)</option>
            <option value="4">Standard deviation (SD)</option>
            <option value="5">Mean value</option>
            <option value="6">Median value</option>
        </select>
    </td>
    <td bgcolor="white"></td>
</tr>