<tr class="accordion">
    <td bgcolor="white" width="5px"></td>
    <td colspan="2" bgcolor="lightgray"  style="outline: thin solid"><strong><em><span class="arrow">►</span> Run Analysis:</em></strong></td>
</tr>

<tr>
    <td bgcolor="white" width="5px"></td>
    <td bgcolor="white">
        <input id="run" type="submit" value="Run!" style="background-color: lightgray" onClick="runAnalysis()"/>
        &nbsp;
        <input id="stop" type="submit" value="Stop!" style="background-color: lightgray" onClick="stopAnalysis()"/>
        &nbsp; <-- Start/stop analysis
    </td>
    <td bgcolor="white"></td>
</tr>