<tr class="accordion">
    <td bgcolor="white" width="5px"></td>
    <td colspan="2" bgcolor="lightgray"  style="outline: thin solid"><strong><em><span class="arrow">►</span> Export Data:</em></strong></td>
</tr>

<tr>
    <td bgcolor="white" width="5px"></td>
    <td bgcolor="white">
        <input name="exportB" type="radio" checked value="Tabular"/>Tabular
        <input name="exportB" type="radio" value="Biom"/>Biom
        <input id="Export" type="button" value="Export Data" onClick="exportData()"/>
    </td>
    <td bgcolor="white"></td>
</tr>
<a id="download" download href="" style="display:none">download</a>


<script type="text/javascript">
    function exportData() {
        var format = $('input[name="exportB"]:checked').val();
        if (format=='Tabular') {
            getTab();
        }
        if (format=='Biom') {
            getBiom();
        }
    }
    function getTab() {
        var func;
        if (document.title == 'ANcOVA') {
            func = 'anova';
        } else if (document.title == 'CorrPlot') {
            func = 'corr';
        } else if (document.title == 'DiffAbund') {
            func = 'diffabund';
        } else if (document.title == 'GAGE') {
            func = 'gage';
        } else if (document.title == 'PCA') {
            func = 'pca';
        } else if (document.title == 'PCoA') {
            func = 'pcoa';
        } else if (document.title == 'SpAC') {
            func = 'spac';
        } else if (document.title == 'sPLS-Regr') {
            func = 'spls';
        } else if (document.title == 'WGCNA') {
            func = 'wgcna';
        } else if (document.title == 'CARET') {
            func = 'rf';
        } else {
            func = 'unknown';
        }

        $("#Export").css("background-color", "yellow").val("Running!");
            $.ajax({
                url: '/myPhyloDB/getRawDataTab/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID,
                    func: func,
                    treeType: treeType
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    window.location.href = obj['name'];
                    $("#Export").css("background-color", "green").val("Done!");
                }
            }).fail(function() {
                    $("#Export").css("background-color", "red").val("No data!");
            });
        }
    function getBiom() {
        var func;
        if (document.title == 'ANcOVA') {
            func = 'anova';
        } else if (document.title == 'CorrPlot') {
            func = 'corr';
        } else if (document.title == 'DiffAbund') {
            func = 'diffabund';
        } else if (document.title == 'GAGE') {
            func = 'gage';
        } else if (document.title == 'PCA') {
            func = 'pca';
        } else if (document.title == 'PCoA') {
            func = 'pcoa';
        } else if (document.title == 'SpAC') {
            func = 'spac';
        } else if (document.title == 'sPLS-Regr') {
            func = 'spls';
        } else if (document.title == 'WGCNA') {
            func = 'wgcna';
        } else if (document.title == 'CARET') {
            func = 'rf';
        } else {
            func = 'unknown';
        }

        $("#Export").css("background-color", "yellow").val("Running!");
            $.ajax({
                url: '/myPhyloDB/getRawDataBiom/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID,
                    func: func,
                    treeType: treeType
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var filename = obj['name'];
                    $("a#download").attr({
                        href: filename
                    }).get(0).click();
                    $("#Export").css("background-color", "green").val("Done!");
                }
            }).fail(function() {
                    $("#Export").css("background-color", "red").val("No data!");
            });
        }

</script>