<!--html-->
<div id="tree_metaCat"></div>


<!--javascript-->
<script type="text/javascript">

    $("#tree_metaCat").dynatree({
        checkbox: true,
        rootVisible: false,
        selectMode: 3,
        initAjax: {
            url: '/myPhyloDB/getSampleCatTree/',
            dataType: 'jsonp',
            data: {}
        },
        onLazyRead: function (node) {
            node.appendAjax({
                url: '/myPhyloDB/getSampleCatTreeChildren/',
                data: {pType: node.data.pType, field: node.data.title},
                success: function (node) {
                    if (node.childList == undefined) {
                        alert('No samples are available for this variable!');
                    }
                }
            });
        },
        onSelect: function (flag, node) {
            if (flag && node.childList == undefined) {
                node.reloadChildren(function () {
                    node.select(false);
                    if (node.childList) {
                        node.select(true);
                    }
                });
            }
            nodesCat = node.tree.getSelectedNodes();
            //alert(nodesCat);  // this section only triggers when a folder is selected???
            if ((document.title == 'PCA') || (document.title == 'PCoA')) {
                ellipseBox();
                colorBox();
                shapeBox();
                gridBox();
            }

            $("#run").css("background-color", "lightgray");

            if (document.title == 'CARET') {
                countCat = 0;
                $.each(nodesCat, function (key, value) {
                    if (value.data.pType != undefined) {
                        countCat = countCat + 1;
                    }
                });
                countQuant = 0;
                $.each(nodesQuant, function (key, value) {
                    if (value.data.pType != undefined) {
                        countQuant = countQuant + 1;
                    }
                });
                var total = countCat + countQuant;
                if (total > 1) {
                    alert("Only one fully selected categorical or quantitative variable is allowed!\nHowever, additional partial selections are allowed.");
                    node.select(false);
                    return false;
                }
            }

            if (document.title == 'ANcOVA') {
                xBox();
                gridBox();
                colorBox();
                shapeBox();

                countCat = 0;
                $.each(nodesCat, function (key, value) {
                    if (value.data.pType != undefined) {
                        countCat = countCat + 1;
                    }
                });
            }
        }

    });

    function updateNodesCat(){
        nodesCat = $.map($("#tree_metaCat").dynatree("getSelectedNodes"), function(node) {
                            return node;
                        });
    }

</script>