<div id="tree_taxa" ></div>
<div id="tree_kegg" style="display:none">></div>
<div id="tree_nz" style="display:none">></div>

<script type="text/javascript">
    $("#tree_taxa").dynatree({
        checkbox: true,
        selectMode: 2,
        initAjax: {
            url: '/myPhyloDB/getTaxaTree/',
            dataType: 'jsonp',
            data: {}
        },
        onLazyRead: function (node) {
            node.appendAjax({
                url: '/myPhyloDB/getTaxaTreeChildren/',
                data: {
                    tooltip: node.data.tooltip,
                    id: node.data.id
                }
            });
        },
        onSelect: function (flag, node) {
            if (flag && node.childList == undefined) {
                node.reloadChildren(function () {
                    node.select(false);
                    node.select(true);
                });
            }
            nodesTaxa = node.tree.getSelectedNodes();
            $("#run").css("background-color", "lightgray");
        },
        onClick: function () {
            taxaAll = 0;
            $("#selectall-taxa").val(0);
        }
    });

    $("#tree_kegg").dynatree({
        checkbox: true,
        selectMode: 2,
        initAjax: {
            url: '/myPhyloDB/getKEGGTree/',
            dataType: 'jsonp',
            data: {}
        },
        onLazyRead: function (node) {
            node.appendAjax({
                url: '/myPhyloDB/getKEGGTreeChildren/',
                data: {
                    tooltip: node.data.tooltip,
                    id: node.data.id
                }
            });
        },
        onSelect: function (flag, node) {
            if (flag && node.childList == undefined) {
                node.reloadChildren(function () {
                    node.select(false);
                    node.select(true);
                });
            }
            nodesKEGG = node.tree.getSelectedNodes();
            $("#run").css("background-color", "lightgray");
        },
        onClick: function () {
            keggAll = 0;
            $("#selectall-kegg").val(0);
        }
    });

    $("#tree_nz").dynatree({
        checkbox: true,
        selectMode: 2,
        initAjax: {
            url: '/myPhyloDB/getNZTree/',
            dataType: 'jsonp',
            data: {}
        },
        onLazyRead: function (node) {
            node.appendAjax({
                url: '/myPhyloDB/getNZTreeChildren/',
                data: {
                    tooltip: node.data.tooltip,
                    id: node.data.id
                }
            });
        },
        onSelect: function (flag, node) {
            if (flag && node.childList == undefined) {
                node.reloadChildren(function () {
                    node.select(false);
                    node.select(true);
                });
            }
            nodesNZ = node.tree.getSelectedNodes();
            $("#run").css("background-color", "lightgray");
        },
        onClick: function () {
            nzAll = 0;
            $("#selectall-nz").val(0);
        }
    });

</script>