<td colspan="4" style="text-align: center;"><input type="button" id="unstackButton" value="Unstack bars" onclick="flipStack();"></td>

<script>
    function flipStack() {
        if (unstackButton) {
            unstackButton = false;
            document.getElementById("unstackButton").value = "Unstack bars";

            $("#container-1").empty();

            chart1.update({
                plotOptions: {
                    column: { stacking: "normal"},
                    series: { borderWidth: 0}
                }
            });

        } else {
            unstackButton = true;
            document.getElementById("unstackButton").value = "Stack bars";

            $("#container-1").empty();

            chart1.update({
                plotOptions: {
                    column: { stacking: null},
                    series: { borderWidth: 0}
                }
            });
        }

        errorBars();
    }

    function errorBars() {
        var seriesLen = chart1.series.length;

        if (!unstackButton) {
            $(chart1.series).each(function () {
                if (this.type == 'errorbar') {
                    this.setVisible(false, false);
                }
            });
        } else {
            if (treeType != 3) {
                for (var i = 0; i < seriesLen; i += 2) {
                    if (chart1.series[i].visible) {
                        chart1.series[i + 1].setVisible(true, false);
                    }
                }
            } else {
                if (subset == 'none') {
                    for (var i = 0; i < seriesLen; i += 2) {
                        if (chart1.series[i].visible) {
                            chart1.series[i + 1].setVisible(true, false);
                        }
                    }
                } else if (subset == 'gibbs') {
                    gibbs();
                } else if (subset == 'ncycle') {
                    ncycle();
                }
            }
        }
        chart1.redraw();
    }
</script>