{% load static %}

<td colspan="8" style="text-align: center">
    Select chart theme:
    <select id="theme" onChange="themeChange(this.value)">
        <option value="1" selected="selected">default</option>
        <option value="2">dark-blue</option>
        <option value="3">dark-green</option>
        <option value="4">dark-unica</option>
        <option value="5">flat</option>
        <option value="6">google</option>
        <option value="7">gray</option>
        <option value="8">grid</option>
        <option value="9">grid-light</option>
        <option value="10">sand-signika</option>
        <option value="11">skies</option>
    </select>
    &nbsp; &nbsp;
</td>


<script type="text/javascript">
    function createChart(theme) {
        if (dataType == 1) {
            if (unstackButton) {
                flipStack();
            }
            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
            chart1.redraw();

        }

        if (dataType == 2) {
            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
            chart2.redraw();
        }
    }

    function ResetOptions() {
        var defaultOptions = Highcharts.getOptions();
        for (var prop in defaultOptions) {
            if (typeof defaultOptions[prop] !== 'function') {
                delete defaultOptions[prop];
            }
        }
        Highcharts.setOptions(HCDefaults);
    }

    function themeChange(selTheme) {
        ResetOptions();

        {% static "" as baseUrl %}
        if (selTheme == 1) {
            var theme = null;
            createChart(theme);
        } else if (selTheme == 2) {
            $.getScript("{{ baseUrl }}/highcharts/themes/dark-blue.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 3) {
            $.getScript("{{ baseUrl }}/highcharts/themes/dark-green.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 4) {
            $.getScript("{{ baseUrl }}/highcharts/themes/dark-unica.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 5) {
            $.getScript("{{ baseUrl }}/highcharts/themes/flat.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 6) {
            $.getScript("{{ baseUrl }}/highcharts/themes/google.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 7) {
            $.getScript("{{ baseUrl }}/highcharts/themes/gray.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 8) {
            $.getScript("{{ baseUrl }}/highcharts/themes/grid.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 9) {
            $.getScript("{{ baseUrl }}/highcharts/themes/grid-light.js", function() {
                createChart(theme);
            });
        }  else if (selTheme == 10) {
            $.getScript("{{ baseUrl }}/highcharts/themes/sand-signika.js", function() {
                createChart(theme);
            });
        } else if (selTheme == 11) {
            $.getScript("{{ baseUrl }}/highcharts/themes/skies.js", function() {
                createChart(theme);
            });
        }
    }
</script>
