<td colspan="6" style="text-align: center">
    <button id="hide" title="Click to show/hide all series in the graph" onClick="hideChange()">Hide all series</button>
</td>


<script type="text/javascript">
    function hideChange() {
        var hide = $('#hide');
        if (dataType == 1) {
            if (hide.html() == 'Hide all series') {
                $(chart1.series).each(function(){
                    this.setVisible(false, false);
                });
                hide.html('Show all series');
            } else {
                $(chart1.series).each(function(){
                    if (this.type == 'errorbar') {
                        if (unstackButton) {
                            this.setVisible(true, false);
                        } else {
                            this.setVisible(false, false);
                        }
                    } else {
                        this.setVisible(true, false);
                    }
                });
                hide.html('Hide all series');
            }
            chart1.redraw();
        }

        if (dataType == 2) {
            if (hide.html() == 'Hide all series') {
                $(chart2.series).each(function(){
                    this.setVisible(false, false);
                });
                hide.html('Show all series');
            } else {
                $(chart2.series).each(function(){
                    this.setVisible(true, false);
                });
                hide.html('Hide all series');
            }
            chart2.redraw();
        }
    }
</script>
