<td colspan="6" style="text-align: center">
    <button id="button" title="Click to change an individual series color or symbol" onClick="seriesChange()">Change series</button>
</td>

<script type="text/javascript">
    function seriesChange() {
        if (dataType == 1) {
            var legIndex = prompt("Please enter the series index (position in legend) you wish to change:", 0);
            var color = prompt("Please enter your desired color:", "#008800");
            if (legIndex == 0) {
                var index = 0;
            } else {
                index = 2*legIndex;
            }
            var series = chart1.series[index];
            if (color != '') {
                series.options.color = color;
                series.options.states.hover.color = color;
                series.update(series.options);
                chart1.redraw();
            }
            var item = series.legendItem;
            item.on('mouseover', function (e) {
                $(this).qtip({
                    content: {
                        text: 'Index: ' + legIndex + '<br>' + 'Color: ' + color
                    },
                    style: {
                        classes: 'qtip-jtools'
                    },
                    show: {
                        ready: true
                    }
                });
            });
        } else if (dataType == 2) {
            index = prompt("Please enter the series index (position in legend) you wish to change:", 0);
            color = prompt("Please enter your desired color:", "#008800");
            var line = 0;
            if (index%2 == 0) {
                var marker = prompt("Please enter your desired symbol:", "square");
            } else {
                line = 1;
            }
            series = chart2.series[index];
            if (color != '') {
                series.options.color = color;
                series.options.states.hover.color = color;
            }
            if (marker != '') {
                series.options.marker.symbol = marker;
            }
            if ((color != '') || (marker != '')) {
                series.update(series.options);
                chart2.redraw();
            }
            item = series.legendItem;
            item.on('mouseover', function (e) {
                if (line==0) {
                   $(this).qtip({
                    content: {
                        text: 'Index: ' + index + '<br>' + 'Color: ' + color + '<br>' + 'Symbol: ' + marker
                    },
                    style: {
                        classes: 'qtip-jtools'
                    },
                    show: {
                        ready: true
                    }
                    });
                } else {
                    $(this).qtip({
                    content: {
                        text: 'Index: ' + index + '<br>' + 'Color: ' + color
                    },
                    style: {
                        classes: 'qtip-jtools'
                    },
                    show: {
                        ready: true
                    }
                    });
                }

            });
        }
    }
</script>
