<table border="2" cellspacing="0" cellpadding="5" class="inlineTable" style="margin-left:10px;">
    <tr style="height: 40px;">
        <th>Select Response Variable:<br>
            <a href="#" id="clearTaxa" style="font-size: 12px;">-Deselect all-</a>
        </th>
    </tr>

    <tr>
        <td style="padding-right: 10px; vertical-align: top">
            <div id="tree_taxa" ></div>
            <div id="tree_kegg" style="display:none">></div>
            <div id="tree_nz" style="display:none">></div>
        </td>
    </tr>
</table>