
{% load i18n admin_static %}<!DOCTYPE html>
{% block title %}{{ title }} | {{ site_title|default:_('PhyloDB Admin Page') }}{% endblock %}




{% load static %}



<body>



    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' media='screen'>

    {% block pagetitle %}{% endblock pagetitle %}

    <!-- jquery -->
    <script src="{% static "jquery/jquery-1.11.1.min.js" %}" type="text/javascript"></script>

    <!-- jquery-ui -->
    <link rel='stylesheet' type='text/css' href="{% static "jquery-ui/jquery-ui.css" %}">
    <script src="{% static "jquery-ui/jquery-ui.js" %}" type="text/javascript"></script>

    <!-- dynatree -->
    <script src="{% static "dynatree/jquery.cookie.js" %}" type="text/javascript"></script>
    <link rel='stylesheet' type='text/css' href="{% static "dynatree/src/skin/ui.dynatree.css" %}">
    <script src="{% static "dynatree/src/jquery.dynatree.js" %}" type="text/javascript"></script>

    <!-- dataTable -->
    <link rel='stylesheet' type='text/css' href="{% static "datatables/css/jquery.dataTables.css" %}">
    <script src="{% static "datatables/js/jquery.dataTables.js" %}" type="text/javascript"></script>
    <link rel='stylesheet' type='text/css' href="{% static "datatables/css/jquery.dataTables_themeroller.css" %}">

    <!-- tableTools -->
    <link rel='stylesheet' type='text/css' href="{% static "tabletools/css/dataTables.tableTools.css" %}">
    <script src="{% static "tabletools/js/dataTables.tableTools.js" %}" type="text/javascript"></script>

    <!-- high charts -->
    <script src="{% static "highcharts/highcharts.js" %}" type="text/javascript"></script>
    <script src="{% static "highcharts/exporting.js" %}" type="text/javascript"></script>

    {% block javascript %}{% endblock javascript %}

    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/getCookie/',
                data: {},
                success: function (data) {
                    if (data == 'no') {
                        $("#link0").hide();
                        $("#link1").hide();
                        $("#link2").hide();
                        $("#link3").hide();
                        $("#link4").hide();
                    } else if (data == 'yes') {
                        $("#link0").show();
                        $("#link1").show();
                        $("#link2").show();
                        $("#link3").show();
                        $("#link4").show();
                    }
                }
            });
        });
    </script>

        <div id="header">
            <table>
                <tr>
                    <td style="width: 5%; height: 70px;"><img style="height:60px;" alt="" src="/media/images/database_2_48.png"></td>
                    <td style="width: 5%; height: 70px;"><img style="height:60px;" alt="" src="/media/images/DNA.jpeg"></td>
                    <td style="width: 65%; height: 70px;" align="center"><h1 style="font-size: 24px; padding-left: 25px; padding-right: 25px;">myPhyloDB: A local database storage and retrieval system for the analysis of metagenomic data</h1></td>
                    <td style="width: 25%; height: 55px; float: left; padding-top: 15px;"><img style="height:50px;" alt="" src="/media/images/ARS.jpeg"></td>
                </tr>

            </table>
        </div>






        <div id="Menu" style="background-color: white">
            <div class="menuTitle">
               Menu
            </div>

            <div class="menuItems">
                <hr><p><em><strong>General Info</strong></em></p><hr>

                <a class="Offmouse" href="{% url "home" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px">Overview</li></a>
                <a href="/myPhyloDB/admin"><li style="margin-left: 15px">Manage Users</li></a>
                <br>

                <div>
                    <hr><p><em><strong>Get Data</strong></em></p><hr>
                </div>

                <a class="Offmouse" href="{% url "upload" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px">[Upload Data]</li></a>
                <a class="Offmouse" href="{% url "select" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px">Select Data</li></a>
                <br>

                <div>
                    <hr><p><em><strong>Taxonomy</strong></em></p><hr>
                </div>

                <a class="Offmouse" href="{% url "taxa" %}" target="_blank" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px">Search Taxa</li></a>
                <br>

                <div id="link0">
                    <hr><p><em><strong>Analysis</strong></em></p><hr>
                </div>

                <p id="link1" style="display: none"><strong>Univariate</strong></p>
                <a id="link2" style="display: none" class="Offmouse" href="{% url "anova" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px">ANOVA/Regr</li></a>
                <br>

                <p id="link3" style="display: none"><strong>Multivariate</strong></p>
                <a id="link4" style="display: none" class="Offmouse" href="{% url "pcoa" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px">PCoA</li></a>
                <br>

                {% block menu_item %}{% endblock menu_item %}
            </div>
        </div>
        <div id="Content">
            {% block my_content %}
                <div id="adminStuff">
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url "django.contrib.auth.views.logout" %}">Logout</a>
                    {% endif %}
                </li>
                {% block usertools %}{% endblock %}
                {% block welcome-msg %}
                {% block userlinks %}{% endblock %}
                {% endblock %}
                {% block breadcrumbs %}{% endblock %}
                {% block messages %}{% endblock %}
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% endblock %}
                {% block content %}{% endblock %}
                {% block object-tools %}{% endblock %}
                {% block sidebar %}{% endblock %}
                {% block footer %}{% endblock %}
                </div>
            {% endblock my_content%}
        </div>

</body>
{% block nav-global %}{% endblock %}