#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=PhyloDB
Icon=database_2_48.png
Exec=gnome-terminal -x bash -c "cd $HOME/myPhyloDB; ./myPhyloDB.exe; exec $SHELL"
Name[en_US]=myPhyloDB
X-GNOME-Autostart-enabled=true
