{% extends "allauth/account/base.html" %}

{% load i18n %}
#{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1>{% trans "Sign In" %}</h1>



        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
         <table style="background-color: white">
            <tr>
                <td style="width: 10px"></td>
                <td style="text-align: right">{{ form.login.label }}:&nbsp;</td>
                <td>{{ form.login }}</td>
                <td><font color="red">{{ form.errors.login }}</font></td>
            </tr>
            <tr>
                <td style="width: 10px"></td>
                <td style="text-align: right">{{ form.password.label }}:&nbsp;</td>
                <td>{{ form.password }}</td>
                <td><font color="red">{{ form.errors.password }}</font></td>
            </tr>
            <tr>
                <td style="width: 10px"></td>
                <td style="text-align: right">{{ form.remember.label }}:&nbsp;</td>
                <td>{{ form.remember }}</td>
                <td><font color="red">{{ form.errors.remember }}</font></td>
            </tr>
         </table>
        {% comment %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
       {% endcomment %}
        <br>
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>

{% endblock %}
