{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Univariate-ANOVA</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>User logged in as:<br>&nbsp;{{ user.username }}</p>
    {% else %}
        <p>User logged in as:<br>&nbsp;guest</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var button1 = 1, DepVar = 1, NormMeth = 1, StatTest = 1, selTheme = 0, i = 0;
        var nodesCat = "", nodesQuant = "", nodesTaxa = "", selectAll = 0;
        var chart1 = {}, chart2 = {};
        var catOptions = {}, quantOptions = {};
        var sig1_only = 0, sig2_only = 0;
        var refresh = 0;

        $(function () {
            $("#tree_metaCat").dynatree({
                checkbox: true,
                rootVisible: false,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getSampleCatTreeChildren/',
                        data: {pType: node.data.tooltip, field: node.data.title},
                        success: function (node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesCat = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                }
            });

            $("#tree_metaQuant").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleQuantTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getSampleQuantTreeChildren/',
                        data: {pType: node.data.tooltip, field: node.data.title},
                        success: function (node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesQuant = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");

                    var count = 0;
                    $.each(nodesQuant, function(key, value) {
                        if (value.getLevel() == 3) {
                            count += 1;
                        }
                        if (count > 1) {
                            alert("Please select only one quantitative variable!");
                            return false;
                        }
                    });
                }
            });

            $("#tree_taxa").dynatree({
                checkbox: true,
                selectMode: 2,
                initAjax: {
                    url: '/getTaxaTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getTaxaTreeChildren/',
                        data: {
                            tooltip: node.data.tooltip,
                            id: node.data.id
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesTaxa = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                    searchData();
                },
                onClick: function () {
                    selectAll = 0;
                    $("#selectall").val(0);
                }
            });

            var $button = $("#button");
            $button.click(function() {
                if (button1 == 1) {
                    var series = chart1.series[0];
                    if (series.visible) {
                        $(chart1.series).each(function () {
                            this.setVisible(false, false);
                        });
                        chart1.redraw();
                        $button.html('Show all series');
                    } else {
                        $(chart1.series).each(function () {
                            this.setVisible(true, false);
                        });
                        chart1.redraw();
                        $button.html('Hide all series');
                    }
                }
                if (button1 == 2) {
                    var series = chart2.series[0];
                    if (series.visible) {
                        $(chart2.series).each(function(){
                            this.setVisible(false, false);
                        });
                        chart2.redraw();
                        $button.html('Show all series');
                    } else {
                        $(chart2.series).each(function(){
                            this.setVisible(true, false);
                        });
                        chart2.redraw();
                        $button.html('Hide all series');
                    }
                }
            });

            $("#run").show().click(function () {
                chooseData();
            });

            $("#button1").change(function () {
                button1 = $(this).val();
                $button.html('Hide series');
                chooseDisplay();
                $('#res_table').empty();
                $("#run").css("background-color", "lightgray");
            });

            $("#DepVar").change(function () {
                DepVar = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#NormMeth").change(function () {
                NormMeth = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#NormVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#MinVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#FdrVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#StatTest").change(function () {
                StatTest = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#sig_box-1").change(function () {
                if (document.getElementById('sig_box-1').checked) {
                    sig1_only = 1
                } else {
                    sig1_only = 0
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#sig_box-2").change(function () {
                if (document.getElementById('sig_box-2').checked) {
                    sig2_only = 1
                } else {
                    sig2_only = 0
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#theme").change(function () {
                selTheme = $(this).val();

                if (selTheme == 1) {
                    if (button1 == 1) {
                        $("#container-1").empty();
                        new Highcharts.Chart(catOptions);
                    }
                    else if (button1 == 2) {
                        $("#container-2").empty();
                        new Highcharts.Chart(quantOptions);
                    }
                }
                else if (selTheme == 2) {
                    $.getScript('{% static 'highcharts/themes/dark-blue.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 3) {
                    $.getScript('{% static 'highcharts/themes/dark-green.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 4) {
                    $.getScript('{% static 'highcharts/themes/dark-unica.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 5) {
                    $.getScript('{% static 'highcharts/themes/gray.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 6) {
                    $.getScript('{% static 'highcharts/themes/grid.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 7) {
                    $.getScript('{% static 'highcharts/themes/grid-light.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 8) {
                    $.getScript('{% static 'highcharts/themes/sand-signika.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 9) {
                    $.getScript('{% static 'highcharts/themes/skies.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
            });

            $("#clearMeta").click(function () {
                if (button1 == 1) {
                    $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                        node.select(false);
                    });
                }
                else if (button1 == 2) {
                    $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                        node.select(false);
                    });
                }
                $("#run").css("background-color", "lightgray");
            });

            $("#clearTaxa").click(function () {
                $("#selectall").val(0);
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                selectAll = 0;
                $("#run").css("background-color", "lightgray");
            });

            $("#selectall").change(function () {
                selectAll = $(this).val();
                $("#run").css("background-color", "lightgray");
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });
        });

        function updateStatus(RID) {
            $.ajax({
                url: '/statusANOVA/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    if (button1 == 1) {
                        $('#container-1').empty().append(stage);
                    } else if (button1 == 2) {
                        $('#container-2').empty().append(stage);
                    }
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){
                updateStatus(RID);
            }, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);
        }

        function chooseDisplay() {
            if (button1 == 1) {
                $("#tree_metaQuant").hide();
                $("#tree_metaCat").show();
                $("#container-2").hide();
                $("#container-1").show();
                $("#text-1").show();
                $("#text-2").hide();
                $("#sig_text-1").show();
                $("#sig_text-2").hide();
                $("#StatTest").show();
                $("#StatTest-text").show();
                if (StatTest == 2) {
                    $("#FdrRow").show();
                    $("#FdrRow-off").hide();
                } else {
                    $("#FdrRow").hide();
                    $("#FdrRow-off").show();
                }
            }
            else if (button1 == 2) {
                $("#tree_metaCat").show();
                $("#tree_metaQuant").show();
                $("#container-1").hide();
                $("#container-2").show();
                $("#text-1").hide();
                $("#text-2").show();
                $("#sig_text-1").hide();
                $("#sig_text-2").show();
                $("#StatTest").hide();
                $("#StatTest-text").hide();
                $("#FdrRow").hide();
                $("#FdrRow-off").show();
            }
            if ((NormMeth == 2) || (NormMeth == 3)) {
                $("#NormRow").show();
                $("#NormRow-off").hide();
            } else {
                $("#NormRow").hide();
                $("#NormRow-off").show();
            }
           if ((NormMeth == 4) || (NormMeth == 5) || (NormMeth == 6)) {
                $("#MinRow").show();
                $("#MinRow-off").hide();
            } else {
                $("#MinRow").hide();
                $("#MinRow-off").show();
            }
        }

        function chooseData() {

            if (document.getElementById("NormVal").value < 0) {
                alert("Sample size can only be a positive integer, 'min', 'median', or 'max'");
                return;
            }

            if (document.getElementById("MinVal").value < 0) {
                alert("Sample size can only be a positive integer");
                return;
            }

            if (document.getElementById("FdrVal").value < 0 || document.getElementById("FdrVal").value > 1) {
                alert("False Discovery Rate must be between 0 and 1");
                return;
            }

            if ((nodesCat != "") && (((nodesTaxa != "") || (selectAll != 0))) && (button1 == 1)) {
                $("#run").css("background-color", "yellow");
                $("#container-1").empty().append('Analysis is running...please be patient');
                getCatGraphData();
            }
            else if ((nodesQuant != "") && (((nodesTaxa != "") || (selectAll != 0))) && (button1 == 2)) {
                $("#run").css("background-color", "yellow");
                $("#container-2").empty().append('Analysis is running...please be patient');
                getQuantGraphData();
            }
            else if ((nodesCat == "") && (nodesTaxa == "") && (selectAll == 0) && (button1 == 1)) {
                $("#container-1").empty().append('Please choose your meta variable(s) and taxa level(s)!');
                $("#text-1").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
            }
            else if ((nodesQuant == "") && (nodesTaxa == "") && (selectAll == 0) && (button1 == 2)) {
                $("#container-2").empty().append('Please choose your meta variable(s) and taxa level(s)!');
                $("#text-2").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
            }
            else if ((nodesCat != "") && (nodesTaxa == "") && (selectAll == 0) && (button1 == 1)) {
                $("#container-1").empty().append('Please also choose your taxa level(s)!');
                $("#text-1").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
            }
            else if ((nodesQuant != "") && (nodesTaxa == "") && (selectAll == 0) && (button1 == 2)) {
                $("#container-2").empty().append('Please also choose your taxa level(s)!');
                $("#run").css("background-color", "red");
            }
            else if ((nodesCat == "") && (nodesTaxa != "") && (button1 == 1)) {
                $("#container-1").empty().append('Please also choose your meta variable(s)!');
                $("#text-1").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
            }
            else if ((nodesQuant == "") && (nodesTaxa != "") && (button1 == 2)) {
                $("#container-2").empty().append('Please select at least one quantitative variable(s)!');
                $("#run").css("background-color", "red");
            }
        }

        function searchData() {
            var search = $.map(nodesTaxa, function(node) {
                return node.data.title;
            });
            $("#MicrobeWiki").attr("href", "https://microbewiki.kenyon.edu/index.php/Special:Search?search=" + search);
            $("#Wiki").attr("href", "http://en.wikipedia.org/wiki/" + search);
            $("#Google").attr("href", "http://www.google.com/search?q=" + search);
        }

        function checkDupes(list) {
            var bools = [];
            var firsts = [];
            for (var i=0; i<list.length; i++) {
                var sub = list[i].split(':');
                var found = firsts.indexOf(sub[0]);
                if (found==-1) {
                    firsts.push(sub[0]);
                    bools.push(false);
                } else {
                    bools[found] = true;
                }
            }
            return (bools.indexOf(false)==-1);
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function getCatGraphData() {
            var RID = makeGUID();
            startTimer(RID);
            var array1 = [];
            var Parent = '';
            var key = '';
            var value = '';
            var next = '';
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 4) {
                    Parent = nodesCat[i].getParent();
                    if ((Parent.data.id == 'mimark') || (Parent.data.id == 'user')) {
                        key = nodesCat[i].data.id;
                        value = nodesCat[i].data.title;
                        next = '"' + key + '" : "' + value + '"';
                        array1.push(next);
                    }
                }
                else if (nodesCat[i].getLevel() == 5) {
                    Parent = nodesCat[i].getParent();
                    if ((Parent.data.id == 'human_associated') || (Parent.data.id == 'soil')) {
                        key = nodesCat[i].data.id;
                        value = nodesCat[i].data.title;
                        next = '"' + key + '" : "' + value + '"';
                        array1.push(next);
                    }
                }
            }

            if ((!checkDupes(array1)) && (StatTest == 2)) {
                stopTimer(RID);
                $("#run").css("background-color", "lightgray");
                $("#container-1").empty().append('Analysis has been cancelled!');
                alert("Selected meta data only has one level.\nPlease select a different variable.");
            } else {
                var meta = "{" + array1.join(",") + "}";

                var array2 = [];
                for (i = 0; i < nodesTaxa.length; i++) {
                    key = nodesTaxa[i].data.tooltip;
                    value = nodesTaxa[i].data.id;
                    if (nodesTaxa[i].getLevel() >= 2) {
                        next = '"' + key + '" : "' + value + '"';
                        array2.push(next);
                    }
                }
                var taxa = "{" + array2.join(",") + "}";
                var myDict = {};
                myDict['meta'] = meta;
                myDict['taxa'] = taxa;
                myDict['DepVar'] = DepVar;
                myDict['NormVal'] = document.getElementById("NormVal").value;
                myDict['MinSize'] = document.getElementById("MinVal").value;
                myDict['sig_only'] = sig1_only;
                myDict['selectAll'] = selectAll;
                myDict['FdrVal'] = document.getElementById("FdrVal").value;
                myDict['NormMeth'] = NormMeth;
                myDict['StatTest'] = StatTest;
                myDict['RID'] = RID;
                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    url: '/getCatUnivData/',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        all: jsonDict
                    },
                    success: function(data) {
                        stopTimer(refresh);
                        var xAxis = data['xAxis'];
                        var series = data['series'];
                        var yAxis = data['yAxis'];
                        var empty = data['empty'];
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                        }
                        if (empty == 0) {
                            alert('No significant tests!');
                        }
                        barchart(xAxis, yAxis, series);
                        var text = data['text'];
                        $('#text-1').val(text);

                        var res_table = data['res_table'];
                        $('#res_table').empty().append(res_table).find('.table').DataTable({
                            "jQueryUI": true,
                            "sDom": 'T<"clear">lfrtip',
                            "oTableTools": {
                                "sSwfPath": "{% static "tabletools/swf/copy_csv_xls_pdf.swf" %}"
                            },
                            "bSort": true,
                            "scrollX": true
                        }).draw();

                        var biome = data['biome'];
                        $("#biome-text").empty().append(biome);

                        $("#run").css("background-color", "green");
                    }
                });
            }
        }

        function getQuantGraphData() {
            var RID = makeGUID();
            startTimer(RID);
            var arrayCat = [];
            var arrayQuant = [];
            var Parent = '';
            var key = '';
            var value = '';
            var next = '';
            for (var i = 0; i < nodesQuant.length; i++) {
                Parent = nodesQuant[i].getParent();
                if (nodesQuant[i].getLevel() == 4) {
                    if ((Parent.data.id == 'mimark') || (Parent.data.id == 'user')) {
                        key = nodesQuant[i].data.id;
                        value = nodesQuant[i].data.title;
                        next = '"' + key + '" : "' + value + '"';
                        arrayQuant.push(next);
                    }
                }
                else if (nodesQuant[i].getLevel() == 5) {
                    if ((Parent.data.id == 'human_associated') || (Parent.data.id == 'soil')) {
                        key = nodesQuant[i].data.id;
                        value = nodesQuant[i].data.title;
                        next = '"' + key + '" : "' + value + '"';
                        arrayQuant.push(next);
                    }
                }
            }
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 4) {
                    Parent = nodesCat[i].getParent();
                    if ((Parent.data.id == 'mimark') || (Parent.data.id == 'user')) {
                        key = nodesCat[i].data.id;
                        value = nodesCat[i].data.title;
                        next = '"' + key + '" : "' + value + '"';
                        arrayCat.push(next);
                    }
                }
                else if (nodesCat[i].getLevel() == 5) {
                    Parent = nodesCat[i].getParent();
                    if ((Parent.data.id == 'human_associated') || (Parent.data.id == 'soil')) {
                        key = nodesCat[i].data.id;
                        value = nodesCat[i].data.title;
                        next = '"' + key + '" : "' + value + '"';
                        arrayCat.push(next);
                    }
                }
            }

            var metaCat = '';
            if (nodesCat.length > 0) {
                metaCat = "{" + arrayCat.join(",") + "}";
            }

            var metaQuant = '';
            if (nodesQuant.length > 0) {
                metaQuant = "{" + arrayQuant.join(",") + "}";
            }

            var meta = '';
            if ((nodesCat.length > 0) && (nodesQuant.length > 0)) {
                meta = "{" + arrayCat.join(",") + "," + arrayQuant.join(",") + "}";
            }
            else if ((nodesCat.length == 0) && (nodesQuant.length > 0)) {
                meta = "{" + arrayQuant.join(",") + "}";
            }
            else if ((nodesCat.length > 0) && (nodesQuant.length == 0)) {
                meta = "{" + arrayCat.join(",") + "}";
            }

            var array2 = [];
            for (i = 0; i < nodesTaxa.length; i++) {
                var value2 = nodesTaxa[i].data.id;
                var key2 = nodesTaxa[i].data.tooltip;
                if (nodesTaxa[i].getLevel() >= 2) {
                    var next2 = '"' + key2 + '" : "' + value2 + '"';
                    array2.push(next2);
                }
            }
            var taxa = "{" + array2.join(",") + "}";

            var myDict = {};
            myDict['meta'] = meta;
            myDict['metaCat'] = metaCat;
            myDict['metaQuant'] = metaQuant;
            myDict['taxa'] = taxa;
            myDict['DepVar'] = DepVar;
            myDict['sig_only'] = sig2_only;
            myDict['selectAll'] = selectAll;
            myDict['NormVal'] = document.getElementById("NormVal").value;
            myDict['MinSize'] = document.getElementById("MinVal").value;
            myDict['NormMeth'] = NormMeth;
            myDict['RID'] = RID;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getQuantUnivData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    stopTimer(RID);
                    var xAxis = data['xAxis'];
                    var series = data['series'];
                    var yAxis = data['yAxis'];
                    var empty = data['empty'];
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                    }
                    if (empty == 0) {
                        alert('No significant regressions!');
                    }
                    linechart(xAxis, yAxis, series);
                    var text = data['text'];
                    $('#text-2').val(text);

                    var res_table = data['res_table'];
                    $('#res_table').empty().append(res_table).find('.table').DataTable({
                        "jQueryUI": true,
                        "sDom": 'T<"clear">lfrtip',
                        "oTableTools": {
                            "sSwfPath": "{% static "tabletools/swf/copy_csv_xls_pdf.swf" %}"
                        },
                        "bSort": true,
                        "scrollX": true
                    }).draw();

                    var biome = data['biome'];
                    $("#biome-text").empty().append(biome);

                    $("#run").css("background-color", "green");
                }
            });
        }

        function barchart(xAxis, yAxis, series) {
           catOptions = {
                chart: { renderTo: 'container-1', type: 'column' },
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '7px',
                        font: '7pt Trebuchet MS, Verdana, sans-serif'
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 20,
                    labelFormatter: function () {
                        return this.name[0] + ': ' + this.name[1] + '<br/>'
                    }
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                tooltip: {
                    formatter: function () {
                        return this.series.name[0] + ':' + this.series.name[1] + '<br/>' +
                            'ID: ' + this.series.name[2] + '<br/>' +
                            'Value: ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: { stacking: 'normal' },
                    series: { borderWidth: 0}
                },
                credits: { enabled: false }
            };
            chart1 = new Highcharts.Chart(catOptions);
        }

        function linechart(xAxis, yAxis, series) {
            quantOptions = {
                chart: { renderTo: 'container-2', type: 'scatter', zoomType: 'xy'},
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '7px',
                        font: '7pt Trebuchet MS, Verdana, sans-serif'
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 20
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                credits: { enabled: false }
            };
            chart2 = new Highcharts.Chart(quantOptions);
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <span>
        Select data type:
        <select id="button1">
            <option value="1" selected="selected">ANOVA</option>
            <option value="2" >ANCOVA</option>
        </select>
        &nbsp &nbsp
        Select all taxa:
        <select id="selectall">
            <option value="0" selected="selected">Off</option>
            <option value="2">Phyla</option>
            <option value="3">Classes</option>
            <option value="4">Orders</option>
            <option value="5">Families</option>
            <option value="6">Genera</option>
            <option value="7">Species</option>
        </select>
    </span>
    <!-- tree tables -->
    <div>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Select Meta Data:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_metaQuant" style="display: none"></div>
                    <div id="tree_metaCat"></div>
                </td>
            </tr>
        </table>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable" style="margin-left:10px;">
            <tr>
                <th>Select Taxa:<a href="#" id="clearTaxa" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_taxa"></div>
                </td>
            </tr>
        </table>
    </div>
    <br><br>

    <div style="float: left; padding-left: 10px;" id="sig_text-1">
        Display only significantly different taxa (p <= 0.05):
        <input type="checkbox" id="sig_box-1">
    </div>
    <div style="float: left; padding-left: 10px; display: none" id="sig_text-2">
        Display only significant regressions (p <= 0.05):
        <input type="checkbox" id="sig_box-2">
    </div>

    <div  style="float: right; padding-right: 10px;">Select chart theme:
        <select id="theme">
            <option value="1" selected="selected">default</option>
            <option value="2">dark-blue</option>
            <option value="3">dark-green</option>
            <option value="4">dark-unica</option>
            <option value="5">gray</option>
            <option value="6">grid</option>
            <option value="7">grid-light</option>
            <option value="8">sand-signika</option>
            <option value="9">skies</option>
        </select>
        &nbsp&nbsp
    </div>
    <table width="950px" border="2">
        <tr>
            <th colspan="3" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td style="width: 33%; text-align: left">
                Dependent variable:<select id="DepVar">
                    <option value="1">Abundance</option>
                    <option value="2">Species Richness</option>
                    <option value="3">Species Diversity</option>
                </select>
            </td>
            <td style="width: 34%; text-align: center">
                Normalization method:
                <select id="NormMeth">
                    <option value="1" selected="selected">None</option>
                    <option value="2">Rarefaction (remove)</option>
                    <option value="3">Rarefaction (keep)</option>
                    <option value="4">Proportion</option>
                    <option value="5">DESeq2</option>
                </select>
            </td>
            <td id="StatTest-text" style="width: 33%; text-align: right">
                Statistical test:
                <select id="StatTest">
                    <option value="1" selected="selected">ANOVA</option>
                    <option value="2">Welch's two-sided t-test</option>
                </select>
            </td>
        </tr>
        <tr>
            <td id="NormRow-off"></td>
            <td id="MinRow-off"></td>
            <td id="NormRow" style="display: none; text-align: center">
                Subsample size:
                <input style="background-color: white" type="text" id="NormVal" value="median"/>
            </td>
            <td id="MinRow" style="display: none; text-align: center">
                Minimum sample size:
                <input style="background-color: white"  type="text" id="MinVal" value="1000"/>
            </td>
            <td id="FdrRow" style="text-align: right; display: none">
                False Discovery Rate:
                <input style="background-color: white" type="text" id="FdrVal" value="0.10"/>
            </td>
            <td id="FdrRow-off"></td>
        </tr>
        <tr>
            <td colspan="3">
                <div id="container-1" style="height: 400px;">No Data has been selected!</div>
                <div id="container-2" style="height: 400px; display: none">No Data has been selected!</div>
            </td>
        </tr>
    </table>
    <!--<button id="button">Hide all series</button>-->

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <textarea style="width: 950px; display: none" wrap="off" id="text-2" rows="20">No data selected</textarea>
        <br>
    </div>

    <br>
    <h2>Raw Data (Tabular):</h2>
    <div id="res_table" style="width: 950px; overflow-x: auto;"></div>

    <br>
    <h2>Raw Data (Biom Format):</h2>
    <textarea id="biome-text" style="width: 950px;" wrap="off" rows="20"></textarea>
    <br>
    <br>
{% endblock my_content%}
