{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>ANcOVA</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!" style="background-color: lightgray"/></p>
    <br>
    <p><input id="stop" type="submit" value="Stop Analysis!" style="background-color: lightgray"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var button1 = 1, DepVar = 1, selTheme = 0, i = 0;
        var nodesCat = "", nodesQuant = "", nodesTaxa = "", selectAll = 0;
        var chart1 = {}, chart2 = {};
        var catOptions = {}, quantOptions = {};
        var sig1_only = 0, sig2_only = 0;
        var refresh = 0;
        var running = false;
        var RID = 0;

        $(function () {

            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' × 10³', ' × 10⁶', ' × 10⁹', ' × 10¹²', ' × 10¹⁵', ' × 10¹⁸']
                }
            });

            $("#tree_metaCat").dynatree({
                checkbox: true,
                rootVisible: false,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getSampleCatTreeChildren/',
                        data: {pType: node.data.pType, field: node.data.title},
                        success: function (node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesCat = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                }
            });

            $("#tree_metaQuant").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleQuantTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getSampleQuantTreeChildren/',
                        data: {pType: node.data.pType, field: node.data.title},
                        success: function (node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesQuant = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");

                    var count = 0;
                    $.each(nodesQuant, function(key, value) {
                        if (value.getLevel() == 3) {
                            count += 1;
                        }
                        if ((count > 1) && (button1 == 2)) {
                            alert("Please select only one quantitative variable!");
                            return false;
                        }
                    });
                }
            });

            $("#tree_taxa").dynatree({
                checkbox: true,
                selectMode: 2,
                initAjax: {
                    url: '/getTaxaTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getTaxaTreeChildren/',
                        data: {
                            tooltip: node.data.tooltip,
                            id: node.data.id
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesTaxa = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                    searchData();
                },
                onClick: function () {
                    selectAll = 0;
                    $("#selectall").val(0);
                }
            });

            var $button = $('#hide');
            $button.click(function() {
                if (button1 == 1) {
                    var series = chart1.series[0];
                    if (series.visible) {
                        $(chart1.series).each(function(){
                            this.setVisible(false, false);
                        });
                        chart1.redraw();
                        $button.html('Show series');
                    } else {
                        $(chart1.series).each(function(){
                            this.setVisible(true, false);
                        });
                        chart1.redraw();
                        $button.html('Hide series');
                    }
                } else {
                    var series = chart2.series[0];
                    if (series.visible) {
                        $(chart2.series).each(function(){
                            this.setVisible(false, false);
                        });
                        chart2.redraw();
                        $button.html('Show series');
                    } else {
                        $(chart2.series).each(function(){
                            this.setVisible(true, false);
                        });
                        chart2.redraw();
                        $button.html('Hide series');
                    }
                }
            });

            $('#button').click(function() {
                if (button1 == 1) {
                    var index = prompt("Please enter the series index (position in legend) you wish to change:", 0);
                    var color = prompt("Please enter your desired color:", "#008800");
                    var series = chart1.series[index];
                    if (color != '') {
                        series.options.color = color;
                        series.options.states.hover.color = color;
                        series.update(series.options);
                        chart1.redraw();
                    }
                    var item = series.legendItem;
                    item.on('mouseover', function (e) {
                        $(this).qtip({
                            content: {
                                text: 'Index: ' + index + '<br>' + 'Color: ' + color
                            },
                            style: {
                                classes: 'qtip-jtools'
                            },
                            show: {
                                ready: true
                            }
                        });
                    });
                }
                if (button1 == 2) {
                    var index = prompt("Please enter the series index (position in legend) you wish to change:", 0);
                    var color = prompt("Please enter your desired color:", "#008800");
                    var line = 0;
                    if (index%2==0)
                    {
                        var marker = prompt("Please enter your desired symbol:", "square");
                    }
                    else
                    {
                        line = 1;
                    }
                    var series = chart2.series[index];
                    if (color != '') {
                        series.options.color = color;
                        series.options.states.hover.color = color;
                    }
                    if (marker != '') {
                        series.options.marker.symbol = marker;
                    }
                    if ((color != '') || (marker != '')) {
                        series.update(series.options);
                        chart2.redraw();
                    }
                    var item = series.legendItem;
                    item.on('mouseover', function (e) {
                        if (line==0)
                        {
                           $(this).qtip({
                            content: {
                                text: 'Index: ' + index + '<br>' + 'Color: ' + color + '<br>' + 'Symbol: ' + marker
                            },
                            style: {
                                classes: 'qtip-jtools'
                            },
                            show: {
                                ready: true
                            }
                            });
                        }
                        else
                        {
                            $(this).qtip({
                            content: {
                                text: 'Index: ' + index + '<br>' + 'Color: ' + color
                            },
                            style: {
                                classes: 'qtip-jtools'
                            },
                            show: {
                                ready: true
                            }
                            });
                        }

                    });
                }
            });

            $("#run").show().click(function () {
                if(running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                running = true;
                chooseData();
            });

            $("#stop").show().click(function () {
                running = false;
                stopThis(RID);
            });

            $("#button1").change(function () {
                button1 = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#DepVar").change(function () {
                DepVar = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#sig_box-1").change(function () {
                if (document.getElementById('sig_box-1').checked) {
                    sig1_only = 1
                } else {
                    sig1_only = 0
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#sig_box-2").change(function () {
                if (document.getElementById('sig_box-2').checked) {
                    sig2_only = 1
                } else {
                    sig2_only = 0
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#theme").change(function () {
                selTheme = $(this).val();

                if (selTheme == 1) {
                    if (button1 == 1) {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(catOptions);
                        chart1.redraw();
                    }
                    else if (button1 == 2) {
                        $("#container-2").empty();
                        chart2 = new Highcharts.Chart(quantOptions);
                        chart2.redraw();
                    }
                }
                else if (selTheme == 2) {
                    $.getScript('{% static 'highcharts/themes/dark-blue.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 3) {
                    $.getScript('{% static 'highcharts/themes/dark-green.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 4) {
                    $.getScript('{% static 'highcharts/themes/dark-unica.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 5) {
                    $.getScript('{% static 'highcharts/themes/gray.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 6) {
                    $.getScript('{% static 'highcharts/themes/grid.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 7) {
                    $.getScript('{% static 'highcharts/themes/grid-light.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 8) {
                    $.getScript('{% static 'highcharts/themes/sand-signika.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
                else if (selTheme == 9) {
                    $.getScript('{% static 'highcharts/themes/skies.js' %}', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                            chart1.redraw();
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            chart2 = new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                            chart2.redraw();
                        }
                    });
                }
            });

            $("#clearMeta").click(function () {
                if (button1 == 1) {
                    $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                        node.select(false);
                    });
                }
                else if (button1 == 2) {
                    $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                        node.select(false);
                    });
                }
                $("#run").css("background-color", "lightgray");
            });

            $("#clearTaxa").click(function () {
                $("#selectall").val(0);
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                selectAll = 0;
                $("#run").css("background-color", "lightgray");
            });

            $("#selectall").change(function () {
                selectAll = $(this).val();
                $("#run").css("background-color", "lightgray");
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });
        });

        function stopThis(RID) {
            clearInterval(refresh);
            $.ajax({
                url: '/stopANOVA/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    if (button1 == 1) {
                        $('#container-1').empty().append(stage);
                    } else if (button1 == 2) {
                        $('#container-2').empty().append(stage);
                    }
                }
            });
        }

        function updateStatus(RID) {
            $.ajax({
                url: '/statusANOVA/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    if (button1 == 1) {
                        $('#container-1').empty().append(stage);
                    } else if (button1 == 2) {
                        $('#container-2').empty().append(stage);
                    }
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){
                updateStatus(RID);
            }, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);
        }

        function chooseDisplay() {
            if (button1 == 1) {
                $("#tree_metaQuant").show();
                $("#tree_metaCat").show();
                $("#container-2").hide();
                $("#container-1").show();
                $("#text-1").show();
                $("#text-2").hide();
                $("#sig_text-1").show();
                $("#sig_text-2").hide();
            }
            else if (button1 == 2) {
                $("#tree_metaCat").show();
                $("#tree_metaQuant").show();
                $("#container-1").hide();
                $("#container-2").show();
                $("#text-1").hide();
                $("#text-2").show();
                $("#sig_text-1").hide();
                $("#sig_text-2").show();
            }
        }

        function chooseData() {
            if (button1 == 1) {
                if ( (nodesCat != "") && ((nodesTaxa != "") || (selectAll != 0)) ) {
                    $("#run").css("background-color", "yellow");
                    $("#container-1").empty().append('Analysis is running...please be patient');
                    getCatGraphData();
                } else if ( (nodesCat == "") && ((nodesTaxa != "") || (selectAll != 0)) ) {
                    $("#container-1").empty().append('Please also choose at least one categorical variable(s)!');
                    $("#text-1").val('No data selected');
                    $("#text-raw").val('No data selected');
                    $("#run").css("background-color", "red");
                    running = false;
                } else if ( (nodesCat != "") && ((nodesTaxa == "") || (selectAll == 0)) ) {
                    $("#container-1").empty().append('Please also choose a taxa level(s)!');
                    $("#text-1").val('No data selected');
                    $("#text-raw").val('No data selected');
                    $("#run").css("background-color", "red");
                    running = false;
                } else if ( (nodesCat == "") && ((nodesTaxa == "") && (selectAll == 0)) ) {
                    $("#container-1").empty().append('Please also choose your categorical variable(s) and taxa level(s)!');
                    $("#text-1").val('No data selected');
                    $("#text-raw").val('No data selected');
                    $("#run").css("background-color", "red");
                    running = false;
                }
            }
            if (button1 == 2) {
                if ( (nodesQuant != "") && ((nodesTaxa != "") || (selectAll != 0)) ) {
                    $("#run").css("background-color", "yellow");
                    $("#container-2").empty().append('Analysis is running...please be patient');
                    getQuantGraphData();
                } else if ( (nodesQuant == "") && ((nodesTaxa != "") || (selectAll != 0)) ) {
                    $("#container-2").empty().append('Please also choose at least one quantitative variable(s)!');
                    $("#text-2").val('No data selected');
                    $("#text-raw").val('No data selected');
                    $("#run").css("background-color", "red");
                    running = false;
                } else if ( (nodesQuant != "") && ((nodesTaxa == "") || (selectAll == 0)) ) {
                    $("#container-2").empty().append('Please also choose a taxa level(s)!');
                    $("#text-2").val('No data selected');
                    $("#text-raw").val('No data selected');
                    $("#run").css("background-color", "red");
                    running = false;
                } else if ( (nodesQuant == "") && ((nodesTaxa == "") && (selectAll == 0)) ) {
                    $("#container-1").empty().append('Please also choose your quantitative variable(s) and taxa level(s)!');
                    $("#text-2").val('No data selected');
                    $("#text-raw").val('No data selected');
                    $("#run").css("background-color", "red");
                    running = false;
                }
            }
        }

        function searchData() {
            var search = $.map(nodesTaxa, function(node) {
                return node.data.title;
            });
            $("#MicrobeWiki").attr("href", "https://microbewiki.kenyon.edu/index.php/Special:Search?search=" + search);
            $("#Wiki").attr("href", "http://en.wikipedia.org/wiki/" + search);
            $("#Google").attr("href", "http://www.google.com/search?q=" + search);
        }

        function checkDupes(list) {
            var bools = [];
            var firsts = [];
            for (var i=0; i<list.length; i++) {
                var sub = list[i].split(':');
                var found = firsts.indexOf(sub[0]);
                if (found==-1) {
                    firsts.push(sub[0]);
                    bools.push(false);
                } else {
                    bools[found] = true;
                }
            }
            return (bools.indexOf(false)==-1);
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function getCatGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var arrayValsQuant = [];
            var arrayIDsQuant = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesQuant.length; i++) {
                if (nodesQuant[i].getLevel() == 5) {
                    if ((nodesQuant[i].data.table == 'mimark') || (nodesQuant[i].data.table == 'user')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
                else if (nodesQuant[i].getLevel() == 6) {
                    if ((nodesQuant[i].data.table == 'human_associated') || (nodesQuant[i].data.table == 'soil')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
            }
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            if (!checkDupes(arrayValsCat)) {
                stopTimer(RID);
                $("#run").css("background-color", "lightgray");
                $("#container-1").empty().append('Analysis has been cancelled!');
                alert("Selected meta data only has one level.\nPlease select a different variable.");
            } else {
                var metaValsCat = '';
                if (nodesCat.length > 0) {
                    metaValsCat = "{" + arrayValsCat.join(",") + "}";
                }

                var metaIDsCat = '';
                if (nodesCat.length > 0) {
                    metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
                }

                var metaValsQuant = '';
                if (nodesQuant.length > 0) {
                    metaValsQuant = "{" + arrayValsQuant.join(",") + "}";
                }

                var metaIDsQuant = '';
                if (nodesQuant.length > 0) {
                    metaIDsQuant = "{" + arrayIDsQuant.join(",") + "}";
                }

                var array2 = [];
                for (i = 0; i < nodesTaxa.length; i++) {
                    key = nodesTaxa[i].data.tooltip;
                    value = nodesTaxa[i].data.id;
                    if (nodesTaxa[i].getLevel() >= 2) {
                        var next = '"' + key + '" : "' + value + '"';
                        array2.push(next);
                    }
                }

                var taxa = "{" + array2.join(",") + "}";

                var myDict = {};
                myDict['metaValsCat'] = metaValsCat;
                myDict['metaIDsCat'] = metaIDsCat;
                myDict['metaValsQuant'] = metaValsQuant;
                myDict['metaIDsQuant'] = metaIDsQuant;
                myDict['taxa'] = taxa;
                myDict['DepVar'] = DepVar;
                myDict['sig_only'] = sig1_only;
                myDict['selectAll'] = selectAll;
                myDict['RID'] = RID;
                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    url: '/getCatUnivData/',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        all: jsonDict
                    },
                    success: function (data) {
                        running = false;
                        stopTimer(refresh);
                        var xAxis = data['xAxis'];
                        var series = data['series'];
                        var yAxis = data['yAxis'];
                        var empty = data['empty'];
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                            return
                        } else {
                            $("#run").css("background-color", "green");
                        }
                        if (empty == 0) {
                            $("#container-1").empty().append('No significant tests!');
                        } else {
                            barchart(xAxis, yAxis, series);
                        }
                        var text = data['text'];
                        $('#text-1').val(text);
                    }
                });
            }
        }

        function getQuantGraphData() {
            var RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var arrayValsQuant = [];
            var arrayIDsQuant = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesQuant.length; i++) {
                if (nodesQuant[i].getLevel() == 5) {
                    if ((nodesQuant[i].data.table == 'mimark') || (nodesQuant[i].data.table == 'user')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
                else if (nodesQuant[i].getLevel() == 6) {
                    if ((nodesQuant[i].data.table == 'human_associated') || (nodesQuant[i].data.table == 'soil')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
            }
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            if (!checkDupes(arrayValsCat)) {
                stopTimer(RID);
                $("#run").css("background-color", "lightgray");
                $("#container-1").empty().append('Analysis has been cancelled!');
                alert("Selected meta data only has one level.\nPlease select a different variable.");
            } else {
                var metaValsCat = '';
                if (nodesCat.length > 0) {
                    metaValsCat = "{" + arrayValsCat.join(",") + "}";
                }

                var metaIDsCat = '';
                if (nodesCat.length > 0) {
                    metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
                }

                var metaValsQuant = '';
                if (nodesQuant.length > 0) {
                    metaValsQuant = "{" + arrayValsQuant.join(",") + "}";
                }

                var metaIDsQuant = '';
                if (nodesQuant.length > 0) {
                    metaIDsQuant = "{" + arrayIDsQuant.join(",") + "}";
                }

                var array2 = [];
                for (i = 0; i < nodesTaxa.length; i++) {
                    key = nodesTaxa[i].data.tooltip;
                    value = nodesTaxa[i].data.id;
                    if (nodesTaxa[i].getLevel() >= 2) {
                        var next = '"' + key + '" : "' + value + '"';
                        array2.push(next);
                    }
                }

                var taxa = "{" + array2.join(",") + "}";

                var myDict = {};
                myDict['metaValsCat'] = metaValsCat;
                myDict['metaIDsCat'] = metaIDsCat;
                myDict['metaValsQuant'] = metaValsQuant;
                myDict['metaIDsQuant'] = metaIDsQuant;
                myDict['taxa'] = taxa;
                myDict['DepVar'] = DepVar;
                myDict['sig_only'] = sig1_only;
                myDict['selectAll'] = selectAll;
                myDict['RID'] = RID;
                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    url: '/getQuantUnivData/',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        all: jsonDict
                    },
                    success: function (data) {
                        running = false;
                        stopTimer(RID);
                        var xAxis = data['xAxis'];
                        var series = data['series'];
                        var yAxis = data['yAxis'];
                        var empty = data['empty'];
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }
                        if (empty == 0) {
                            $("#container-2").empty().append('No significant regressions!');
                        } else {
                            linechart(xAxis, yAxis, series);
                        }
                        var text = data['text'];
                        $('#text-2').val(text);
                    }
                });
            }
        }

        function barchart(xAxis, yAxis, series) {
           catOptions = {
                chart: {
                    renderTo: 'container-1',
                    type: 'column',
                    lang: {
                        numericSymbols: [' × 10³', ' × 10⁶', ' × 10⁹', ' × 10¹²', ' × 10¹⁵', ' × 10¹⁸']
                    },
                    events: {
                        load: function () {
                            var chart = this,
                                    legend = chart.legend;
                            for (var i = 0, len=legend.allItems.length; i< len; i++) {
                                (function(i) {
                                    var item = legend.allItems[i].legendItem;
                                    var color = chart.series[i].color;
                                    item.on('mouseover', function (e) {
                                        $(this).qtip({
                                            content: {
                                                text: 'Index: ' + i + '<br>' + 'Color: ' + color
                                            },
                                            style: {
                                                classes: 'qtip-jtools'
                                            },
                                            show: {
                                                ready: true
                                            }
                                        });
                                    });
                                })(i);
                            }
                        }
                    }
                },
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '7px',
                        font: '7pt Trebuchet MS, Verdana, sans-serif'
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 20,
                    labelFormatter: function () {
                        return this.name[0] + ': ' + this.name[1] + '<br/>'
                    }
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                scrollbar: {
                    enabled: true
                },
                tooltip: {
                    formatter: function () {
                        return this.series.name[0] + ':' + this.series.name[1] + '<br/>' +
                            'ID: ' + this.series.name[2] + '<br/>' +
                            'Value: ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: { stacking: 'normal' },
                    series: { borderWidth: 0}
                },
                credits: { enabled: false }
            };
            chart1 = new Highcharts.Chart(catOptions);
        }

        function linechart(xAxis, yAxis, series) {
            quantOptions = {
                chart: {
                    renderTo: 'container-2',
                    type: 'scatter',
                    lang: {
                        numericSymbols: [' × 10³', ' × 10⁶', ' × 10⁹', ' × 10¹²', ' × 10¹⁵', ' × 10¹⁸']
                    },
                    zoomType: 'xy',
                    events: {
                        load: function () {
                            var chart = this,
                                    legend = chart.legend;
                            for (var i = 0, len=legend.allItems.length; i< len; i++) {
                                (function(i) {
                                    var item = legend.allItems[i].legendItem;
                                    var color = chart.series[i].color;
                                    var symbol = chart.series[i].symbol;
                                    var type = chart.series[i].type;
                                    item.on('mouseover', function (e) {
                                        if (type == 'scatter') {
                                            $(this).qtip({
                                                content: {
                                                    text: 'Index: ' + i + '<br>' + 'Color: ' + color + '<br>' + 'Symbol: ' + symbol
                                                },
                                                style: {
                                                    classes: 'qtip-jtools'
                                                },
                                                show: {
                                                    ready: true
                                                }
                                            });
                                        }
                                        if (type == 'line') {
                                            $(this).qtip({
                                                content: {
                                                    text: 'Index: ' + i + '<br>' + 'Color: ' + color
                                                },
                                                style: {
                                                    classes: 'qtip-jtools'
                                                },
                                                show: {
                                                    ready: true
                                                }
                                            });
                                        }
                                    });
                                })(i);
                            }
                        }
                    }
                },
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '7px',
                        font: '7pt Trebuchet MS, Verdana, sans-serif'
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 20
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                scrollbar: {
                    enabled: true
                },
                lang: {
                    numericSymbols: null //otherwise by default ['k', 'M', 'G', 'T', 'P', 'E']
                },
                credits: { enabled: false }
            };
            chart2 = new Highcharts.Chart(quantOptions);
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Select Meta Data:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_metaCat"></div>
                    <div id="tree_metaQuant"></div>
                </td>
            </tr>
        </table>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable" style="margin-left:10px;">
            <tr>
                <th>Select Taxa:<a href="#" id="clearTaxa" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_taxa"></div>
                </td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
            <tr>
                <th bgcolor="white"></th>
            </tr>
            <tr>
                <td bgcolor="white">
                    <select id="button1">
                        <option value="1" selected="selected">Bar plot (factors)</option>
                        <option value="2" >Scatter plot (regression)</option>
                    </select>
                    &nbsp<-- Selected analysis
                </td>
            </tr>
            <tr>
                <td bgcolor="white">
                    <select id="selectall">
                        <option value="0" selected="selected">Off</option>
                        <option value="2">Phyla</option>
                        <option value="3">Classes</option>
                        <option value="4">Orders</option>
                        <option value="5">Families</option>
                        <option value="6">Genera</option>
                        <option value="7">Species</option>
                    </select>
                    &nbsp<-- Selected taxa level
                </td>
            </tr>
        </table>
    </div>
    <br><br>

    <div style="float: left; padding-left: 10px;" id="sig_text-1">
        Display only significantly tests (p <= 0.05):
        <input type="checkbox" id="sig_box-1">
    </div>
    <div style="float: left; padding-left: 10px; display: none" id="sig_text-2">
        Display only significant tests (p <= 0.05):
        <input type="checkbox" id="sig_box-2">
    </div>

    <table width="950px" border="2">
        <tr>
            <th colspan="3" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td style="width: 36%; text-align: left">
                Dependent variable:<select id="DepVar">
                    <option value="1">Abundance</option>
                    <option value="4">Abundance (rRNA gene copies)</option>
                    <option value="2">Species Richness</option>
                    <option value="3">Species Diversity</option>
                </select>
            </td>
            <td style="width: 34%; text-align: center"></td>
            <td id="StatTest-text" style="width: 30%; text-align: right">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div id="container-1" style="height: 400px;">No Data has been selected!</div>
                <div id="container-2" style="height: 400px; display: none">No Data has been selected!</div>
            </td>
        </tr>
        <tr id="highchartButtons">
            <td>
                <button id="hide" title="Click to show/hide all series in the graph">Hide all series</button>
            </td>
            <td>Select chart theme:
                <select id="theme">
                    <option value="1" selected="selected">default</option>
                    <option value="2">dark-blue</option>
                    <option value="3">dark-green</option>
                    <option value="4">dark-unica</option>
                    <option value="5">gray</option>
                    <option value="6">grid</option>
                    <option value="7">grid-light</option>
                    <option value="8">sand-signika</option>
                    <option value="9">skies</option>
                </select>
                &nbsp&nbsp
            </td>
            <td>
                <button id="button" title="Click to change an individual series color or symbol" style="float: right">Change series</button>
            </td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <textarea style="width: 950px; display: none" wrap="off" id="text-2" rows="20">No data selected</textarea>
        <br>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock my_content%}
