<!DOCTYPE html>


<html lang="en">
{% load static %}

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' media='screen'>

    {% block pagetitle %}{% endblock pagetitle %}

    <!-- jquery -->
    <script src="{% static "jquery/jquery-1.11.1.min.js" %}" type="text/javascript"></script>

    <!-- jquery-ui -->
    <link rel='stylesheet' type='text/css' href="{% static "jquery-ui/jquery-ui.css" %}">
    <script src="{% static "jquery-ui/jquery-ui.js" %}" type="text/javascript"></script>

    <!-- jquery qtip2 -->
    <link type="text/css" rel="stylesheet" href="{% static "jquery/jquery.qtip.min.css" %}" />
    <script type="text/javascript" src="{% static "jquery/jquery.qtip.min.js" %}"></script>

    <!-- dynatree -->
    <script src="{% static "dynatree/jquery.cookie.js" %}" type="text/javascript"></script>
    <link rel='stylesheet' type='text/css' href="{% static "dynatree/src/skin/ui.dynatree.css" %}">
    <script src="{% static "dynatree/src/jquery.dynatree.js" %}" type="text/javascript"></script>

    <!-- dataTable -->
    <link rel='stylesheet' type='text/css' href="{% static "datatables/css/jquery.dataTables.css" %}">
    <script src="{% static "datatables/js/jquery.dataTables.js" %}" type="text/javascript"></script>
    <link rel='stylesheet' type='text/css' href="{% static "datatables/css/jquery.dataTables_themeroller.css" %}">

    <!-- tableTools -->
    <link rel='stylesheet' type='text/css' href="{% static "tabletools/css/dataTables.tableTools.css" %}">
    <script src="{% static "tabletools/js/dataTables.tableTools.js" %}" type="text/javascript"></script>

    <!-- high charts -->
    <script src="{% static "highcharts/highcharts.js" %}" type="text/javascript"></script>
    <script src="{% static "highcharts/exporting.js" %}" type="text/javascript"></script>
    <script src="{% static "highcharts/grouped-categories.js" %}" type="text/javascript"></script>
    <script src="{% static "highcharts/heatmap.js" %}" type="text/javascript"></script>

    {% block javascript %}{% endblock javascript %}

    <script type="text/javascript">
        $(function () {

            $('[title]').qtip({
                style: {
                    classes: 'qtip-jtools'
                },
                position: {
                    adjust: {
                        screen: true
                    },
                    my: 'top left',
                    at: 'bottom center'
                }
            });

            $.ajax({
                type: 'GET',
                url: '/getCookie/',
                data: {},
                success: function (data) {
                    if (data == 'no') {
                        $("#link0").hide();
                        $("#link1").hide();
                        $("#link2").hide();
                        $("#link3").hide();
                        $("#link4").hide();
                        $("#link5").hide();
                    } else if (data == 'yes') {
                        $("#link0").show();
                        $("#link1").show();
                        $("#link2").show();
                        $("#link3").show();
                        $("#link4").show();
                        $("#link5").show();                    }
                }
            });
        });
    </script>

</head>

<body>
    <div id="header">
        <table>
            <tr>
                <td style="width: 10%; height: 70px; padding-left: 25px;"><img style="height:70px;" alt="" src="{% static "images/myPhyloDB_Logo.png" %}"></td>
                <td style="width: 65%; height: 70px;" align="center"><h1 style="font-size: 24px; padding-left: 25px; padding-right: 25px;">myPhyloDB: A local database storage and retrieval system for the analysis of metagenomic data</h1></td>
                <td style="width: 15%; height: 55px; padding-top: 5px;"><img style="height:40px;" alt="" src="{% static "images/ARS.jpeg" %}"><img style="height:30px; padding-left: 5px;" alt="" src="{% static "images/SPNR_logo.jpg" %}"></td>

            </tr>
        </table>
    </div>

    <div id="Menu" style="background-color: white; height: 500px">
        {% block user %}{% endblock user %}
        <div class="menuTitle">
           Menu
        </div>

        <div class="menuItems">
            <hr><p><em><strong>General Info</strong></em></p><hr>

            {% if user.is_active %}
                <a class="Offmouse" href="{% url "home" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Instructions and sample files can be found here.">Home</li></a>
                <a class="Offmouse" href="/accounts/logout/" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Logout current user">Logout</li></a>
            {% else %}
                <a class="Offmouse" href="{% url "home" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Instructions and sample files can be found here.">Home</li></a>
                <a class="Offmouse" href="/accounts/login/" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Login as a registered user.">Login</li></a>
            {% endif %}

            {% if user.is_superuser %}
                <a class="Offmouse" href="/admin/" target="_blank" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Add/remove users">Manage Users</li></a>
            {% endif %}
            <br>

            <div>
                <hr><p><em><strong>Data Mgt</strong></em></p><hr>
            </div>
            {% if user.is_authenticated %}
                <a class="Offmouse" href="{% url "upload" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Add new projects/samples here.">[Upload]</li></a>
                <a class="Offmouse" href="{% url "reprocess" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Reprocess uploaded projects with new reference files.">[Reprocess]</li></a>
                <a class="Offmouse" href="{% url "update" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Update/edit metadata for uploaded projects.">[Update]</li></a>
            {% endif %}

            <a class="Offmouse" href="{% url "select" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Select projects/samples for analysis.">Select Data</li></a>
            <div id="link5" style="display: none;" >
                <a class="Offmouse" href="{% url "export" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Normalize and export data for external analysis">Export Data</li></a>
            </div>
                <br>

            <div>
                <hr><p><em><strong>Taxonomy</strong></em></p><hr>
            </div>

            <a class="Offmouse" href="{% url "taxa" %}" target="_blank" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Explore taxonomic data in your database.">Search Taxa</li></a>
            <br>

            <div id="link0">
                <hr><p><em><strong>Analysis</strong></em></p><hr>
            </div>

            <p id="link1" style="display: none;"><strong>Univariate</strong></p>
            <div id="link2" style="display: none;" >
                <a class="Offmouse" href="{% url "anova" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Run ANcOVA analyses." >ANcOVA</li></a>
            </div>
            <br>

            <p id="link3" style="display: none;"><strong>Multivariate</strong></p>
            <div id="link4" style="display: none;" >
                <a class="Offmouse" href="{% url "DiffAbund" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Run Differential Abundance analysis">Diff Abund</li></a>
                <a class="Offmouse" href="{% url "pcoa" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Run Principal Coordinates Analysis">PCoA</li></a>
                <a class="Offmouse" href="{% url "spls" %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 15px" title="Run Sparse Partial Least Squares Regression">sPLS-Regr</li></a>
            </div>
            <br>

            {% block menu_item %}{% endblock menu_item %}
        </div>
    </div>

    <div id="Content">
        {% block my_content %}{% endblock my_content%}
    </div>
</body>
</html>