{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Update account details" %}{% endblock %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <script type="text/javascript">
        function myFunction() {
            $("#submit").css("background-color", "yellow").attr("value", "updating...");
        }
    </script>
{% endblock javascript %}

{% block my_content %}
<br><br>
<form method="post" action="{% url 'updateInfo' %}">
    {% csrf_token %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Change your profile info:</h2>
    <table style="background-color: white">
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.firstName.label }}*:&nbsp;</td>
            <td>{{ form.firstName }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.lastName.label }}*:&nbsp;</td>
            <td>{{ form.lastName }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.email.label }}*:&nbsp;</td>
            <td>{{ form.email }}</td>
            <td></td>
        </tr>
        <tr><td colspan="4"><br></td></tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.affiliation.label }}:&nbsp;</td>
            <td>{{ form.affiliation }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.city.label }}:&nbsp;</td>
            <td>{{ form.city }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.state.label }}:&nbsp;</td>
            <td>{{ form.state }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.country.label }}:&nbsp;</td>
            <td>{{ form.country }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.zip.label }}:&nbsp;</td>
            <td>{{ form.zip }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.phone.label }}:&nbsp;</td>
            <td>{{ form.phone }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.reference.label }}:&nbsp;</td>
            <td>{{ form.reference }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.purpose.label }}:&nbsp;</td>
            <td>{{ form.purpose }}</td>
            <td></td>
        </tr>
        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right"></td>
            <td>Verify password:</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">Password:&nbsp;</td>
            <td>{{ form.pword }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <input type="submit" id="submit" onclick="myFunction()" value="Update changes" />
            </td>
            <td></td>
        </tr>
    </table>
</form>


<script type="text/javascript">
    document.getElementById("id_email").value = "{{ user.email }}";
    document.getElementById("id_firstName").value = "{{ user.first_name }}";
    document.getElementById("id_lastName").value = "{{ user.last_name }}";
    document.getElementById("id_affiliation").value = "{{ user.profile.affiliation }}";
    document.getElementById("id_city").value = "{{ user.profile.city }}";
    document.getElementById("id_state").value = "{{ user.profile.state }}";
    document.getElementById("id_country").value = "{{ user.profile.country }}";
    document.getElementById("id_zip").value = "{{ user.profile.zip }}";
    document.getElementById("id_phone").value = "{{ user.profile.phone }}";
    document.getElementById("id_reference").value = "{{ user.profile.reference }}";
    document.getElementById("id_purpose").value = "{{ user.profile.purpose }}";
</script>


{% endblock %}

