{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Update account details" %}{% endblock %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <script type="text/javascript">
        function myFunction() {
            $("#submit").css("background-color", "yellow").attr("value", "updating...");

        }
    </script>
{% endblock javascript %}

{% block my_content %}
<br><br>
<form method="post" action="{% url 'updateInfo' %}">
    {% csrf_token %}

    <table style="background-color: white">
        {% if error != "none" %}
        <tr>
            <td style="width: 40px"></td>
            <td class="error_message">
                    <ul>
                        <li><span style="color: red">Error: </span>{{ error }}</li>
                    </ul>
            </td>
            <td></td>
        </tr>
        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>
        {% endif %}
    </table>

    <h2>Change your profile info:</h2>
    <table style="background-color: white">
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.email.label }}:&nbsp;</td>
            <td>{{ form.email }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.firstName.label }}:&nbsp;</td>
            <td>{{ form.firstName }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.lastName.label }}:&nbsp;</td>
            <td>{{ form.lastName }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.affiliation.label }}:&nbsp;</td>
            <td>{{ form.affiliation }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.city.label }}:&nbsp;</td>
            <td>{{ form.city }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.state.label }}:&nbsp;</td>
            <td>{{ form.state }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.country.label }}:&nbsp;</td>
            <td>{{ form.country }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.zip.label }}:&nbsp;</td>
            <td>{{ form.zip }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.phone.label }}:&nbsp;</td>
            <td>{{ form.phone }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.reference.label }}:&nbsp;</td>
            <td>{{ form.reference }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.purpose.label }}:&nbsp;</td>
            <td>{{ form.purpose }}</td>
            <td></td>
        </tr>
        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right"></td>
            <td>Verify password:</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 10px"></td>
            <td style="text-align: right">{{ form.password1.label }}:&nbsp;</td>
            <td>{{ form.password1 }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <input type="submit" id="submit" onclick="myFunction()" value="Update changes" />
            </td>
            <td></td>
        </tr>
    </table>
</form>


<script type="text/javascript">
    document.getElementById("id_email").value = "{{ user.email }}";
    document.getElementById("id_firstName").value = "{{ user.userprofile.firstName }}";
    document.getElementById("id_lastName").value = "{{ user.userprofile.lastName }}";
    document.getElementById("id_affiliation").value = "{{ user.userprofile.affiliation }}";
    document.getElementById("id_city").value = "{{ user.userprofile.city }}";
    document.getElementById("id_state").value = "{{ user.userprofile.state }}";
    document.getElementById("id_country").value = "{{ user.userprofile.country }}";
    document.getElementById("id_zip").value = "{{ user.userprofile.zip }}";
    document.getElementById("id_phone").value = "{{ user.userprofile.phone }}";
    document.getElementById("id_reference").value = "{{ user.userprofile.reference }}";
    document.getElementById("id_purpose").value = "{{ user.userprofile.purpose }}";
</script>


{% endblock %}

