{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
    <title xmlns="http://www.w3.org/1999/html">Reprocess Data</title>
{% endblock pagetitle %}
{% block javascript %}
<script>
var selNodes = "";
var align = "", template = "", taxonomy = "";
        $(function () {
            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/makeReproTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onSelect: function (select, node) {
                    selNodes = node.tree.getSelectedNodes();
                }
            });

            $("#clearMeta").click(function(){
                $("#tree").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#align").change(function () {
                align = $(this).val();
            });
            $("#template").change(function () {
                template = $(this).val();
            });
            $("#taxonomy").change(function () {
                taxonomy = $(this).val();
            });

            $("#reprocess").click(function () {

                var selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });

                var myDict = {};
                myDict['ids'] = selKeys;
                myDict['align'] = align;
                myDict['template'] = template;
                myDict['taxonomy'] = taxonomy;//Pass values from select tables down to python


                if (("{{ alignDB }}" != '') && ("{{ taxonomyDB }}" != '')  && ("{{ templateDB }}" != '')) {
                    myDict['alignDB'] = "{{ alignDB }}";
                    myDict['taxonomyDB'] = "{{ taxonomyDB }}";
                    myDict['templateDB'] = "{{ templateDB }}";
                } else {
                    alert("Please upload your new reference databases first!")
                }
                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    type: 'GET',
                    url: '/reprocess/',
                    dataType: 'json',
                    data: {all: jsonDict},
                    success: function(data) {
                        alert("Success!");
                        alert(data);
                    }
                });
            });
        });
</script>
{% endblock javascript %}
{% block my_content %}
<br>

    <form action="{% url 'database' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table id="meta_files" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th colspan="2">Upload new reference database files:</th>
            </tr>
            <tr>
                <td>{{ form4.docfile8.label_tag }}</td>
                <td>{{ form4.docfile8 }}</td>
            </tr>
            <tr>
                <td>{{ form4.docfile9.label_tag }}</td>
                <td>{{ form4.docfile9 }}</td>
            </tr>
            <tr>
                <td>{{ form4.docfile10.label_tag }}</td>
                <td>{{ form4.docfile10 }}</td>
            </tr>
        </table>
        <br>
        <input id="submit" type="submit" value="Upload"/>
    </form>
    <br>
    <table border="2" cellspacing="0" cellpadding="5">
        <tr>
            <th>Select projects for reprocessing:<br><a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>
    <br>
    <select id="align"> Choose align file:
    {% for DB in alignDB %}
        <option>{{ DB }}</option>
    {% endfor %}
    </select>
    <select id="template"> Choose template file:
    {% for DB in templateDB %}
        <option>{{ DB }}</option>
    {% endfor %}
    </select>
    <select id="taxonomy"> Choose taxonomy file:
    {% for DB in taxonomyDB %}
        <option>{{ DB }}</option>
    {% endfor %}
    </select>
    <br>
    <br>
    <input id="reprocess" type="button" value="Reprocess"/>
    <br><br><br>
{% endblock my_content %}