{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
    <title xmlns="http://www.w3.org/1999/html">Reprocess Data</title>
{% endblock pagetitle %}
{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }

        #progressBar {
                width: 200px;
                height: 22px;
                border: 1px solid #111;
                background-color: #292929;
        }

        #progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px;
                width: 0;
                background-color: #0099ff;
        }
    </style>
    <script>
        var selNodes = "";
        $(function () {
            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/makeReproTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onSelect: function (select, node) {
                    selNodes = node.tree.getSelectedNodes();
                }
            });

            $("#clearMeta").click(function(){
                $("#tree").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#reprocess").click(function () {
                var selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });

                $("#project").show();
                $("#stage").show();
                $("#progressBar").show();
                setInterval(updateStatus, 1000);

                var myDict = {};
                myDict['ids'] = selKeys;
                myDict['alignDB'] = $("#align").val();
                myDict['templateDB'] = $("#template").val();
                myDict['taxonomyDB'] = $("#taxonomy").val();
                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    type: 'GET',
                    url: '/reprocess/',
                    dataType: 'json',
                    data: {all: jsonDict},
                    success: function() {
                        window.location.reload(true);
                    }
                });
            });
        });

        function updateStatus(){
            $.ajax({
                url: '/status/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    var perc = obj['perc'];
                    var project = obj['project'];
                    updateStage(project, stage);
                    progressBar(perc, $("#progressBar"));
                }
            });
        }

        function updateStage(project, stage) {
            $("#project").empty().append(project);
            $("#stage").empty().append(stage);
        }

        function progressBar(percent, $element) {
           var progressBarWidth = percent * $element.width() / 100;
            $element.find("div").animate({ width: progressBarWidth }, 100).html(percent + "%&nbsp;");
        }
    </script>
{% endblock javascript %}
{% block my_content %}
    <br>
    <form action="{% url 'database' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table id="meta_files" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th colspan="2">Upload new reference database files:</th>
            </tr>
            <tr>
                <td>{{ form4.docfile8.label_tag }}</td>
                <td>{{ form4.docfile8 }}</td>
            </tr>
            <tr>
                <td>{{ form4.docfile9.label_tag }}</td>
                <td>{{ form4.docfile9 }}</td>
            </tr>
            <tr>
                <td>{{ form4.docfile10.label_tag }}</td>
                <td>{{ form4.docfile10 }}</td>
            </tr>
        </table>
        <br>
        <input id="submit" type="submit" value="Upload"/>
    </form>
    <br>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select projects for reprocessing:<br><a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
        <tr>
            <td bgcolor="white">
                <select id="align">
                    {% for DB in alignDB %}
                        <option>{{ DB }}</option>
                    {% endfor %}
                </select>
                &nbsp<-- Choose align file:
            </td>
        </tr>
        <tr>
            <td bgcolor="white">
                <select id="template">
                    {% for DB in templateDB %}
                        <option value="{{ DB }}">{{ DB }}</option>
                    {% endfor %}
                </select>
                &nbsp<-- Choose template file:
            </td>
        </tr>
        <tr>
            <td bgcolor="white">
                <select id="taxonomy">
                    {% for DB in taxonomyDB %}
                        <option>{{ DB }}</option>
                    {% endfor %}
                </select>
                &nbsp<-- Choose taxonomy file:
            </td>
        </tr>
    </table>
    <br><br>
    <div id="project" style="display: none"></div>
    <div id="stage" style="display: none"></div>
    <div id="progressBar" style="display: none"><div></div></div>
    <br>
    <input id="reprocess" type="button" value="Reprocess"/>
    <br><br><br>
{% endblock my_content %}