{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>DiffAbund</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!" style="background-color: lightgray"/></p>
    <br>
    <p><input id="stop" type="submit" value="Stop Analysis!" style="background-color: lightgray"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var DepVar_taxa = 1, DepVar_kegg = 1, DepVar_nz = 1, selTheme = 0, i = 0;
        var nodesCat = "", nodesTaxa = "", taxaAll = 7, nzAll = 1, keggAll = 1, button3 = 1;
        var chart1 = {};
        var catOptions = {};
        var refresh;
        var running = false;
        var RID = 0;

        $(function () {

            $(window).bind('beforeunload', function(){
                $.ajax({
                    url: '/myPhyloDB/removeFiles/',
                    async: false,
                    dataType: 'json',
                    data: {
                        all: RID,
                        func: 'diffabund'
                    }
                });
            });

            //Initialize dynatrees
            $("#tree_metaCat").dynatree({
                checkbox: true,
                rootVisible: false,
                selectMode: 3,
                initAjax: {
                    url: '/myPhyloDB/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/myPhyloDB/getSampleCatTreeChildren/',
                        data: {pType: node.data.pType, field: node.data.title},
                        success: function (node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            if (node.childList == undefined) {
                                node.select(false);
                                node.remove(true);
                            } else {
                                node.select(false);
                                node.select(true);
                            }
                        });
                    }
                    nodesCat = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                }
            });

            // Initialize highcharts
            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' × 10³', ' × 10⁶', ' × 10⁹', ' × 10¹²', ' × 10¹⁵', ' × 10¹⁸']
                }
            });

            var $button = $('#hide');
            $button.click(function() {
                var series = chart1.series[0];
                if (series.visible) {
                    $(chart1.series).each(function(){
                        this.setVisible(false, false);
                    });
                    chart1.redraw();
                    $button.html('Show series');
                } else {
                    $(chart1.series).each(function(){
                        this.setVisible(true, false);
                    });
                    chart1.redraw();
                    $button.html('Hide series');
                }
            });

            $('#button').click(function() {
                var index = prompt("Please enter the series index (position in legend) you wish to change:", 0);
                var color = prompt("Please enter your desired color:", "#008800");
                var marker = prompt("Please enter your desired symbol:", "square");
                var series = chart1.series[index];
                if (color != '') {
                    series.options.color = color;
                    series.options.states.hover.color = color;
                }
                if (marker != '') {
                    series.options.marker.symbol = marker;
                }
                if ((color != '') || (marker != '')) {
                    series.update(series.options);
                    chart1.redraw();
                }
            });

            // Start stop and other 'click' functions
            $("#run").show().click(function () {
                if(running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                $("#container-1").empty();
                $("#text-1").val('');
                $("#res_table").empty();
                running = true;
                chooseData();
            });

            $("#stop").show().click(function () {
                running = false;
                stopThis(RID);
            });

            $("#clearMeta").click(function () {
                $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                checkButtons();
            });

            $("#FdrVal").change(function () {
                checkButtons();
            });

            $("#TabButton").click(function () {
                getTab();
            });

            // Capture all changes in textboxes, etc.
            $("#selectTree").change(function () {
                button3 = $(this).val();
                checkButtons();
                if (button3 == 1) {
                    $('#row_taxa').show();
                    $('#row_kegg').hide();
                    $('#row_nz').hide();
                    $('#cell_taxa').show();
                    $('#cell_kegg').hide();
                    $('#cell_nz').hide();
                    $('#text-1').val('');
                } else if (button3 == 2) {
                    $('#row_taxa').hide();
                    $('#row_kegg').show();
                    $('#row_nz').hide();
                    $('#cell_taxa').hide();
                    $('#cell_kegg').show();
                    $('#cell_nz').hide();
                    $('#text-1').val('');
                } else if (button3 == 3) {
                    $('#row_taxa').hide();
                    $('#row_kegg').hide();
                    $('#row_nz').show();
                    $('#cell_taxa').hide();
                    $('#cell_kegg').hide();
                    $('#cell_nz').show();
                    $('#text-1').val('');
                }
            });

            $("#DepVar_taxa").change(function () {
                DepVar_taxa = $(this).val();
                checkButtons();
            });
            $("#DepVar_kegg").change(function () {
                DepVar_kegg = $(this).val();
                checkButtons();
            });
            $("#DepVar_nz").change(function () {
                DepVar_nz = $(this).val();
                checkButtons();
            });

            $("#selectall-taxa").change(function () {
                taxaAll = $(this).val();
                checkButtons();
            });

            $("#selectall-kegg").change(function () {
                keggAll = $(this).val();
                checkButtons();
                $("#tree_kegg").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#selectall-nz").change(function () {
                nzAll = $(this).val();
                checkButtons();
                $("#tree_nz").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#theme").change(function () {
                selTheme = $(this).val();

                if (selTheme == 1) {
                    $("#container-1").empty();
                    chart1 = new Highcharts.Chart(catOptions);
                    chart1.redraw();
                }
                else if (selTheme == 2) {
                    $.getScript('{% static 'highcharts/themes/dark-blue.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 3) {
                    $.getScript('{% static 'highcharts/themes/dark-green.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 4) {
                    $.getScript('{% static 'highcharts/themes/dark-unica.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 5) {
                    $.getScript('{% static 'highcharts/themes/gray.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 6) {
                    $.getScript('{% static 'highcharts/themes/grid.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 7) {
                    $.getScript('{% static 'highcharts/themes/grid-light.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 8) {
                    $.getScript('{% static 'highcharts/themes/sand-signika.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
                else if (selTheme == 9) {
                    $.getScript('{% static 'highcharts/themes/skies.js' %}', function () {
                        $("#container-1").empty();
                        chart1 = new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        chart1.redraw();
                    });
                }
            });

        });

        function getTab(){
            $("#TabButton").css("background-color", "yellow").val("Gathering your data...please wait!");
            $.ajax({
                url: '/myPhyloDB/getRawData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID,
                    func: 'diffabund',
                    button3: button3
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var name = obj['name'];
                    getFile(name, 'final_data.csv');
                    $("#TabButton").css("background-color", "green").val("Done!");
                }
            });
        }

        function getFile(name, final) {
            var anchor = document.createElement('a');
            anchor.setAttribute('href', name);
            anchor.setAttribute('download', final);

            var ev = document.createEvent("MouseEvents");
                ev.initMouseEvent("click", true, false, self, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            anchor.dispatchEvent(ev);
        }

        function checkButtons(){
            //set all buttons to their proper states given the current state of the independent buttons
            $("#run").css("background-color", "lightgray");
            $("#TabButton").css("background-color", "lightgray").val("Export Data");
            document.getElementById("TabButton").disabled = true;

            if (button3 == 1) {
                $("#container-1").empty().append('Settings have been changed by the user!');
            }

            if (button3 == 2) {
                $("#container-1").empty().append('Settings have been changed by the user!');
            }

            if (button3 == 3) {
                $("#container-1").empty().append('Settings have been changed by the user!');
            }

        }

        function stopThis(RID) {
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-1').empty().append(stage);
                }
            });
        }

        function updateStatus(RID) {
            var myDict = {};
            myDict['reqType'] = "status";
            myDict['RID'] = RID;
            myDict['funcName'] = "getDiffAbund";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];

                    if (resType == "status") {
                        var stage = obj['stage'];
                        if (running) {
                            $('#container-1').empty().append(stage);
                        }
                    } else {
                        running = false;
                        stopTimer();
                        var xAxis = data['xAxis'];
                        var series = data['series'];
                        var yAxis = data['yAxis'];
                        var empty = data['empty'];
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }
                        if (empty == 0) {
                            alert('No significant tests!');
                        }

                        var text = data['text'];
                        $('#text-1').val(text);

                        var res_table = data['res_table'];
                        $('#res_table').empty().append(res_table).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bPaginate: true,
                            lengthMenu: [10, 25, 50, 100],
                            sPaginationType: 'full_numbers',
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();
                        $("div.toolbar").html('<br><br><br>');
                        scatter(xAxis, yAxis, series);
                        document.getElementById("TabButton").disabled = false;
                    }
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){updateStatus(RID);}, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh)
        }

        function chooseData() {

            if (document.getElementById("FdrVal").value < 0 || document.getElementById("FdrVal").value > 1) {
                alert("False Discovery Rate must be between 0 and 1");
                running = false;
                return;
            }

            if (nodesCat == "") {
                $("#container-1").empty().append('Please choose your meta variable(s)!');
                $("#text-1").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
                running = false;
            }
            if (nodesCat != "")  {
                $("#run").css("background-color", "yellow");
                $("#container-1").empty().append('Analysis is running...please be patient');
                getCatGraphData();
            }
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function checkDupes(list) {
            var bools = [];
            var firsts = [];
            for (var i=0; i<list.length; i++) {
                var sub = list[i].split(':');
                var found = firsts.indexOf(sub[0]);
                if (found==-1) {
                    firsts.push(sub[0]);
                    bools.push(false);
                } else {
                    bools[found] = true;
                }
            }
            return (bools.indexOf(false)==-1);
        }

        function getCatGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            if (checkDupes(arrayValsCat)) {
                var metaValsCat = '';
                if (nodesCat.length > 0) {
                    metaValsCat = "{" + arrayValsCat.join(",") + "}";
                }

                var metaIDsCat = '';
                if (nodesCat.length > 0) {
                    metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
                }

                var myDict = {};
                myDict['metaValsCat'] = metaValsCat;
                myDict['metaIDsCat'] = metaIDsCat;
                myDict['DepVar_taxa'] = DepVar_taxa;
                myDict['DepVar_kegg'] = DepVar_kegg;
                myDict['DepVar_nz'] = DepVar_nz;
                myDict['selectAll'] = taxaAll;
                myDict['keggAll'] = keggAll;
                myDict['nzAll'] = nzAll;
                myDict['button3'] = button3;
                myDict['RID'] = RID;
                myDict['FdrVal'] = document.getElementById("FdrVal").value;
                myDict['funcName'] = "getDiffAbund";
                myDict['reqType'] = "call";
                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    url: '/myPhyloDB/funcCall/',
                    type: 'POST',
                    data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}')
                });
            } else {
                stopTimer();
                $("#run").css("background-color", "lightgray");
                $("#container-1").empty().append('Analysis has been cancelled!');
                alert("Selected meta data only has one level.\nPlease select a different variable.");
            }
        }

        function scatter(xAxis, yAxis, series) {
           catOptions = {
                chart: {
                    renderTo: 'container-1',
                    height: 400,
                    width: 850,
                    spacingRight: 50,
                    type: 'scatter',
                    zoomType: 'xy',
                    events: {
                        load: function () {
                            var chart = this,
                                    legend = chart.legend;
                            for (var i = 0, len=legend.allItems.length; i< len; i++) {
                                (function(i) {
                                    var item = legend.allItems[i].legendItem;
                                    var color = chart.series[i].color;
                                    var symbol = chart.series[i].symbol;
                                    item.on('mouseover', function (e) {
                                        $(this).qtip({
                                            content: {
                                                text: 'Index: ' + i + '<br>' + 'Color: ' + color + '<br>' + 'Symbol: ' + symbol
                                            },
                                            style: {
                                                classes: 'qtip-jtools'
                                            },
                                            show: {
                                                ready: true
                                            }
                                        });
                                    });
                                })(i);
                            }
                        }
                    }
                },
                colors: ['rgba(0,0,0,.5)', 'rgba(255,0,0,.5)'],
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '10px',
                        font: '10pt Trebuchet MS, Verdana, sans-serif',
                        width: 250
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: -25,
                    y: 25,
                    labelFormatter: function () {
                        return this.name + '<br/>'
                    }
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                tooltip: {
                    formatter: function () {
                        return this.point.name + '<br/>' +
                            'Value: (' + Math.round(this.x*1000)/1000 + ',' + Math.round(1000*this.y)/1000 + ')<br/>';
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            radius: 6
                        }
                    }
                },
                credits: { enabled: false }
            };
            chart1 = new Highcharts.Chart(catOptions);
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <th>Select Type:
        <select id="selectTree">
            <option value="1" selected="selected">Taxa</option>
            <option value="2" >KEGG orthology</option>
            <option value="3" >KEGG enzyme</option>
        </select>
    </th>
    <!-- tree tables -->
    <div>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Select Meta Data:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_metaCat"></div>
                </td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr id="row_taxa">
                <td bgcolor="white">
                    <select id="selectall-taxa">
                        <option value="0">Off</option>
                        <option value="2">Phyla</option>
                        <option value="3">Classes</option>
                        <option value="4">Orders</option>
                        <option value="5">Families</option>
                        <option value="6">Genera</option>
                        <option value="7" selected="selected">Species</option>
                        <option value="8">PGPRs</option>
                    </select>
                    &nbsp<-- Selected taxa level
                </td>
            </tr>
            <tr id="row_kegg" style="display:none">
                <td bgcolor="white">
                    <select id="selectall-kegg">
                        <option value="0">Off</option>
                        <option value="1" selected="selected">Level 1</option>
                        <option value="2">Level 2</option>
                        <option value="3">Level 3</option>
                    </select>
                    &nbsp<-- Selected KEGG level
                </td>
            </tr>
            <tr id="row_nz" style="display:none">
                <td bgcolor="white">
                    <select id="selectall-nz">
                        <option value="0">Off</option>
                        <option value="1" selected="selected">Level 1</option>
                        <option value="2">Level 2</option>
                        <option value="3">Level 3</option>
                        <option value="4">Level 4</option>
                        <option value="5">GIBBs</option>
                        <option value="6">N cycle</option>
                    </select>
                    &nbsp<-- Selected KEGG level
                </td>
            </tr>
            <tr><td colspan="3" bgcolor="white"></td></tr>
            <tr>
                <td bgcolor="lightgray" style="outline: thin solid"><strong><em>Export Raw Data:</em></strong></td>
            </tr>
            <tr>
                <td bgcolor="white">
                    <input id="TabButton" type="button" disabled value="Export Data"/>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td id="cell_taxa" colspan="8" style="text-align: center">
                Dependent variable:
                <select id="DepVar_taxa">
                    <option value="1">Abundance</option>
                    <option value="4">Abundance (rRNA gene copies)</option>
                </select>
            </td>
            <td id="cell_kegg" colspan="8" style="text-align: center; display: none">
                Dependent variable:
                <select id="DepVar_kegg">
                    <option value="1">Abundance</option>
                    <option value="4">Abundance (rRNA gene copies)</option>
                </select>
            </td>
            <td id="cell_nz" colspan="8" style="text-align: center; display: none">
                Dependent variable:
                <select id="DepVar_nz">
                    <option value="1">Abundance</option>
                    <option value="4">Abundance (rRNA gene copies)</option>
                </select>
            </td>
            <td colspan="4" style="text-align: center">
            <td id="FdrRow" colspan="8" style="text-align: center;">
                False Discovery Rate:
                <input style="background-color: white" type="text" id="FdrVal" value="0.10"/>
            </td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left;">
                <div id="container-1" style="height: 425px; width: 950px; overflow-x: auto;">No Data has been selected!</div>
            </td>
        </tr>
        <tr id="highchartButtons">
            <td colspan="6" style="text-align: center">
                <button id="hide" title="Click to show/hide all series in the graph">Hide all series</button>
            </td>
            <td colspan="8" style="text-align: center">
                Select chart theme:
                <select id="theme">
                    <option value="1" selected="selected">default</option>
                    <option value="2">dark-blue</option>
                    <option value="3">dark-green</option>
                    <option value="4">dark-unica</option>
                    <option value="5">gray</option>
                    <option value="6">grid</option>
                    <option value="7">grid-light</option>
                    <option value="8">sand-signika</option>
                    <option value="9">skies</option>
                </select>
                &nbsp&nbsp
            </td>
            <td colspan="6" style="text-align: center">
                <button id="button" title="Click to change an individual series color or symbol">Change series</button>
            </td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="15"></textarea>
        <br>
    </div>

    <h2>nbinomTest Results:</h2>
    <div id="res_table" style="width: 950px; overflow-x: auto;"></div>
    <br><br>

{% endblock my_content%}
