{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>DiffAbund</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var  button1 = 1, button3 = 1, i = 0;
        var nodesCat = "", nodesTaxa = "", taxaAll = 7, nzAll = 1, keggAll = 1;
        var DepVar = 0;
        var chart1 = {}, catOptions = {};
        var running = false, refresh = 0, RID = 0;

        $(function () {
            $(window).load(function() {
                checkButtons();
            });
            $(window).bind('unload', function(){
                $.ajax({
                    url: '/myPhyloDB/removeFiles/',
                    async: false,
                    dataType: 'json',
                    data: {
                        all: RID,
                        func: 'diffabund'
                    }
                });
            });
        });

        {% include "js/commonFunctions.js" %}
        function checkButtons(){
            button3 = document.getElementById("selectTree").value;
            $("#run").css("background-color", "lightgray");
            $("#TabButton").css("background-color", "lightgray").val("Export Data");
            document.getElementById("TabButton").disabled = true;
            $("#container-1").empty().append('Settings have been changed by the user!');

        }
        function chooseData() {

            if (button3 == 1) {
                taxaAll = document.getElementById("selectall-taxa").value;
            } else if (button3 == 2) {
                keggAll = document.getElementById("selectall-kegg").value;
            } else if (button3 == 3) {
                nzAll = document.getElementById("selectall-nz").value;
            }

            if (document.getElementById("FdrVal").value < 0 || document.getElementById("FdrVal").value > 1) {
                alert("False Discovery Rate must be between 0 and 1");
                running = false;
                return;
            }

            if (nodesCat == "") {
                $("#container-1").empty().append('Please choose your meta variable(s)!');
                $("#text-1").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
                running = false;
            }

            if (nodesCat != "")  {
                $("#run").css("background-color", "yellow");
                $("#container-1").empty().append('Analysis is running...please be patient');
                getCatGraphData();
            }
        }
        function getCatGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            if (checkDupes(arrayValsCat)) {
                var metaValsCat = '';
                if (nodesCat.length > 0) {
                    metaValsCat = "{" + arrayValsCat.join(",") + "}";
                }

                var metaIDsCat = '';
                if (nodesCat.length > 0) {
                    metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
                }

                var myDict = {};
                myDict['metaValsCat'] = metaValsCat;
                myDict['metaIDsCat'] = metaIDsCat;
                myDict['DepVar'] = DepVar;
                myDict['selectAll'] = taxaAll;
                myDict['keggAll'] = keggAll;
                myDict['nzAll'] = nzAll;
                myDict['button3'] = button3;
                myDict['RID'] = RID;
                myDict['FdrVal'] = document.getElementById("FdrVal").value;
                myDict['funcName'] = "getDiffAbund";
                myDict['reqType'] = "call";
                myDict['dataID'] = dataID;

                if ($("#remUnclass").is(':checked')) {
                    myDict['remUnclass'] = 'yes'
                } else {
                    myDict['remUnclass'] = 'no'
                }

                if ($("#remZeroes").is(':checked')) {
                    myDict['remZeroes'] = 'yes'
                } else {
                    myDict['remZeroes'] = 'no'
                }

                if ($("#filterData").is(':checked')) {
                    myDict['filterData'] = 'yes'
                } else {
                    myDict['filterData'] = 'no'
                }

                myDict['perZeroes'] = document.getElementById("perZeroes").value;
                myDict['filterPer'] = document.getElementById("filterPer").value;
                myDict['filterMeth'] = document.getElementById("filterMeth").value;

                var jsonDict = JSON.stringify(myDict);

                $.ajax({
                    url: '/myPhyloDB/funcCall/',
                    type: 'POST',
                    data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}')
                });
            } else {
                stopTimer();
                $("#run").css("background-color", "lightgray");
                $("#container-1").empty().append('Analysis has been cancelled!');
                alert("Selected meta data only has one level.\nPlease select a different variable.");
            }
        }
        function runAnalysis() {
            if (running == true) {
                alert("myPhyloDB is currently running your previous analysis request!");
                return false;
            }
            $("#container-1").empty();
            $("#text-1").val('');
            $("#res_table").empty();
            running = true;
            chooseData();
        }
        function scatter(xAxis, yAxis, series) {
           catOptions = {
                chart: {
                    renderTo: 'container-1',
                    height: 400,
                    width: 850,
                    spacingRight: 50,
                    type: 'scatter',
                    zoomType: 'xy',
                    events: {
                        load: function () {
                            var chart = this,
                                    legend = chart.legend;
                            for (var i = 0, len=legend.allItems.length; i< len; i++) {
                                (function(i) {
                                    var item = legend.allItems[i].legendItem;
                                    var color = chart.series[i].color;
                                    var symbol = chart.series[i].symbol;
                                    item.on('mouseover', function (e) {
                                        $(this).qtip({
                                            content: {
                                                text: 'Index: ' + i + '<br>' + 'Color: ' + color + '<br>' + 'Symbol: ' + symbol
                                            },
                                            style: {
                                                classes: 'qtip-jtools'
                                            },
                                            show: {
                                                ready: true
                                            }
                                        });
                                    });
                                })(i);
                            }
                        }
                    }
                },
                colors: ['rgba(0,0,0,.5)', 'rgba(255,0,0,.5)'],
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '10px',
                        font: '10pt Trebuchet MS, Verdana, sans-serif',
                        width: 250
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: -25,
                    y: 25,
                    labelFormatter: function () {
                        return this.name + '<br/>'
                    }
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                tooltip: {
                    formatter: function () {
                        return this.point.name + '<br/>' +
                            'Value: (' + Math.round(this.x*1000)/1000 + ',' + Math.round(1000*this.y)/1000 + ')<br/>';
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            radius: 6
                        }
                    }
                },
                credits: { enabled: false }
            };
            chart1 = new Highcharts.Chart(catOptions);
        }
        function selectTree(button3) {
                checkButtons();
                if (button3 == 1) {
                    $('#row_taxa').show();
                    $('#row_kegg').hide();
                    $('#row_nz').hide();
                    $('#text-1').val('');
                } else if (button3 == 2) {
                    $('#row_taxa').hide();
                    $('#row_kegg').show();
                    $('#row_nz').hide();
                    $('#text-1').val('');
                } else if (button3 == 3) {
                    $('#row_taxa').hide();
                    $('#row_kegg').hide();
                    $('#row_nz').show();
                    $('#text-1').val('');
                }
        }
        function startTimer() {
            refresh = setInterval(function(){updateStatus(RID);}, 1000);
            return refresh;
        }
        function stopAnalysis () {
            running = false;
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-1').empty().append(stage);
                }
            });
        }
        function stopTimer() {
            clearInterval(refresh)
        }
        function updateStatus() {
            var myDict = {};
            myDict['reqType'] = "status";
            myDict['RID'] = RID;
            myDict['funcName'] = "getDiffAbund";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];

                    if (resType == "status") {
                        var stage = obj['stage'];
                        if (running) {
                            $('#container-1').empty().append(stage);
                        }
                    } else {
                        running = false;
                        stopTimer();
                        var xAxis = data['xAxis'];
                        var series = data['series'];
                        var yAxis = data['yAxis'];
                        var empty = data['empty'];
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }
                        if (empty == 0) {
                            alert('No significant tests!');
                        }
                        var text = data['text'];
                        $('#text-1').val(text);

                        var res_table = data['res_table'];
                        $('#res_table').empty().append(res_table).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bPaginate: true,
                            lengthMenu: [10, 25, 50, 100],
                            sPaginationType: 'full_numbers',
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();
                        $("div.toolbar").html('<br><br><br>');

                        scatter(xAxis, yAxis, series);
                        document.getElementById("TabButton").disabled = false;
                    }
                }
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Select Meta Data:<br>
                    <a href="#" id="clearMeta" style="font-size: 12px;" onClick="clearMeta(button1)">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    {% include "html/DynaTree-MetaCat.html" %}
                </td>
            </tr>
        </table>

        <table border="0" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <td bgcolor="white" width="5px"></td>
                <td bgcolor="lightgray" style="outline: thin solid"><em><strong>Data Selection:</strong></em></td>
                <td bgcolor="white"></td>
            </tr>

            <tr>
                <td bgcolor="white" width="5px"></td>
                <td bgcolor="white">
                    <select id="selectTree" onChange="selectTree(this.value)">
                        <option value="1" selected="selected">Taxonomy</option>
                        <option value="2" >KEGG orthology</option>
                        <option value="3" >KEGG enzyme</option>
                    </select>
                    &nbsp; <-- Sequence mapping
                </td>
                <td bgcolor="white"></td>
            </tr>

            <tr id="row_taxa">
                <td bgcolor="white" width="5px"></td>
                <td bgcolor="white">
                    <select id="selectall-taxa">
                        <option value="2">Phyla</option>
                        <option value="3">Classes</option>
                        <option value="4">Orders</option>
                        <option value="5">Families</option>
                        <option value="6">Genera</option>
                        <option value="7" selected="selected">Species</option>
                        <option value="8">PGPRs</option>
                    </select>
                    &nbsp; <-- Taxa level
                </td>
                <td bgcolor="white"></td>
            </tr>

            <tr id="row_kegg" style="display:none">
                <td bgcolor="white" width="5px"></td>
                <td bgcolor="white">
                    <select id="selectall-kegg">
                        <option value="1" selected="selected">Level 1</option>
                        <option value="2">Level 2</option>
                        <option value="3">Level 3</option>
                    </select>
                    &nbsp; <-- KEGG pathway level
                </td>
                <td bgcolor="white"></td>
            </tr>

            <tr id="row_nz" style="display:none">
                <td bgcolor="white" width="5px"></td>
                <td bgcolor="white">
                    <select id="selectall-nz">
                        <option value="1" selected="selected">Level 1</option>
                        <option value="2">Level 2</option>
                        <option value="3">Level 3</option>
                        <option value="4">Level 4</option>
                        <option value="5">GIBBs</option>
                        <option value="6">N cycle</option>
                    </select>
                    &nbsp; <-- KEGG enzyme level
                </td>
                <td bgcolor="white"></td>
            </tr>

            <tr>
                <td bgcolor="white" width="5px"></td>
                <td bgcolor="white">
                    <select id="DepVar">
                        <option value="0">Abundance</option>
                        <option value="4">Total Abundance</option>
                    </select>
                    &nbsp; <-- Dependent variable <span title="Abundance = raw counts<br>Total Abundance = 16S rRNA copies per mg soil"><font color="red">[info]</font></span>
                </td>
                <td bgcolor="white"></td>
            </tr>

            <tr><td colspan="3" bgcolor="white"></td></tr>
            {% include "html/Data-Filtering.html" %}
            <tr><td colspan="3" bgcolor="white"></td></tr>
            {% include "html/Data-RunButton.html" %}
            <tr><td colspan="3" bgcolor="white"></td></tr>
            {% include "html/Data-Export.html" %}
        </table>
    </div>
    <br><br>
    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center">
            <td colspan="4" style="text-align: center">
            <td id="FdrRow" colspan="8" style="text-align: center;">
                False Discovery Rate:
                <input style="background-color: white" type="text" id="FdrVal" value="0.10" onchange="checkButtons()"/>
            </td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left;">
                <div id="container-1" style="height: 425px; width: 950px; overflow-x: auto;">No Data has been selected!</div>
            </td>
        </tr>
        <tr id="highchartButtons">
            {% include "html/HighChart-HideButton.html" %}
            {% include "html/HighChart-ThemeButton.html" %}
            {% include "html/HighChart-ChangeButton.html" %}
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="15"></textarea>
        <br>
    </div>

    <h2>nbinomTest Results:</h2>
    <div id="res_table" style="width: 950px; overflow-x: auto;"></div>
    <br><br>

{% endblock my_content%}
