{% extends 'site_base.html' %}

{% block pagetitle %}
    <title>File Manager</title>
{% endblock %}

{% load static %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}

    <style>
        #progressBar {
                width: 200px;
                height: 22px;
                border: 1px solid #111;
                background-color: #292929;
        }

        #progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px;
                width: 0;
                background-color: #0099ff;
        }
    </style>

    <script src="{% static 'chunk-upload/jquery.ui.widget.js' %}" type="text/javascript"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'chunk-upload/jquery.iframe-transport.js' %}" type="text/javascript"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'chunk-upload/jquery.fileupload.js' %}" type="text/javascript"></script>
    <!-- Calculate md5 -->
    <script src="{% static 'chunk-upload/spark-md5.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var RID = makeGUID();
        var ref_data = 'yes';
        var source = 'mothur';

        var md5 = "",
        csrf = encodeURI('{{ csrf_token }}');
        var curHash;

        $(function () {
            var test = '{{ error }}';
            if (test != "") {
                alert(test);
            }
            var scriptVis = '{{ scriptVis }}';
            if (scriptVis == "true"){
                $("#scriptRow1").show();
                $("#scriptRow2").show();
                $("#scriptRow3").show();
            }

            $("#treeRem").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Files', 'filter': false}
                },
                onClick: function () {
                    $("#clickMe").css("background-color", "lightgray").val('Remove selected');
                }
            });

            $("#clearMeta").click(function () {
                $("#treeRem").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#Upload").click(function() {
                $("#stage").show();
                $("#progressBar").show();
                //setInterval(updateStatus, 1000);
            });

            $("#id_ref_data").change(function() {
                ref_data = $("#id_ref_data").val();
                if (ref_data == 'yes') {
                    $(".vsearch").show();
                    $(".taxa_file").hide();
                }
                if (ref_data == 'no') {
                    $(".vsearch").hide();
                    $(".taxa_file").show();
                }
            });

            $("#id_source").change(function() {
                source = $("#id_source").val();
                if (source == "mothur") {
                    $("#mothur").show();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#biom").hide();
                }
                if (source == "454_sff") {
                    $("#mothur").hide();
                    $("#454_sff").show();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#biom").hide();
                }
                if (source == "454_fastq") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").show();
                    $("#miseq").hide();
                    $("#biom").hide();
                }
                if (source == "miseq") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").show();
                    $("#biom").hide();
                }
                if (source == "biom") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#biom").show();
                }
            });

            $('<input>').attr({
                type: 'hidden',
                name: 'RID',
                value: RID
            }).appendTo('form');

        });

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function progressBar(percent, $element) {
           var progressBarWidth = percent * $element.width() / 100;
            $element.find("div").animate({ width: progressBarWidth }, 100).html(percent + "%&nbsp;");
        }

        function removeUploads() {
            $("#clickMe").css("background-color", "yellow").val('Removing Projects!');
            var folders = [];
            var files = [];
            $.map($("#treeRem").dynatree("getSelectedNodes"), function(node) {
                if (node.getLevel() == 3) {
                    folders.push(node.parent.data.title + "/" + node.data.id);
                }
                if (node.getLevel() == 4) {
                    folders.push(node.parent.parent.data.title + "/" + node.parent.data.title + "/" + node.data.id);
                }
                if (node.getLevel() == 5) {
                    files.push(node.parent.parent.parent.data.title + "/" + node.parent.parent.data.title + "/" + node.parent.data.title + "/" + node.data.id);
                }
            });
            var myDict = {};
            myDict['folders'] = folders;
            myDict['files'] = files;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/myPhyloDB/removeUploads/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function (data) {
                    $("#treeRem").dynatree("getTree").reload();
                    $("#clickMe").css("background-color", "green").val('Done');
                }
            });
        }

        function stop() {
            $.ajax({
                url: '/myPhyloDB/filestop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var mstage = obj['message'];
                    $('#stage').empty().append(mstage);
                }
            });
        }

        function updateStage(stage) {
            $("#stage").empty().append(stage);
        }

        function fileUpload() {
            console.log("Starting upload");
            // get file data, need a line like this for each file type in the form (quite a few actually)
            // its by name because some file types show up multiple times, we need to get all the files from that type
            // into a single file list for the actual upload handling
            var allMeta = document.getElementsByName("metafiles");
            var allShared = document.getElementsByName("sharedfiles");
            var allTaxa = document.getElementsByName("taxafiles");
            var allSequence = document.getElementsByName("sequencefiles");
            var allSFF = document.getElementsByName("sfffiles");
            var allOligos = document.getElementsByName("oligosfiles");
            var allFiles = document.getElementsByName("filesfiles");
            var allScript = document.getElementsByName("scriptfiles");
            var allFNA = document.getElementsByName("fnafiles");
            var allQual = document.getElementsByName("qualfiles");
            var allContig = document.getElementsByName("contigfiles");
            var allFastq = document.getElementsByName("fastqfiles");
            // figure out how many files we need to send, and maybe how big they are for progress bar sake
            var myFiles = [];
            var myTypes = [];
            var c, d, chunkNum;
            var found;
            function simplifyFiles(fileContainer, fileType){
                //console.log("Simplifying "+fileType+" with "+fileContainer.length+" fields");
                found = 0;
                for (c=0; c<fileContainer.length; c++){
                    for (d=0; d<fileContainer[c].files.length; d++){
                        myFiles.push(fileContainer[c].files[d]);
                        myTypes.push(fileType);
                        found++;
                    }
                }
                //console.log("Actually found "+found+" files");
            }
            //console.log("Defined simplify");
            // since we're uploading one file at a time, put all of them into the same list (paired with a type list)
            // twelve types of files, here we go
            // meta
            simplifyFiles(allMeta, "meta");
            // shared
            simplifyFiles(allShared, "shared");
            // taxa
            simplifyFiles(allTaxa, "taxa");
            // sequence
            simplifyFiles(allSequence, "sequence");
            // sff
            simplifyFiles(allSFF, "sff");
            // oligos
            simplifyFiles(allOligos, "oligos");
            // files
            simplifyFiles(allFiles, "files");
            // script
            simplifyFiles(allScript, "script");
            // fna
            simplifyFiles(allFNA, "fna");
            // qual
            simplifyFiles(allQual, "qual");
            // contig
            simplifyFiles(allContig, "contig");
            // fastq
            simplifyFiles(allFastq, "fastq");

            console.log("Found "+myFiles.length+" files");

            var percent;
            var chunkSize = 5000; // 5 KB chunk size, needs testing / metrics to fine tune
            // TODO 1.3 error encountered when file is <= chunk size
            var currentFile = 0;
            var fileCount = myFiles.length;
            // actually send files
            function sendNextFile(myFile, myType){
                // need to reset RID for each upload so tracking on the server is clean
                RID = makeGUID();
                //this should be called within the context of fileUpload, so we can let that handle progress stage
                //meanwhile this function will handle percent progress within this specific file upload
                percent = 0.0;
                var fileSize = myFile.size;
                var fileName = myFile.name;
                updateStage("Uploading "+fileName);
                console.log("File "+fileName+" ("+currentFile+") is "+fileSize+" bytes");
                // get chunk count
                var chunkCount = Math.ceil(fileSize/chunkSize);
                var chunkNum = 0;
                var currentPosition = 0;
                var curChunk, readChunk;  // had to define curHash back at global scope for the sake of ajax success call
                // can we slice the file without pulling it into memory?
                // remember the last chunk is probably smaller than the others
                var reader = new FileReader();
                reader.onload = function(){
                    //console.log("onload!");
                    readChunk = new Uint8Array(reader.result);//.split(",")[1];
                    console.log("readChunk: "+Object.keys(readChunk).length);
                    console.log(readChunk);
                    //curHash = SparkMD5.hash(readChunk);
                    var spark = new SparkMD5.ArrayBuffer();
                    spark.append(readChunk);
                    curHash = spark.end();
                    //console.log("curHash");
                    // send chunk to server, wait for confirmation, go to next chunk
                    var myDict = {};
                    myDict['RID'] = RID;
                    //console.log("Sending chunk for file with RID "+RID);
                    myDict['chunk'] = readChunk;
                    myDict['chunkNum'] = chunkNum;
                    var jsonDict = JSON.stringify(myDict);
                    console.log("trying to send chunk "+chunkNum);
                    $.ajax({
                        url: '/myPhyloDB/fileUploadChunk/',
                        type: 'POST',
                        //dataType: 'json',
                        processData: false,
                        data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),// + "&chunkBinaryData="+readChunk,
                        success: function (data) {
                            console.log("Returned from chunk "+chunkNum);
                            // data should have the hash from the server, check if it matches our hash
                            // if it does, move on to the next chunk
                            // if it does not, resend this chunk by decrementing chunkNum and start values
                            var result = JSON.stringify(data);
                            console.log("Successful return: "+result);
                            var obj = $.parseJSON(result);
                            var serverHash = obj['hash'];
                            console.log("Server returned hash: "+serverHash);
                            if (serverHash != curHash){
                                // resend this chunk, the hashes didn't match TIMEOUT CHECK? Number of attempts limit! TODO 1.3
                                console.log("Hash mismatch for "+chunkNum);
                                alert("Hash mismatch, wanted hash: "+curHash);
                            } else {
                                currentPosition += chunkSize;
                                chunkNum++;
                            }
                            percent = Math.min(100, Math.round(100.0*currentPosition / fileSize));
                            progressBar(percent, $("#progressBar"));
                            if (percent < 100){
                                sendChunk(currentPosition);
                            } else {
                                // hey we actually finished sending this file!
                                fileWasSent();
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {

                            $('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                            console.log('jqXHR:');
                            console.log(jqXHR);
                            console.log('textStatus:');
                            console.log(textStatus);
                            console.log('errorThrown:');
                            console.log(errorThrown);
                            // we had an error, not based on hash mismatch though

                        }
                    });
                };
                function sendChunk(currentPosition){
                    // this function gets called again by the onload function in the filereader, javascript is weird ok?
                    curChunk = myFile.slice(currentPosition, Math.min(currentPosition+chunkSize, fileSize));
                    console.log("curChunk: "+Object.keys(curChunk).length);
                    reader.readAsArrayBuffer(curChunk);
                    //reader.readAsText(curChunk);
                    //reader.readAsBinaryString(curChunk);
                    //reader.readAsDataURL(curChunk);
                }
                sendChunk(0); // go from start of file, this will keep calling itself until the end of file is sent

                function fileWasSent(){
                    console.log("Finished sending file with RID "+RID);
                    // file was sent successfully (?) send "fileDone" message to server, function is done
                    // fileDone message can include file type from myType parameter, use that to know where to move the file
                    var myDict = {};
                    myDict['RID'] = RID;
                    myDict['type'] = myType;
                    myDict['name'] = fileName;
                    var jsonDict = JSON.stringify(myDict);
                    $.ajax({
                        url: '/myPhyloDB/fileUploadComplete/',
                        type: 'POST',
                        dataType: 'json',
                        data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                        success: function (data) {
                            var result = JSON.stringify(data);
                            var obj = $.parseJSON(result);
                            var err = obj['error'];
                            if (err != "none"){
                                alert(err);
                            }
                            // not sure what should go in the response message yet, just errors for now
                            currentFile++;
                            if (currentFile<fileCount){
                                sendNextFile(myFiles[currentFile], myTypes[currentFile]);
                            } else {
                                updateStage("All uploads complete"); // TODO 1.3 actually check how many succeeded
                            }
                        }
                    });
                }

            }

            // call above chunk based uploader for each file in list
            sendNextFile(myFiles[currentFile], myTypes[currentFile]);

        }

    </script>
{% endblock %}
{% block my_content %}

    <h2>Upload new data files:</h2>

    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <h3>Select file(s) for upload:</h3>
        <table id="uploadTable" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <td>Meta</td>
                <td><input type="file" name="metafiles" multiple></td>
            </tr>
        </table>
        <br>
        <table width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <td>Available Data Formats:</td>
                <td>{{ form2.source }}</td>
            </tr>
        </table>
        <br>
        <table width="100%" border="2" cellspacing="0" cellpadding="1" id="mothur">
            <tr>
                <td>Shared</td>
                <td><input type="file" name="sharedfiles" multiple></td>
            </tr>
            <tr>
                <td>{{ form2.ref_data.label_tag }}</td>
                <td>{{ form2.ref_data }}</td>
            </tr>
            <tr class="taxa_file" style="display: none">
                <td>Taxa</td>
                <td><input type="file" name="taxafiles" multiple></td>
            </tr>
            <tr class="vsearch">
                <td>Sequence</td>
                <td><input type="file" name="sequencefiles" multiple></td>
            </tr>
        </table>
        <table width="100%" border="2" cellspacing="0" cellpadding="1" id="454_sff" style="display: none">
            <tr>
                <td>Sff</td>
                <td><input type="file" name="sfffiles" multiple></td>
            </tr>
            <tr>
                <td>Oligos</td>
                <td><input type="file" name="oligosfiles" multiple></td>
            </tr>
            <tr>
                <td>Files</td>
                <td><input type="file" name="filesfiles" multiple></td>
            </tr>
            <tr style="display: none" id="scriptRow1">
                <td>Script</td>
                <td><input type="file" name="scriptfiles" multiple></td>
            </tr>
        </table>
        <table width="100%" border="2" cellspacing="0" cellpadding="1" id="454_fastq" style="display: none">
            <tr>
                <td>Fna</td>
                <td><input type="file" name="fnafiles" multiple></td>
            </tr>
            <tr>
                <td>Qual</td>
                <td><input type="file" name="qualfiles" multiple></td>
            </tr>
            <tr>
                <td>Oligos</td>
                <td><input type="file" name="oligosfiles" multiple></td>
            </tr>
            <tr style="display: none" id="scriptRow2">
                <td>Script</td>
                <td><input type="file" name="scriptfiles" multiple></td>
            </tr>
        </table>
        <table width="100%" border="2" cellspacing="0" cellpadding="1" id="miseq" style="display: none">
            <tr>
                <td>Contig</td>
                <td><input type="file" name="contigfiles" multiple></td>
            </tr>
            <tr>
                <td>Fastq</td>
                <td><input type="file" name="fastqfiles" multiple></td>
            </tr>
            <tr style="display: none" id="scriptRow3">
                <td>Script</td>
                <td><input type="file" name="scriptfiles" multiple></td>
            </tr>
        </table>
        <table width="100%" border="2" cellspacing="0" cellpadding="1" id="biom" style="display: none">
            <tr>
                <td>feature-table.biom</td>
                <td><input type="file" name="sharedfiles" multiple></td>
            </tr>
            <tr>
                <td>taxonomy.tsv</td>
                <td><input type="file" name="taxafiles" multiple></td>
            </tr>
            <tr>
                <td>sequences.fasta</td>
                <td><input type="file" name="sequencefiles" multiple></td>
            </tr>
        </table>
        <br>
        <br>
        <table>
            <tr>
                <td>
                    <input id='Upload' name='Upload' type="button" onclick="fileUpload();"  value="Upload Files!"/>
                </td>
                <td>
                    <input id='Stop' name='Stop' type="button" onclick="stop();" value="Stop!"/>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div id="stage" style="display: none"></div>
    <div id="progressBar" style="display: none"><div></div></div>
    <br>

    <h2>List of previous uploads:</h2>
    <table id="user_files" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th>Select project path to remove:<a href="#" id="deleteFiles" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="treeRem"></div>
            </td>
        </tr>
    </table>
    <p><input id="clickMe" type="submit" value="Delete selected" onClick="removeUploads(); //TODO 1.4 add feature to download files (can download if given fileperms, only owner can delete) Is this actually good? We don't want to become a weird dropbox type"/></p>
    <br><br>
{% endblock my_content %}