{% extends 'base.html' %}

{% block pagetitle %}
    <title>Home</title>
{% endblock pagetitle %}

{% block my_content %}
    <table style="width: 950px;" border="1">
        <tr>
            <th style="text-align: left"><strong><em>What is myPhyloDB?</em></strong></th>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 25px;">A user-friendly web-interface for accessing and analyzing taxonomic
                    data from multiple projects and/or sequencing runs.
                    <br>A more detailed reference manual can be found <a href="{% url "instructions" %}" download>here</a>.<br><br>
                    The goal of myPhyloDB is to allow for easy comparisons and statistical analysis of microbial (i.e., fungi
                    or bacteria) taxonomic abundance across projects, soil types, and management scenarios.<br><br>
                    Data may be obtained from any sequencing platform; however,
                    currently only <a href="http://www.mothur.org" target="_blank">mothur</a>-formatted files are supported.
                </p>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 950px;" border="1">
        <tr>
            <th style="text-align: left"><strong><em>Database:</em></strong></th>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 25px;">myPhyloDB stores sample information, taxonomic data and counts from multiple projects in a single SQL database.</p>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 950px;" border="1">
        <tr>
            <th style="text-align: left"><strong><em>Data Input:</em></strong></th>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 25px;">myPhyloDB currently requires four data files for each stored project.<br>
                    Example files can be downloaded using the following links:</p>
                <ul>
                    <li><a href="{% url "project_file" %}" download>Project File</a>: General project information.</li>
                    <li><a href="{% url "sample_file" %}" download>Sample File</a>: Meta data for each sample including Mimark compliant sample information, edaphic (soil) factors, and management options.</li>
                    <li><a href="{% url "shared_file" %}" download>Shared File</a>: Species (or operational taxonomic unit, OTU) table based on the mothur-format as described <a href="http://www.mothur.org/wiki/Make.shared" target="_blank">here</a>.</li>
                    <li><a href="{% url "taxonomy_file" %}" download>Taxonomy File</a>: Consensus taxonomy file as described <a href="http://www.mothur.org/wiki/Classify.otu" target="_blank">here</a>.</li>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 950px;" border="1">
        <tr>
            <th style="text-align: left"><strong><em>Analysis Options:</em></strong></th>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 25px;">Samples can be selected from any project currently stored in the user's database.
                    Once selected, taxonomy alpha-diversity (e.g., raw counts, relative abundance, species richness, or Shannon's diversity)
                    can be compared graphically and statistically (ANOVA) for any meta variable contained in the
                    database.  Beta-diversity (e.g., Bray-Curtis distance) can also be graphically (PCoA, Principal Coordinates Analysis)
                    and statistically (AMOVA, HOMOVA) compared for any meta variable and taxonomic level contained in the database.
                </p>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 950px;" border="1">
        <tr>
            <th style="text-align: left"><strong><em>Contact Info:</em></strong></th>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 25px;">For questions/comments or requests for additional features please contact:</p>
                <p style="padding-left: 50px">
                    <a href="mailto: daniel.manter@ars.usda.gov?subject=PhyloDB">Daniel Manter</a><br>
                    Soil-Plant-Nutrient Research Unit<br>
                    USDA-ARS<br>
                    Fort Collins, CO 80526<br>
                    phone: (970) 492-7255<br>
                </p>
            </td>
        </tr>
    </table>
{% endblock my_content %}

