{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>KEGG Pathway</title>
{% endblock pagetitle%}

{% block javascript %}
    <script type="text/javascript">

        $(function () {
            $('#myTable').DataTable({
                dom: 'B<"toolbar">lfrtip',
                deferRender: true,
                ajax: {
                    url: '/pathJSON/'
                },
                scrollX: true,
                bPaginate: true,
                sPaginationType: 'full_numbers',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });
            $("div.toolbar").html('<br><br><br>')
        });

    </script>
{% endblock javascript %}

{% block my_content %}

    <div style="width: 950px">
        <table id="myTable" class="display compact nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Lvl1 ID</th>
                    <th>Lvl1 Name</th>
                    <th>Lvl2 ID</th>
                    <th>Lvl2 Name</th>
                    <th>Lvl3 ID</th>
                    <th>Lvl3 Name</th>
                    <th>ID</th>
                    <th>KO</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
    </div>
    <br><br><br>

{% endblock my_content%}
