{% extends 'site_base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Normalization</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
        hr.style8 {
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
        }
        hr.style8:after {
            content: '';
            display: block;
            margin-top: 2px;
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
        }
    </style>

    <script type="text/javascript">
        var NormMeth = 1;
        var remove = 0, minsize = 0;
        var res_table = null;
        var running = false, refresh = 0, RID = 0;

        $(function () {
            $("#NormMeth").change(function () {
                NormMeth = $(this).val();
                checkButtons();
                if (NormMeth == 2) {
                    $("#NormVal").val("min");
                } else {
                    $("#NormVal").val("median");
                }
            });
            $("#MinSize").change(function () {
                checkButtons();
                if (document.getElementById('MinSize').checked) {
                    minsize = 1;
                } else {
                    minsize = 0;
                }
            });
            $("#Remove").change(function () {
                checkButtons();
                if (document.getElementById('Remove').checked) {
                    remove = 1;
                } else {
                    remove = 0;
                }
            });
        });

        {% include "js/commonFunctions.js" %}
        function checkButtons() {
            $("#run").css("background-color", "lightgray");
            $("#TabButton").css("background-color", "lightgray");
            $("#BiomButton").css("background-color", "lightgray");
            chooseDisplay();
        }
        function chooseData() {
            if (document.getElementById("NormVal").value < 0) {
                alert("Sample size can only be a positive integer, 'min', 'median', or 'max'");
                running = false;
                return;
            }
            if (document.getElementById("MinVal").value < 0) {
                alert("Sample size can only be a positive integer");
                running = false;
                return;
            }
            getCatGraphData();
        }
        function chooseDisplay() {
            if (NormMeth == 1) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 2) {
                $("#NormRow").show();
                $("#IterRow").show();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 3) {
                $("#NormRow").show();
                $("#IterRow").show();
                $("#LambdaRow").show();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 4) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 5) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").show();
                $("#FilterRow").show();
            }
        }
        function getCatGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var myDict = {};
            myDict['Remove'] = remove;
            myDict['Cutoff'] = document.getElementById("Cutoff").value;
            myDict['NormVal'] = document.getElementById("NormVal").value;
            myDict['Iters'] = document.getElementById("Iters").value;
            myDict['Lambda'] = document.getElementById("Lambda").value;
            myDict['MinSize'] = minsize;
            myDict['MinVal'] = document.getElementById("MinVal").value;
            myDict['NormMeth'] = NormMeth;
            myDict['RID'] = RID;
            myDict['funcName'] = "getNorm";
            myDict['reqType'] = "call";
            myDict['dataID'] = dataID;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                type: 'POST',
                url: '/myPhyloDB/funcCall/',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    }
                }
            });
        }
        function getTab() {
            $("#TabButton").css("background-color", "yellow").val("Creating file...");
            var ul = document.getElementById("message");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode("This may take several minutes..."));
            ul.appendChild(li);
            $.ajax({
                url: '/myPhyloDB/getTab/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    window.location.href = obj['name'];
                    $("#TabButton").css("background-color", "green").val("Tabular");
                    ul.removeChild(li);
                }
            });
        }
        function getBiom() {
            $("#BiomButton").css("background-color", "yellow").val("Creating file...");
            var request = function() {
                $.ajax({
                    url: '/myPhyloDB/getBiom/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var result = JSON.stringify(data);
                        var obj = $.parseJSON(result);
                        var filename = obj['name'];
                        $("a#download").attr({
                            href: filename
                        }).get(0).click();
                        $("#BiomButton").css("background-color", "green").val("BIOM");
                    }
                });
            };
            request('/echo/json/', 'request.txt');
        }
        function runAnalysis() {
            if(running == true) {
                alert("myPhyloDB is currently running your previous analysis request!");
                return false;
            }
            running = true;
            $("#run").css("background-color", "yellow");
            $("#container-1").empty();
            $("#res_table").empty();
            chooseData();
        }
        function stopAnalysis() {
            clearInterval(refresh);
            $("#container-1").empty().append('Stop request has been received...');
            running = false;
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-1').empty().append(stage);
                }
            });
        }
        function updateStatus() {
            var myDict = {};
            myDict['RID'] = RID;
            myDict['funcName'] = "getNorm";
            myDict['reqType'] = "status";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                type: 'POST',
                url: '/myPhyloDB/funcCall/',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];
                    if (resType == "status") {
                        var stage = obj['stage'];
                        $('#container-1').empty().append(stage);
                    } else {

                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }

                        clearInterval(refresh);

                        var text = data['text'];
                        $("#container-1").empty().append(text);

                        running = false;

                        document.getElementById("TabButton").disabled = false;
                        document.getElementById("BiomButton").disabled = false;

                        setNorm(true);
                        menu();

                    }


                }
            });
        }
    </script>

{% endblock javascript %}

{% block my_content %}
    <br>
    <div>
        <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
            <tr>
                <td bgcolor="lightgray"  style="outline: thin solid"><strong><em>Select normalization method:</em></strong></td>
            </tr>
            <tr>
                <td  bgcolor="white">
                    <select id="NormMeth">
                        <option value="1" selected="selected">None</option>
                        <option value="2">Rarefaction (remove)</option>
                        <option value="3">Rarefaction (keep)</option>
                        <option value="4">Proportion</option>
                        <!--<option value="5">DESeq2</option>-->
                    </select>
                    &nbsp<-- Normalization method <span title="None = no sub-sampling<br>Rarefaction (remove) = sub-sampling <strong><em>without</strong></em> replacement<br>Rarefaction (keep) = laplace smoothing followed by sub-sampling <em><strong>with</strong></em> replacement<br>Proportion = all abundances are divided by the total number of sequence reads for that sample<br>DESeq2 = normalization by the geometic mean (see DESeq manual for more details)"><font color="red">[info]</font></span>
                </td>
            </tr>
            <tr id="NormRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="NormVal" value=""/>
                    &nbsp<-- Sub-sample size
                </td>
            </tr>

            <tr id="IterRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="Iters" value="100"/>
                    &nbsp<-- Iterations
                </td>
            </tr>
            <tr id="LambdaRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="Lambda" value="0.1"/>
                    &nbsp<-- Lambda
                </td>
            </tr>
            <tr><td bgcolor="white"></td></tr>
            <tr>
                <td bgcolor="lightgray"  style="outline: thin solid"><strong><em>Select sample/OTU cutoffs:</em></strong></td>
            </tr>
            <tr id="MinRow" bgcolor="white">
                <td>
                    <input type="checkbox" title="Click to turn on/off" id="MinSize"/>
                    <input style="background-color: white"  type="text" id="MinVal" value="0"/>
                    &nbsp<-- Minimum sample size
                </td>
            </tr>
            <tr id="CutoffRow">
                <td bgcolor="white">
                    <input type="checkbox" title="Click to turn on/off" id="Remove"/>
                    <input style="background-color: white"  type="text" id="Cutoff" value="0"/>
                    &nbsp<-- Minimum OTU size
                </td>
            </tr>
            <tr><td bgcolor="white"></td></tr>
            <tr>
                <td bgcolor="lightgray"  style="outline: thin solid"><strong><em>Run normalization:</em></strong></td>
            </tr>
            <tr>
                <td bgcolor="white">
                    <input id="run" type="submit" value="Run!" style="background-color: lightgray" onClick="runAnalysis()"/>
                    &nbsp
                    <input id="stop" type="submit" value="Stop!" style="background-color: lightgray" onClick="stopAnalysis()"/>
                    &nbsp<-- Start/stop normalization
                </td>
            </tr>
            <tr><td bgcolor="white"></td></tr>
            <tr>
                <td bgcolor="lightgray"  style="outline: thin solid"><strong><em>Direct download of your data (optional):</em></strong></td>
            </tr>
            <tr>
                <td bgcolor="white">
                    <input id="TabButton" type="button" disabled value="Tabular" onClick="getTab()"/>
                    &nbsp
                    <input id="BiomButton" type="button" disabled value="BIOM" onClick="getBiom()"/>
                </td>
            </tr>
        </table>
        <div id="message" style="margin-left: 15px;">
            <ul></ul>
        </div>

        <a id="download" download href="" style="display:none">download</a>

    </div>
    <br><br>

    <hr class="style8">
    <h2>Normalization Results:</h2>
    <textarea id="container-1" style="width: 950px;" wrap="off" rows="10">Please run a normalization procedure!</textarea>
    <br>

    <br>
    <br>
{% endblock my_content%}


