{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Norm</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!" style="background-color: lightgray"/></p>
    <br>
    <p><input id="stop" type="submit" value="Stop Analysis!" style="background-color: lightgray"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var NormMeth = 1, selTheme = 0, i = 0;
        var nodesCat = "", nodesQuant = "", nodesTaxa = "", selectAll = 0;
        var refresh = 0;
        var running = false;
        var tabular= 0, biome = 0;
        var remove = 0, minsize = 0;
        var RID = 0;

        $(function () {
            $("#run").show().click(function () {
                if(running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                running = true;
                $("#run").css("background-color", "yellow");
                $("#text-1").empty();
                chooseData();
            });

            $("#stop").show().click(function () {
                //document.getElementById("stop").value = "Stopping...";
                running = false;
                stopThis(RID);
                //setTimeout(function() {
                //   document.getElementById("stop").value = "Stop Analysis!";
                //}, 10*1000); //Resets stop button after 10 seconds in case of failure on stop function's part
            });

            $("#NormMeth").change(function () {
                NormMeth = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#NormVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Iters").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#MinSize").change(function () {
                if (document.getElementById('MinSize').checked) {
                    minsize = 1;
                } else {
                    minsize = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#MinVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Tabular").change(function () {
                if (document.getElementById('Tabular').checked) {
                    tabular = 1;
                } else {
                    tabular = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Biom").change(function () {
                if (document.getElementById('Biom').checked) {
                    biome = 1;
                } else {
                    biome = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Remove").change(function () {
                if (document.getElementById('Remove').checked) {
                    remove = 1;
                } else {
                    remove = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Cutoff").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#clearMeta").click(function () {
                $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                $("#run").css("background-color", "lightgray");
            });

            $("#clearTaxa").click(function () {
                $("#selectall").val(0);
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                selectAll = 0;
                $("#run").css("background-color", "lightgray");
            });

            $("#selectall").change(function () {
                selectAll = $(this).val();
                $("#run").css("background-color", "lightgray");
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });
        });

        function stopThis(RID) {
            clearInterval(refresh);
            $.ajax({
                url: '/stopNorm/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['error'];
                    $('#container-1').empty().append(stage);
                    //document.getElementById("stop").value = "Stop Analysis!";
                }
            });
        }

        function updateStatus(RID) {
            $.ajax({
                url: '/statusNorm/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    $('#container-1').empty().append(stage);
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){
                updateStatus(RID);
            }, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);
        }

        function chooseDisplay() {
            if (NormMeth== 1) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 2) {
                $("#NormRow").show();
                $("#IterRow").show();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 3) {
                $("#NormRow").show();
                $("#IterRow").show();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 4) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 5) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#MinRow").show();
                $("#VSRow").show();
                $("#FilterRow").show();
            }
        }

        function chooseData() {
            if (document.getElementById("NormVal").value < 0) {
                alert("Sample size can only be a positive integer, 'min', 'median', or 'max'");
                running = false;
                return;
            }

            if (document.getElementById("MinVal").value < 0) {
                alert("Sample size can only be a positive integer");
                running = false;
                return;
            }

            getCatGraphData();
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function getCatGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var myDict = {};
            myDict['Tabular'] = tabular;
            myDict['Biome'] = biome;
            myDict['Remove'] = remove;
            myDict['Cutoff'] = document.getElementById("Cutoff").value;
            myDict['NormVal'] = document.getElementById("NormVal").value;
            myDict['Iters'] = document.getElementById("Iters").value;
            myDict['MinSize'] = minsize;
            myDict['MinVal'] = document.getElementById("MinVal").value;
            myDict['selectAll'] = selectAll;
            myDict['NormMeth'] = NormMeth;
            myDict['RID'] = RID;
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/getNormCatData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    $('#container-1').empty();
                    var res_table = data['res_table'];
                    $('#res_table').empty().append(res_table).find('.table').DataTable({
                        dom: 'Bfrtip',
                        scroller: true,
                        scrollX: 600,
                        scrollY: 600,
                        buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                    }).draw();

                    running = false;
                    stopTimer(refresh);
                    var biome = data['biome'];
                    $("#biome-text").empty().append(biome);

                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    } else {
                        $("#run").css("background-color", "green");
                    }
                    var text = data['text'];
                    $("#container-1").empty().append(text);

                    $("#link0").show();
                    $("#link1").show();
                    $("#link2").show();
                    $("#link3").show();
                    $("#link4").show();
                    $("#link5").show();
                }
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <div>
        <h2>Select your output formats:</h2>
        <input type="checkbox" title="Click to turn on/off" id="Tabular"/>&nbsp<-- Output results in tabular format:
        <br>
        <input type="checkbox" title="Click to turn on/off" id="Biom"/>&nbsp<-- Output results in biom format:
        <br><br>
        <h2>Select your normalization method:</h2>
        <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
            <tr>
                <th bgcolor="white"></th>
            </tr>
            <tr>
                <td  bgcolor="white">
                    <select id="NormMeth">
                        <option value="1" selected="selected">None</option>
                        <option value="2">Rarefaction (remove)</option>
                        <option value="3">Rarefaction (keep)</option>
                        <option value="4">Proportion</option>
                        <option value="5">DESeq2</option>
                    </select>
                    &nbsp<-- Selected normalization method
                </td>
            </tr>
            <tr id="NormRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="NormVal" value="median"/>
                    &nbsp<-- Sub-sample size:
                </td>
            </tr>

            <tr id="IterRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="Iters" value="1"/>
                    &nbsp<-- Iterations:
                </td>
            </tr>
        </table>
        <br><br>
        <h2>Select sample/species cutoffs:</h2>
        <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
            <tr>
                <th bgcolor="white"></th>
            </tr>
            <tr id="MinRow" bgcolor="white">
                <td>
                    <input type="checkbox" title="Click to turn on/off" id="MinSize"/>
                    <input style="background-color: white"  type="text" id="MinVal" value="0"/>
                    &nbsp<-- Minimum sample size:
                </td>
            </tr>
            <tr id="CutoffRow">
                <td bgcolor="white">
                    <input type="checkbox" title="Click to turn on/off" id="Remove"/>
                    <input style="background-color: white"  type="text" id="Cutoff" value="0"/>
                    &nbsp<-- Minimum species size:
                </td>
            </tr>
        </table>
    </div>
    <br><br>

    <h2>Normalization Results:</h2>
    <textarea id="container-1" style="width: 950px;" wrap="off" rows="10">Please run a normalization procedure!</textarea>
    <br>

    <h2>Normalized Data (Tabular):</h2>
    <div id="res_table" style="width: 950px; overflow-x: auto;"></div>
    <br>

    <h2>Normalized Data (Biom Format):</h2>
    <textarea id="biome-text" style="width: 950px;" wrap="off" rows="20"></textarea>
    <br>
    <br>
    <br>
{% endblock my_content%}


