{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Norm</title>
{% endblock pagetitle%}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!" style="background-color: lightgray"/></p>
    <br>
    <p><input id="stop" type="submit" value="Stop Analysis!" style="background-color: lightgray"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
        hr.style8 {
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
        }
        hr.style8:after {
            content: '';
            display: block;
            margin-top: 2px;
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
        }
    </style>

    <script type="text/javascript">
        var NormMeth = 1, selTheme = 0, i = 0;
        var nodesCat = "", nodesQuant = "", nodesTaxa = "", selectAll = 0;
        var refresh = 0;
        var running = false;
        var tabular= 0, biome = 0;
        var remove = 0, minsize = 0;
        var RID = 0, Proc = 2;
        var res_table = null;

        $(function () {

            if ( "{{ platform }}" == 'nt') {
                $("#ProcRow").hide();
                $("#Procrow-off").show();
            } else {
                $("#ProcRow").show();
                $("#Procrow-off").hide();
            }


            $("#run").show().click(function () {
                if(running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                running = true;
                $("#run").css("background-color", "yellow");
                $("#container-1").empty();
                $("#biome-text").val('');
                $("#res_table").empty();
                chooseData();
            });

            $("#stop").show().click(function () {
                $("#container-1").empty().append('Stop request has been received...');
                running = false;
                stopThis(RID);
            });

            $("#NormMeth").change(function () {
                NormMeth = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
                if (NormMeth == 2) {
                    $("#NormVal").val("min");
                } else {
                    $("#NormVal").val("median");
                }
            });

            $("#Proc").change(function () {
                Proc = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#NormVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Iters").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Lambda").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#MinSize").change(function () {
                if (document.getElementById('MinSize').checked) {
                    minsize = 1;
                } else {
                    minsize = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#MinVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Tabular").change(function () {
                if (document.getElementById('Tabular').checked) {
                    tabular = 1;
                } else {
                    tabular = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Biom").change(function () {
                if (document.getElementById('Biom').checked) {
                    biome = 1;
                } else {
                    biome = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Remove").change(function () {
                if (document.getElementById('Remove').checked) {
                    remove = 1;
                } else {
                    remove = 0;
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Cutoff").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#clearMeta").click(function () {
                $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                $("#run").css("background-color", "lightgray");
            });

            $("#clearTaxa").click(function () {
                $("#selectall").val(0);
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                selectAll = 0;
                $("#run").css("background-color", "lightgray");
            });

            $("#selectall").change(function () {
                selectAll = $(this).val();
                $("#run").css("background-color", "lightgray");
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#TabButton").click(function () {
                getTab();
            });

            $("#BiomButton").click(function () {
                getBiom();
            });


        });

        function stopThis(RID) {
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-1').empty().append(stage);
                }
            });
        }

        function updateStatus(RID) {
            $.ajax({
                url: '/myPhyloDB/statusNorm/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    $('#container-1').empty().append(stage);
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){
                updateStatus(RID);
            }, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);
        }

        function chooseDisplay() {
            if (NormMeth == 1) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 2) {
                $("#NormRow").show();
                $("#IterRow").show();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 3) {
                $("#NormRow").show();
                $("#IterRow").show();
                $("#LambdaRow").show();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 4) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").hide();
                $("#FilterRow").hide();
            }
            if (NormMeth == 5) {
                $("#NormRow").hide();
                $("#IterRow").hide();
                $("#LambdaRow").hide();
                $("#MinRow").show();
                $("#VSRow").show();
                $("#FilterRow").show();
            }
        }

        function chooseData() {
            if (document.getElementById("NormVal").value < 0) {
                alert("Sample size can only be a positive integer, 'min', 'median', or 'max'");
                running = false;
                return;
            }

            if (document.getElementById("MinVal").value < 0) {
                alert("Sample size can only be a positive integer");
                running = false;
                return;
            }

            getCatGraphData();
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function getCatGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var myDict = {};
            myDict['Tabular'] = tabular;
            myDict['Biome'] = biome;
            myDict['Remove'] = remove;
            myDict['Cutoff'] = document.getElementById("Cutoff").value;
            myDict['NormVal'] = document.getElementById("NormVal").value;
            myDict['Iters'] = document.getElementById("Iters").value;
            myDict['Lambda'] = document.getElementById("Lambda").value;
            myDict['MinSize'] = minsize;
            myDict['MinVal'] = document.getElementById("MinVal").value;
            myDict['selectAll'] = selectAll;
            myDict['NormMeth'] = NormMeth;
            myDict['Proc'] = Proc;
            myDict['RID'] = RID;
            myDict['funcName'] = "getNorm";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    } else {
                        $("#run").css("background-color", "green");
                    }

                    if (tabular == 1) {
                        var rowData = data['data'];
                        var colData = data['columns'];

                        if (res_table == null) {
                            res_table = $('#res_table').dataTable({
                                dom: 'B<"toolbar">lfrtip',
                                deferRender: true,
                                scrollX: true,
                                bSort: true,
                                bPaginate: true,
                                sPaginationType: 'full_numbers',
                                buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ],
                                data: rowData,
                                columns: colData
                            });
                        } else {
                            res_table = $('#res_table').DataTable({
                                dom: 'B<"toolbar">lfrtip',
                                deferRender: true,
                                scrollX: true,
                                bSort: true,
                                bPaginate: true,
                                sPaginationType: 'full_numbers',
                                buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ],
                                data: rowData,
                                columns: colData,
                                destroy: true
                            });
                        }
                        $("div.toolbar").html('<br><br><br>');
                    }

                    if (biome == 1) {
                        var biome_txt = data['biome'];
                        $("#biome-text").val(biome_txt);
                    }

                    stopTimer(refresh);

                    var text = data['text'];
                    $("#container-1").empty().append(text);

                    running = false;

                    document.getElementById("TabButton").disabled = false;
                    document.getElementById("BiomButton").disabled = false;

                    //setNorm(true);
                    menu();
               }
            });
        }

        function getTab(){
            $.ajax({
                url: '/myPhyloDB/getTab/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var name = obj['name'];
                    getFile(name, 'normalized_data.csv');
                }
            });
        }

        function getBiom(){
            $.ajax({
                url: '/myPhyloDB/getBiom/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var name = obj['name'];
                    getFile(name, 'normalized_data.biom');
                }
            });
        }

        function getFile(name, final) {
            {% static "" as baseUrl %}
            var url = {{ baseUrl }} + '/' + name;
            var anchor = document.createElement('a');
            anchor.setAttribute('href', url);
            anchor.setAttribute('download', final);

            var ev = document.createEvent("MouseEvents");
                ev.initMouseEvent("click", true, false, self, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            anchor.dispatchEvent(ev);
        }

    </script>

{% endblock javascript %}

{% block my_content %}
    <div>
        <h2>Select your normalization method:</h2>
        <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
            <tr>
                <th bgcolor="white"></th>
            </tr>
            <tr id="ProcRow">
                <td bgcolor="white">
                    <input style="background-color: white" type="text" id="Proc" value="2"/>
                    &nbsp<-- Number of processors to use
                </td>
            </tr>
            <tr id="ProcRow-off" style="display: none">
                <td bgcolor="white"></td>
            </tr>
            <tr>
                <td  bgcolor="white">
                    <select id="NormMeth">
                        <option value="1" selected="selected">None</option>
                        <option value="2">Rarefaction (remove)</option>
                        <option value="3">Rarefaction (keep)</option>
                        <option value="4">Proportion</option>
                        <option value="5">DESeq2</option>
                    </select>
                    &nbsp<-- Selected normalization method
                </td>
            </tr>
            <tr id="NormRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="NormVal" value=""/>
                    &nbsp<-- Sub-sample size
                </td>
            </tr>

            <tr id="IterRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="Iters" value="100"/>
                    &nbsp<-- Iterations
                </td>
            </tr>
            <tr id="LambdaRow" style="display: none;" bgcolor="white">
                <td>
                    <input style="background-color: white" type="text" id="Lambda" value="0.5"/>
                    &nbsp<-- Lambda
                </td>
            </tr>
        </table>
        <br><br>
        <h2>Select sample/species cutoffs (optional):</h2>
        <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
            <tr>
                <th bgcolor="white"></th>
            </tr>
            <tr id="MinRow" bgcolor="white">
                <td>
                    <input type="checkbox" title="Click to turn on/off" id="MinSize"/>
                    <input style="background-color: white"  type="text" id="MinVal" value="0"/>
                    &nbsp<-- Minimum sample size
                </td>
            </tr>
            <tr id="CutoffRow">
                <td bgcolor="white">
                    <input type="checkbox" title="Click to turn on/off" id="Remove"/>
                    <input style="background-color: white"  type="text" id="Cutoff" value="0"/>
                    &nbsp<-- Minimum species size
                </td>
            </tr>
        </table>
        <br><br>

        <h2>Display your output formats (optional):</h2>
        <input type="checkbox" title="Click to turn on/off" id="Tabular"/>
        &nbsp<-- Output tabular results to DataTable
        <br>
        <input type="checkbox" title="Click to turn on/off" id="Biom"/>
        &nbsp<-- Output biom results to text area
        <br><br>

        <h2>Direct download of your data (optional):</h2>
        <input id="TabButton" type="button" disabled value="Tabular"/>
        &nbsp&nbsp&nbsp
        <input id="BiomButton" type="button" disabled value="BIOM"/>
        <br>
    </div>
    <br><br>

    <hr class="style8">
    <h2>Normalization Results:</h2>
    <textarea id="container-1" style="width: 950px;" wrap="off" rows="10">Please run a normalization procedure!</textarea>
    <br>

    <div style="width: 950px">
    <h2>Normalized Data (Tabular):</h2>
    <table id="res_table" class="display nowrap" cellpadding="0" cellspacing="0" width="100%"></table>
    </div>
    <br>

    <h2>Normalized Data (BIOM Format):</h2>
    <textarea id="biome-text" style="width: 950px;" wrap="off" rows="20"></textarea>
    <br>
    <br>
    <br>
{% endblock my_content%}


