{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>PCA</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var DepVar = 0, selTheme = 0;
        var nodesCat = "", taxaAll = 7, nzAll = 1, keggAll = 1, button3 = 1, vecScale = 0.7;
        var chart1 = {}, display = 1;
        var catOptions = {};
        var distance = 15, PC1 = 1, PC2 = 2;
        var refresh = 0;
        var running = false;
        var RID = 0;
        var transform = 0;

        $(function () {

            // remove R plot on close
            $(window).bind('beforeunload', function () {
                $.ajax({
                    url: '/myPhyloDB/removeFiles/',
                    async: false,
                    dataType: 'json',
                    data: {
                        all: RID,
                        func: 'pca'
                    }
                });
            });

            // Initialize dynatrees
            $("#tree_metaCat").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/myPhyloDB/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/myPhyloDB/getSampleCatTreeChildren/',
                        data: {pType: node.data.pType, field: node.data.title},
                        success: function (node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function (flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesCat = node.tree.getSelectedNodes();
                    ellipseBox();
                    colorBox();
                    shapeBox();
                    $("#run").css("background-color", "lightgray");
                }
            });

            // Start stop and other 'click' functions
            $("#run").click(function () {
                if (running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                $("#my_image").attr("src", "#");
                $("#container-0").empty().show();
                $("#container-2").hide();
                $("#text-1").val('');
                $("#res_table").empty();
                running = true;
                chooseData();
            });

            $("#stop").show().click(function () {
                running = false;
                stopThis(RID);
            });

            $("#clearMeta").click(function () {
                $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                checkButtons();
            });

            $("#ellipse").click(function () {
                checkButtons();
            });

            $("#contrib").click(function () {
                checkButtons();
            });

            $("#contrib2").click(function () {
                checkButtons();
            });

            $("#TabButton").click(function () {
                getTab();
            });

            // Capture all changes in textboxes, etc.
            $("#selectTree").change(function () {
                button3 = $(this).val();
                checkButtons();
                if (button3 == 1) {
                    $('#row_taxa').show();
                    $('#row_kegg').hide();
                    $('#row_nz').hide();
                    $('#cell_taxa').show();
                    $('#cell_kegg').hide();
                    $('#cell_nz').hide();
                    $('#text-1').val('');
                } else if (button3 == 2) {
                    $('#row_taxa').hide();
                    $('#row_kegg').show();
                    $('#row_nz').hide();
                    $('#cell_taxa').hide();
                    $('#cell_kegg').show();
                    $('#cell_nz').hide();
                    $('#text-1').val('');
                } else if (button3 == 3) {
                    $('#row_taxa').hide();
                    $('#row_kegg').hide();
                    $('#row_nz').show();
                    $('#cell_taxa').hide();
                    $('#cell_kegg').hide();
                    $('#cell_nz').show();
                    $('#text-1').val('');
                }
            });

            $("#transform").change(function () {
                transform = $(this).val();
                chooseDisplay();
                checkButtons();
            });

            $("#DepVar").change(function () {
                DepVar = $(this).val();
                if (DepVar == 1) {
                    $('#transform').empty()
                        .append('<option value="0">None</option>')
                        .append('<option value="4">Logit</option>')
                        .append('<option value="5">Arcsin</option>')
                        .val(0);
                }
                else {
                    $('#transform').empty()
                        .append('<option value="0" selected>None</option>')
                        .append('<option value="1">Ln</option>')
                        .append('<option value="2">Log10</option>')
                        .append('<option value="3">Sqrt</option>')
                        .val(0);
                }
                transform = 0;
                checkButtons();
            });

            $("#selectall-taxa").change(function () {
                taxaAll = $(this).val();
                checkButtons();
            });

            $("#selectall-kegg").change(function () {
                keggAll = $(this).val();
                checkButtons();
                $("#tree_kegg").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#selectall-nz").change(function () {
                nzAll = $(this).val();
                checkButtons();
                $("#tree_nz").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#PC1").change(function () {
                PC1 = $(this).val();
                checkButtons();
            });

            $("#PC2").change(function () {
                PC2 = $(this).val();
                checkButtons();
            });

            $("#colorVal").change(function () {
                checkButtons();
            });

            $("#palette").change(function () {
                checkButtons();
            });

            $("#shapeVal").change(function () {
                checkButtons();
            });

            $("#ellipseVal").change(function () {
                checkButtons();
            });
            $("#vecScale").change(function () {
                vecScale = $(this).val();
                vecScale = parseFloat(vecScale, 10);
                if (vecScale<0)
                {
                    vecScale = 0.7;
                    document.getElementById("vecScale").value = "0.7";
                    alert("Entered value is too small. Bounds for vector scale are from 0.0 to 1.0");
                }
                if (vecScale>1.0)
                {
                    vecScale = 0.7;
                    document.getElementById("vecScale").value = "0.7";
                    alert("Entered value is too large. Bounds for vector scale are from 0.0 to 1.0");
                }
                if (isNaN(vecScale))
                {
                    vecScale = 0.7;
                    document.getElementById("vecScale").value = "0.7";
                    alert("Entered value is not a number. Bounds for vector scale are from 0.0 to 1.0");
                }
                checkButtons();
            });

        });

        function getTab(){
            $("#TabButton").css("background-color", "yellow").val("Gathering your data...please wait!");
            $.ajax({
                url: '/myPhyloDB/getRawData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID,
                    func: 'pca',
                    button3: button3
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var name = obj['name'];
                    getFile(name, 'final_data.csv');
                    $("#TabButton").css("background-color", "green").val("Done!");
                }
            });
        }

        function getFile(name, final) {
            var anchor = document.createElement('a');
            anchor.setAttribute('href', name);
            anchor.setAttribute('download', final);

            var ev = document.createEvent("MouseEvents");
                ev.initMouseEvent("click", true, false, self, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            anchor.dispatchEvent(ev);
        }

        function checkButtons(){
            //set all buttons to their proper states given the current state of the independent buttons
            $("#run").css("background-color", "lightgray");
            $("#TabButton").css("background-color", "lightgray").val("Export Data");
            document.getElementById("TabButton").disabled = true;

            if (button3 == 1) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
                $("#my_image").attr("src", "#");
            }

            if (button3 == 2) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
                $("#my_image").attr("src", "#");
            }

            if (button3 == 3) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
                $("#my_image").attr("src", "#");
            }

        }

        function colorBox() {
            $("#colorVal").empty()
                    .prepend('<option selected="selected" value="None">None</option>')
                    .append('<option value="k-means">k-means</option>');

            var titleArray = [];
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if ((node.data.pType == 'mimark') || (node.data.pType == 'user')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#colorVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if ((node.data.pType == 'human_associated') || (node.data.pType == 'soil') || (node.data.pType == 'air') || (node.data.pType == 'microbial') || (node.data.pType == 'water')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#colorVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
            });
            if (titleArray.length > 1) {
                $("#colorVal").append('<option value=interaction>interaction</option>');
            }
        }

        function shapeBox() {
            $("#shapeVal").empty()
                    .prepend('<option selected="selected" value="None">None</option>')
                    .append('<option value="k-means">k-means</option>');

            var titleArray = [];
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if ((node.data.pType == 'mimark') || (node.data.pType == 'user')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#shapeVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if ((node.data.pType == 'human_associated') || (node.data.pType == 'soil') || (node.data.pType == 'air') || (node.data.pType == 'microbial') || (node.data.pType == 'water')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#shapeVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
            });
            if (titleArray.length > 1) {
                $("#shapeVal").append('<option value=interaction>interaction</option>');
            }
        }

        function ellipseBox() {
            $("#ellipseVal").empty()
                    .prepend('<option selected="selected" value="None">None</option>')
                    .append('<option value="k-means">k-means</option>');

            var titleArray = [];
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if ((node.data.pType == 'mimark') || (node.data.pType == 'user')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#ellipseVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if ((node.data.pType == 'human_associated') || (node.data.pType == 'soil') || (node.data.pType == 'air') || (node.data.pType == 'microbial') || (node.data.pType == 'water')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#ellipseVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
            });
            if (titleArray.length > 1) {
                $("#ellipseVal").append('<option value=interaction>interaction</option>');
            }
        }

        function stopThis(RID) {
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-2').hide();
                    $('#container-0').empty().show().append(stage);
                }
            });
        }

        function updateStatus(RID) {
            var myDict = {};
            myDict['RID'] = RID;
            myDict['funcName'] = "getPCA";
            myDict['reqType'] = "status";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];
                    if (resType == "status") {
                        var stage = obj['stage'];
                        if (running) {
                            $('#container-0').empty().append(stage);
                        }
                    } else {

                        running = false;
                        stopTimer(refresh);
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }

                        var text = obj['text'];
                        $('#text-1').val(text);

                        var varCoordDF = obj['varCoordDF'];
                        $('#varCoordDF').empty().append(varCoordDF).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                        }).draw();

                        var varContribDF = obj['varContribDF'];
                        $('#varContribDF').empty().append(varContribDF).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                        }).draw();

                        var indCoordDF = obj['indCoordDF'];
                        $('#indCoordDF').empty().append(indCoordDF).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                        }).draw();

                        var indContribDF = obj['indContribDF'];
                        $('#indContribDF').empty().append(indContribDF).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                        }).draw();
                        $("div.toolbar").html('<br><br><br>');

                        document.getElementById("TabButton").disabled = false;

                        chooseDisplay();
                    }
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){updateStatus(RID);}, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);

        }

        function chooseDisplay() {
            if ( $("#run").css("background-color") == "rgb(0, 128, 0)" ) {
                {% static "" as baseUrl %}
                $("#my_image").removeAttr("src").attr("src", "{{ baseUrl }}/temp/pca/Rplots/"+ RID +".pca.pdf");
                $("#container-2").show();
                $("#container-0").hide();
            } else {
                $("#container-0").show();
                $("#container-2").hide();
            }
        }

        function chooseData() {
            $("#run").css("background-color", "yellow");
            $("#container-0").empty().append('Analysis is running...please be patient');
            getGraphData();
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function getGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';

            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            var metaValsCat = '';
            if (nodesCat.length > 0) {
                metaValsCat = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDsCat = '';
            if (nodesCat.length > 0) {
                metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
            }

            var myDict = {};
            myDict['metaValsCat'] = metaValsCat;
            myDict['metaIDsCat'] = metaIDsCat;
            myDict['selectAll'] = taxaAll;
            myDict['keggAll'] = keggAll;
            myDict['nzAll'] = nzAll;
            myDict['DepVar'] = DepVar;
            myDict['button3'] = button3;
            myDict['distance'] = distance;
            myDict['PC1'] = PC1;
            myDict['PC2'] = PC2;
            myDict['ellipseVal'] = document.getElementById("ellipseVal").value;
            myDict['colorVal'] = document.getElementById("colorVal").value;
            myDict['palette'] = document.getElementById("palette").value;
            myDict['shapeVal'] = document.getElementById("shapeVal").value;
            myDict['vecScale'] = vecScale;
            myDict['RID'] = RID;
            myDict['funcName'] = "getPCA";
            myDict['reqType'] = "call";
            myDict['dataID'] = dataID;
            myDict['transform'] = transform;
            myDict['csrfmiddlewaretoken'] = '{{ csrf_token }}';

            myDict['contribVal'] = document.getElementById("contribVal").value;
            if ($("#contrib").is(':checked')) {
                myDict['addContrib'] = 'yes'
            } else {
                myDict['addContrib'] = 'no'
            }

            myDict['contribVal2'] = document.getElementById("contribVal2").value;
            if ($("#contrib2").is(':checked')) {
                myDict['addContrib2'] = 'yes'
            } else {
                myDict['addContrib2'] = 'no'
            }

            if ($("#scaled").is(':checked')) {
                myDict['scaled'] = 'yes'
            } else {
                myDict['scaled'] = 'no'
            }

            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}')
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select Meta Data:<br>
                <a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree_metaCat"></div>
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>Data Selection:</strong></em></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectTree">
                    <option value="1" selected="selected">Taxonomy</option>
                    <option value="2" >KEGG orthology</option>
                    <option value="3" >KEGG enzyme</option>
                </select>
                &nbsp<-- Sequence mapping
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr id="row_taxa">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-taxa">
                    <option value="2">Phyla</option>
                    <option value="3">Classes</option>
                    <option value="4">Orders</option>
                    <option value="5">Families</option>
                    <option value="6">Genera</option>
                    <option value="7" selected="selected">Species</option>
                    <option value="8">PGPRs</option>
                </select>
                &nbsp<-- Taxa level
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr id="row_kegg" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-kegg">
                    <option value="1" selected="selected">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                </select>
                &nbsp<-- KEGG Pathway level
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr id="row_nz" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-nz">
                    <option value="1" selected="selected">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">GIBBs</option>
                    <option value="6">N cycle</option>
                </select>
                &nbsp<-- KEGG Enzyme level
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="DepVar">
                    <option value="0" selected="selected">Abundance</option>
                    <option value="1">Relative Abundance</option>
                    <option value="4">Total Abundance</option>
                    <option value="2">Species Richness</option>
                    <option value="3">Species Diversity</option>
                </select>
                &nbsp<-- Dependent variable
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="transform">
                    <option value="0" selected="selected">None</option>
                    <option value="1">Ln</option>
                    <option value="2">Log10</option>
                    <option value="3">Sqrt</option>
                    <!--<option value="4">Logit</option>
                    <option value="5">Arcsin</option>-->
                </select>
                &nbsp<-- Raw data transformation
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>PCA Settings:</strong></em></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="PC1">
                    <option value="1" selected="selected">PC1</option>
                    <option value="2">PC2</option>
                    <option value="3">PC3</option>
                    <option value="4">PC4</option>
                    <option value="5">PC5</option>
                    <option value="6">PC6</option>
                </select>
                &nbsp<-- 1st PCA axis (x-axis)
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white" id="PC2-text">
                <select id="PC2">
                    <option value="1">PC1</option>
                    <option value="2" selected="selected">PC2</option>
                    <option value="3">PC3</option>
                    <option value="4">PC4</option>
                    <option value="5">PC5</option>
                    <option value="6">PC6</option>
                </select>
                &nbsp<-- 2nd PCA axis (y-axis)
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <input type="checkbox" id="scaled" checked>&nbsp<-- scale data
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><strong><em>Optimize R plots:</em></strong></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="checkbox" checked title="Click to turn contributors on/off" id="contrib"/>
                    <input type="text" title="Enter the number of samples/variables to include in the bar plots.  Variables will be selected based on their contribution to each axis independently." id="contribVal" value="10" style="background-color: white"/>
                    &nbsp<-- Number of contributors to show in bar plots
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="checkbox" checked title="Click to turn contributors on/off" id="contrib2"/>
                    <input type="text" title="Enter the number of variables (vectors) to include in the biplot.  Variables will be selected based on their Pearson correlation with either axis." id="contribVal2" value="10" style="background-color: white"/>
                    &nbsp<-- Number of contributors to show in biplot
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="text" title="Enter scaling value for vectors (0.0-1.0)" id="vecScale" value="0.7" style="background-color: white"/>
                    &nbsp<-- Biplot vector scaling
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <select id="palette">
                        <option value="Set1">Set1</option>
                        <option value="Set2">Set2</option>
                        <option value="Set3">Set3</option>
                        <option value="Paired">Paired</option>
                        <option value="Dark2">Dark2</option>
                        <option value="Accent">Accent</option>
                    </select>
                    &nbsp<-- Color palette for symbol colors
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <select id="colorVal">
                        <option value="None">None</option>
                        <option value="k-means">k-means</option>
                    </select>
                    &nbsp<-- Grouping variable for symbol colors
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <select id="shapeVal">
                        <option value="None">None</option>
                        <option value="k-means">k-means</option>
                    </select>
                    &nbsp<-- Grouping variable for symbol shapes
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <select id="ellipseVal">
                        <option value="None">None</option>
                        <option value="k-means">k-means</option>
                    </select>
                    &nbsp<-- Grouping variable for ordiellipse
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray"  style="outline: thin solid"><strong><em>Run Analysis:</em></strong></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <input id="run" type="submit" value="Run!" style="background-color: lightgray"/>
                &nbsp;
                <input id="stop" type="submit" value="Stop!" style="background-color: lightgray"/>
                &nbsp<-- Start/stop analysis
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><strong><em>Export Raw Data:</em></strong></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <input id="TabButton" type="button" disabled value="Export Data"/>
            </td>
            <td bgcolor="white"></td>
        </tr>
    </table>
    </div>
    <br>

    <div id="stage"></div>
    <br><br>

    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td id="cell_taxa" colspan="8" style="text-align: center"></td>
            <td colspan="4" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left">
                <div id="container-0" style="height: 425px; width: 950px;">No Data has been selected!</div>
                <div id="container-2" style="height: 650px; width: 935px; display:none"><iframe id="my_image" src="#" height="100%" width="100%"></iframe></div>
            </td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <br>
    </div>
    <br>

    <h2>Coordinates for the variables:</h2>
    <div id="varCoordDF" style="width: 900px; overflow-x: auto;"></div>
    <br>

    <h2>Contributions of the variables:</h2>
    <div id="varContribDF" style="width: 900px; overflow-x: auto;"></div>
    <br>

    <h2>Coordinates for the individuals:</h2>
    <div id="indCoordDF" style="width: 900px; overflow-x: auto;"></div>
    <br>

    <h2>Contributions of the individuals:</h2>
    <div id="indContribDF" style="width: 900px; overflow-x: auto;"></div>
    <br>
    <br><br><br>
{% endblock my_content%}
