{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Profile</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}{% endblock menu_item %}

{% block javascript %}
    <script type="text/javascript">
    </script>
{% endblock javascript %}

{% block my_content %}
    <h2>Account Management:</h2>
    <ul>
        <a class="Offmouse" href="{% url 'auth_password_change' %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 0px">Click here to change your password</li></a>
        <br>
        <a class="Offmouse" href="{% url 'changeuser' %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 0px">Click here to change/update your user profile</li></a>
    </ul>
    <br><br>
    <br><br>
{% endblock my_content %}