{% extends 'site_base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Profile</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}{% endblock menu_item %}

{% comment %}
{% block javascript %}
    <script type="text/javascript">
        var num = 0;
        function addMoreNamesFunc() {
            var namebox = document.getElementById("addNamesList");
            namebox.appendChild(document.createTextNode("  "));
            var input = document.createElement("input");
            input.type = "text";
            input.id = "name_" + num;
            input.value = "username #" + num;
            namebox.appendChild(input);
            namebox.appendChild(document.createElement("br"));
            num++;
        }

        function submitNames() {
            var nameList = "";
            var curID;
            var curName;
            for (var c=0; c<num; c++) {
                curID = "name_" + c;
                curName = document.getElementById(curID).value;
                nameList += curName + ";";
            }
            nameList = nameList.slice(0, -1);
            // Send list back through ajax to views, add names to list for selected projects

            var selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                if (node.getLevel() == 3) {
                    return node.data.id;
                }
                $("#submit").css("background-color", "yellow").val("Running!");
            });
            var dataDict = {};
            dataDict['keys'] = selKeys;
            dataDict['names'] = nameList;
            dataDict['mode'] = document.getElementById("permLevel").checked;
            var jsonDict = JSON.stringify(dataDict);

            $.ajax({
                type: 'GET',
                url: '/myPhyloDB/addPerms/',
                dataType: 'json',
                data: {all: jsonDict},
                success: function (data) {
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    }
                }
            });
        }

        $(function () {
            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/getPermissionTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onclick: function () {
                    $("#submit").css("background-color", "lightgray").val("Save Selection(s)!");
                }
            });
            addMoreNamesFunc();
        });
    </script>
{% endblock javascript %}

{% block my_content %}
    <h2>Account Management:</h2>
    <ul>
        <a class="Offmouse" href="{% url 'auth_password_change' %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 0px">Click here to change your password</li></a>
        <br>
        <a class="Offmouse" href="{% url 'changeuser' %}" onmouseout="this.className='Offmouse'" onmouseover="this.className='Onmouse'"><li style="margin-left: 0px">Click here to change/update your user profile</li></a>
    </ul>
    <br>
    <h2>Project Management:</h2>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select projects to update permissions<br><a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>
    <br>
    <h2>Add users to selected project(s):</h2>
    <div id="addNamesList">
        <input type="button" id="addMoreNames" onclick="addMoreNamesFunc()" value="Add user" title="Add an additional user."><br>
    </div>
    <input type="checkbox" id="permLevel" value="false"> <span title="Applies to all users listed">Grant editing permission</span>
    <br><br><br>
    <input type="submit" id="addNames" value="Submit changes" onclick="submitNames()">
    <br><br>
{% endblock my_content %}
{% endcomment %}
