{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title xmlns="http://www.w3.org/1999/html">Reprocess Data</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }

        #progressBar {
                width: 200px;
                height: 22px;
                border: 1px solid #111;
                background-color: #292929;
        }

        #progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px;
                width: 0;
                background-color: #0099ff;
        }
    </style>
    <script>
        var selNodes = "";
        var selKeys = "";
        var refresh = 0;
        var RID = "";

        window.onload = function() {
            var mothurStat = localStorage.getItem(name);
            if (mothurStat !== null) $('#mothurStat').val(mothurStat);
        };

        $(function () {
            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/makeReproTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onSelect: function (select, node) {
                    selNodes = node.tree.getSelectedNodes();
                }
            });

            $("#clearMeta").click(function(){
                $("#tree").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#reprocess").click(function () {
                selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });
                RID = makeGUID();

                $("#project").show();
                $("#stage").show();
                $("#progressBar").show();
                document.getElementById("mothurStat").value = "";
                refresh = setInterval(updateStatus, 1000);

                $('<input>').attr({
                    type: 'hidden',
                    name: 'RID',
                    value: RID
                }).appendTo('form').appendTo('form2');

                $('<input>').attr({
                    type: 'hidden',
                    name: 'ids',
                    value: selKeys
                }).appendTo('form').appendTo('form2');

                $('<input>').attr({
                    type: 'hidden',
                    name: 'funcName',
                    value: 'reanalyze'
                }).appendTo('form').appendTo('form2');

                $('<input>').attr({
                    type: 'hidden',
                    name: 'alignDB',
                    value: $("#align").val()
                }).appendTo('form').appendTo('form2');

                $('<input>').attr({
                    type: 'hidden',
                    name: 'templateDB',
                    value: $("#template").val()
                }).appendTo('form').appendTo('form2');

                $('<input>').attr({
                    type: 'hidden',
                    name: 'taxonomyDB',
                    value: $("#taxonomy").val()
                }).appendTo('form').appendTo('form2');

            });

        });

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function updateStatus(){
            $.ajax({
                url: '/myPhyloDB/status/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    var perc = obj['perc'];
                    var project = obj['project'];
                    updateStage(project, stage);
                    progressBar(perc, $("#progressBar"));
                    document.getElementById("mothurStat").value = document.getElementById("mothurStat").value + obj['mothurStat'];
                    document.getElementById("mothurStat").scrollTop = document.getElementById("mothurStat").scrollHeight;
                }
            });
        }

        function updateStage(project, stage) {
            $("#project").empty().append(project);
            $("#stage").empty().append(stage);
        }

        function stop() {
            $.ajax({
                url: '/myPhyloDB/datstop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var mstage = obj['message'];
                    $('#stage').empty().append(mstage);
                }
            });
        }

        function progressBar(percent, $element) {
           var progressBarWidth = percent * $element.width() / 100;
            $element.find("div").animate({ width: progressBarWidth }, 100).html(percent + "%&nbsp;");
        }

        window.onbeforeunload = function() {
            localStorage.setItem(name, $('#mothurStat').val());
        };

    </script>
{% endblock javascript %}

{% block my_content %}
    <h2>Upload New Taxonomy Reference Files:</h2>
    <form id='form' action="{% url 'reprocess' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table id="meta_files" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th colspan="2">Upload new reference database files:</th>
            </tr>
            <tr>
                <td>{{ form4.docfile8.label_tag }}</td>
                <td>{{ form4.docfile8 }}</td>
            </tr>
            <tr>
                <td>{{ form4.docfile9.label_tag }}</td>
                <td>{{ form4.docfile9 }}</td>
            </tr>
            <tr>
                <td>{{ form4.docfile10.label_tag }}</td>
                <td>{{ form4.docfile10 }}</td>
            </tr>
        </table>
        <br>
        <input id="submit" type="submit" value="Upload!"/>
    </form>
    <br><br>
    <h2>Reprocess Project(s):</h2>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select project(s) for reprocessing:<br><a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
        <tr>
            <td bgcolor="white">
                <select id="align">
                    {% for DB in alignDB %}
                        <option>{{ DB }}</option>
                    {% endfor %}
                </select>
                &nbsp<-- Choose alignment file:
            </td>
        </tr>
        <tr>
            <td bgcolor="white">
                <select id="template">
                    {% for DB in templateDB %}
                        <option value="{{ DB }}">{{ DB }}</option>
                    {% endfor %}
                </select>
                &nbsp<-- Choose template file:
            </td>
        </tr>
        <tr>
            <td bgcolor="white">
                <select id="taxonomy">
                    {% for DB in taxonomyDB %}
                        <option>{{ DB }}</option>
                    {% endfor %}
                </select>
                &nbsp<-- Choose taxonomy file:
            </td>
        </tr>
    </table>
    <br><br>
    <div id="project" style="display: none"></div>
    <div id="stage" style="display: none"></div>
    <div id="progressBar" style="display: none"><div></div></div>
    <br>
    <form id='form2' action="{% url 'datfuncCall' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table id="proc_table" width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td width="100">How many processors would you like to use?</td>
            </tr>
            <tr>
                <td>
                    <table border="2">
                    <tr>
                        <td>Processors: </td>
                        <td>{{ form4.processors }}</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <input id="reprocess" name="reprocess" type="submit" value="Reprocess!"/>
                </td>
                <td>
                    <input id='Stop' name='Stop' type="button" onclick="stop();" value="Stop"/>
                </td>
            </tr>
        </table>
    </form>

    <br>
    <h2>Mothur status and output: </h2>
    <textarea id="mothurStat" rows=25 cols=72 style="width: 925px"></textarea>
    <br><br><br>
{% endblock my_content %}