{% extends 'site_base.html' %}
{% load static %}

{% block pagetitle %}
    <title>CARET</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var dataType = 0, treeType = 1;
        var nodesCat = "", nodesQuant = "";
        var metaIDs = "", metaVals = "", metaIDsCat = "", metaValsCat = "", metaIDsQuant = "", metaValsQuant;
        var hiding = 1;
        var running = false, refresh = 0, RID = 0;
        var countCat = 0, countQuant = 0, total = 0;

        $(function () {
            $(window).load(function() {
                checkButtons();
            });
            $(window).bind('unload', function () {
                $.ajax({
                    url: '/myPhyloDB/removeFiles/',
                    async: false,
                    dataType: 'json',
                    data: {
                        all: RID,
                        func: 'rf'
                    }
                });
            });
        });

        {% include "js/commonFunctions.js" %}
        function appendTable() {
            $("#myTable").empty();

            var finalDict = getTableData();

            // Need to only select IDs common to each meta variable
            var arrayIDs = [];
            var nArrays = 0;
            $.each(finalDict, function(myKey, myRows) {
                var rowIDs = [];
                $.each(myRows, function (index, value) {
                    var rowData = value.split(",");
                    var sid = rowData[2];
                    rowIDs.push(sid);
                });
                arrayIDs.push(rowIDs);
                nArrays++;
            });

            var wantedIDs = findCommonElements(arrayIDs);

            // Add data to HTML table
            var indexNo = 0;
            $.each(finalDict, function(myKey, myRows) {
                if (indexNo == 0) {
                    var headerData = '';
                    headerData += '<tr id=trainHeader>';
                    headerData += '<th>Selection</th>';
                    headerData += '<th>Project Name</th>';
                    headerData += '<th>Sample Name</th>';
                    headerData += '<th>Sample ID</th>';
                    headerData += '<th>' + myKey + '</th>';
                    headerData += '</tr>';
                    $("#myTable").append(headerData);

                    var count = 0;
                    $.each(myRows, function (index, value) {
                        var newRow = '';
                        var rowData = value.split(",");
                        var pid = rowData[0].substring(2);
                        var project = rowData[1].substring(9);
                        var sid = rowData[2];
                        var name = rowData[3];
                        var trt = rowData[4].slice(0, -1);
                        if ($.inArray(sid, wantedIDs) >= 0) {
                            newRow += '<tr id=row-' + sid + '>';
                            newRow += '<td>';
                            newRow += '<input type="radio" name="test-' + count + '" value="test">Test</br>';
                            newRow += '<input type="radio" name="test-' + count + '" value="train" checked>Train';
                            newRow += '</td>';
                            newRow += '<td title=ProjectID-' + pid + '>' + project + '</td>';
                            newRow += '<td title=SampleID-' + sid + '>' + name + '</td>';
                            newRow += '<td>' + sid + '</td>';
                            newRow += '<td>' + trt + '</td>';
                            newRow += '</tr>';
                            $("#myTable").append(newRow);
                            count++;
                        }
                    });
                } else {
                    var tableHead = document.getElementById('trainHeader');
                    var x = tableHead.insertCell(-1);
                    x.outerHTML = '<th>'+myKey+'</th>';

                    $.each(myRows, function (index, value) {
                        var rowData = value.split(",");
                        var sid = rowData[2];
                        var trt = rowData[4].slice(0, -1);
                        if ($.inArray(sid, wantedIDs) != -1) {
                            var tableRow = document.getElementById('row-' + sid);
                            var x = tableRow.insertCell(-1);
                            x.innerHTML = trt;
                        }
                    });
                }
                indexNo++;
            });
        }
        function checkButtons() {
            treeType = document.getElementById("selectTree").value;
            $("#run").css("background-color", "lightgray");
            $("#TabButton").css("background-color", "lightgray").val("Export Tabular Data");
            document.getElementById("TabButton").disabled = true;
            $("#BiomButton").css("background-color", "lightgray").val("Export Biom Data");
            document.getElementById("BiomButton").disabled = true;

            if (treeType == 1) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
            }
            if (treeType == 2) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
            }
            if (treeType == 3) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
            }

            var trainMethod = document.getElementById("trainMethod").value;
            if (trainMethod == 'boot') {
                $("#number1-row").hide();
                $("#number2-row").show();
                $("#repeats-row").hide();
                $("#proportion-row").hide();
            }
            if (trainMethod == 'cv') {
                $("#number1-row").show();
                $("#number2-row").hide();
                $("#repeats-row").hide();
                $("#proportion-row").hide();
            }
            if (trainMethod == 'repeatedcv') {
                $("#number1-row").show();
                $("#number2-row").hide();
                $("#repeats-row").show();
                $("#proportion-row").hide();
            }
            if (trainMethod == 'LOOCV') {
                $("#number1-row").hide();
                $("#number2-row").hide();
                $("#repeats-row").show();
                $("#proportion-row").hide();
            }
            if (trainMethod == 'LGOCV') {
                $("#number1-row").hide();
                $("#number2-row").hide();
                $("#repeats-row").show();
                $("#proportion-row").show();
            }
        }
        function chooseData() {
            $("#run").css("background-color", "yellow");
            $("#container-0").empty().append('Analysis is running...please be patient');
            var number2 = document.getElementById("number1").value;
            if (number2 < 2) {
                $("#run").css("background-color", "red");
                alert('Number of folds in cross-fold validation must be 2 or more');
                running = false;
                return;
            }
            var proportion = document.getElementById("proportion").value;
            if ((proportion < 0) || (proportion > 1)) {
                $("#run").css("background-color", "red");
                alert('proportion of samples to include in each training set must be between 0 and 1');
                running = false;
                return;
            }
            getGraphData();
        }
        function chooseDisplay() {
            if ( $("#run").css("background-color") == "rgb(0, 128, 0)" ) {
                {% static "" as baseUrl %}
                $("#my_image").removeAttr("src").attr("src", "{{ baseUrl }}/temp/rf/Rplots/"+ RID +"/rf_final.pdf");
                $("#container-2").show();
                $("#container-0").hide();
            } else {
                $("#container-0").show();
                $("#container-2").hide();
            }
        }
        function DepVar() {
            var DepVar = document.getElementById("DepVar").value;
            if (DepVar == 1) {
                $('#transform').empty()
                    .append('<option value="0">None</option>')
                    .append('<option value="3">Sqrt</option>')
                    .append('<option value="4">Logit</option>')
                    .append('<option value="5">Arcsin</option>');
            } else {
                $('#transform').empty()
                    .append('<option value="0" selected>None</option>')
                    .append('<option value="1">Ln</option>')
                    .append('<option value="2">Log10</option>')
                    .append('<option value="3">Sqrt</option>');
            }
            checkButtons();
        }
        function displayTable() {
            if (hiding == 1) {
                document.getElementById("show").value = "Hide Table";
                hiding = 0;
                appendTable();
                $(".maxValBox").show();
            } else {
                document.getElementById("show").value = "Show Table";
                $(".maxValBox").hide();
                hiding = 1;
            }
        }
        function findCommonElements(arrs) {
            var resArr = [];
            for (var i = arrs[0].length - 1; i >= 0; i--) {  // changed > to >= because 0 is valid
                // iterate through value list
                for (var j = arrs.length - 1; j > 0; j--) {  // j is in functional scope
                    if (arrs[j].indexOf(arrs[0][i]) == -1) {
                        break;
                        // if current value is not in this row, break
                    }
                }

                if (j === 0) {
                    // push only values which are found in the full list
                    resArr.push(arrs[0][i]);
                }


            }
            return resArr;
        }
        function getGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var myArray = readTableData();
            var trainArray = myArray[0];
            var testArray = myArray[1];

            var arrayValsCat = [];
            var arrayIDsCat = [];
            var arrayValsQuant = [];
            var arrayIDsQuant = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';

            for (var i = 0; i < nodesQuant.length; i++) {
                if (nodesQuant[i].getLevel() == 5) {
                    if ((nodesQuant[i].data.table == 'mimark') || (nodesQuant[i].data.table == 'user')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
                else if (nodesQuant[i].getLevel() == 6) {
                    if ((nodesQuant[i].data.table == 'human_associated') || (nodesQuant[i].data.table == 'soil') || (nodesQuant[i].data.table == 'air') || (nodesQuant[i].data.table == 'microbial') || (nodesQuant[i].data.table == 'water')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
            }

            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            var metaValsCat = '';
            if (nodesCat.length > 0) {
                metaValsCat = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDsCat = '';
            if (nodesCat.length > 0) {
                metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
            }

            var metaValsQuant = '';
            if (nodesQuant.length > 0) {
                metaValsQuant = "{" + arrayValsQuant.join(",") + "}";
            }

            var metaIDsQuant = '';
            if (nodesQuant.length > 0) {
                metaIDsQuant = "{" + arrayIDsQuant.join(",") + "}";
            }

            var metaVals = '';
            if ((nodesCat.length > 0) && (nodesQuant.length > 0)) {
                metaVals = "{" + arrayValsCat.join(",") + "," + arrayValsQuant.join(",") + "}";
            } else if ((nodesCat.length == 0) && (nodesQuant.length > 0)) {
                metaVals = "{" + arrayValsQuant.join(",") + "}";
            } else if ((nodesCat.length > 0) && (nodesQuant.length == 0)) {
                metaVals = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDs = '';
            if ((nodesCat.length > 0) && (nodesQuant.length > 0)) {
                metaIDs = "{" + arrayIDsCat.join(",") + "," + arrayIDsQuant.join(",") + "}";
            } else if ((nodesCat.length == 0) && (nodesQuant.length > 0)) {
                metaIDs = "{" + arrayIDsQuant.join(",") + "}";
            } else if ((nodesCat.length > 0) && (nodesQuant.length == 0)) {
                metaIDs = "{" + arrayIDsCat.join(",") + "}";
            }

            var myDict = {};
            myDict['trainArray'] = trainArray;
            myDict['testArray'] = testArray;
            myDict['metaVals'] = metaVals;
            myDict['metaIDs'] = metaIDs;
            myDict['metaValsCat'] = metaValsCat;
            myDict['metaIDsCat'] = metaIDsCat;
            myDict['metaValsQuant'] = metaValsQuant;
            myDict['metaIDsQuant'] = metaIDsQuant;
            myDict['treeType'] = treeType;
            myDict['RID'] = RID;
            myDict['funcName'] = "getRF";
            myDict['reqType'] = "call";
            myDict['dataID'] = dataID;
            myDict['selectAll'] = document.getElementById("selectall-taxa").value;
            myDict['keggAll'] = document.getElementById("selectall-kegg").value;
            myDict['nzAll'] = document.getElementById("selectall-nz").value;
            myDict['DepVar'] = document.getElementById("DepVar").value;
            myDict['Method'] = document.getElementById("Method").value;
            myDict['trainMethod'] = document.getElementById("trainMethod").value;
            myDict['number1'] = document.getElementById("number1").value;
            myDict['number2'] = document.getElementById("number2").value;
            myDict['repeats'] = document.getElementById("repeats").value;
            myDict['proportion'] = document.getElementById("proportion").value;
            myDict['transform'] = document.getElementById("transform").value;
            myDict['perZeroes'] = document.getElementById("perZeroes").value;
            myDict['filterPer'] = document.getElementById("filterPer").value;
            myDict['filterMeth'] = document.getElementById("filterMeth").value;
            myDict['csrfmiddlewaretoken'] = '{{ csrf_token }}';

            if ($("#remUnclass").is(':checked')) {
                myDict['remUnclass'] = 'yes'
            } else {
                myDict['remUnclass'] = 'no'
            }

            if ($("#remZeroes").is(':checked')) {
                myDict['remZeroes'] = 'yes'
            } else {
                myDict['remZeroes'] = 'no'
            }

            if ($("#filterData").is(':checked')) {
                myDict['filterData'] = 'yes'
            } else {
                myDict['filterData'] = 'no'
            }

            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    }
                }
            });
        }
        function getTableData() {
            var finalDict = {};
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if (node.data.pType == 'mimark') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'user') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if (node.data.pType == 'human_associated') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                     if (node.data.pType == 'soil') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'air') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'water') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'microbial') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
               }
            });

            $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if (node.data.pType == 'mimark') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'user') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                }
                 if (node.getLevel() == 4) {
                    if (node.data.pType == 'human associated') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'soil') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'air') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'water') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                    if (node.data.pType == 'microbial') {
                        if (node.bSelected || node.hasSubSel) {
                            var allRows = [];
                            var child1 = node.getChildren();
                            var key = node.data.title;
                            $.each(child1, function(index1, value1) {
                                var child2 = value1.getChildren();
                                $.each(child2, function(index2, value2) {
                                    if (value2.bSelected) {
                                        var row = [];
                                        var sid = value2.data.id;
                                        var fullTitle = value2.data.title;
                                        var name = fullTitle.split("(ID:")[0];
                                        var fullProject = value2.data.tooltip;
                                        var project = fullProject.split("(ID:")[0];
                                        var pid = fullProject.split("(ID:")[1].slice(0, -1);
                                        var value = value1.data.title;
                                        row.push(pid);
                                        row.push(project);
                                        row.push(sid);
                                        row.push(name);
                                        row.push(value);
                                        allRows.push('[' + row + ']');
                                    }
                                });
                            });
                            finalDict[key] = allRows;
                        }
                    }
                }
            });
            return finalDict;
        }
        function readTableData() {
            var table = document.getElementById("myTable");
            var rowLength = table.rows.length;

            //build table if hasn't been generated yet
            if (rowLength == 0) {
                appendTable();
            }

            // get table data
            var testIDs = [];
            var trainIDs = [];
            for (var i=0, row; row=table.rows[i]; i++) {
                var select = $('input[name=test-'+i+']:checked').val();
                if (select == 'train') {
                    trainIDs.push(row.cells[3].innerHTML);
                }
                if (select == 'test') {
                    testIDs.push(row.cells[3].innerHTML);
                }
            }
            return [trainIDs, testIDs]
        }
        function runAnalysis() {
            if (running == true) {
                alert("myPhyloDB is currently running your previous analysis request!");
                return false;
            }
            //$("#my_image").attr("src", "#");
            $("#container-0").empty().show();
            $("#container-2").hide();
            $("#text-1").val('');
            $("#res_table").empty();
            running = true;
            checkButtons();
            chooseData();
        }
        function selectTree() {
            checkButtons();
            if (treeType == 1) {
                $('#row_taxa').show();
                $('#row_kegg').hide();
                $('#row_nz').hide();
                $('#text-1').val('');
            } else if (treeType == 2) {
                $('#row_taxa').hide();
                $('#row_kegg').show();
                $('#row_nz').hide();
                $('#text-1').val('');
            } else if (treeType == 3) {
                $('#row_taxa').hide();
                $('#row_kegg').hide();
                $('#row_nz').show();
                $('#text-1').val('');
            }
        }
        function stopAnalysis() {
            running = false;
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-2').hide();
                    $('#container-0').empty().show().append(stage);
                }
            });
        }
        function updateStatus() {
            var myDict = {};
            myDict['RID'] = RID;
            myDict['funcName'] = "getRF";
            myDict['reqType'] = "status";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];
                    if (resType == "status") {
                        var stage = obj['stage'];
                        if (running) {
                            $('#container-0').empty().append(stage);
                        }
                    } else {
                        running = false;
                        clearInterval(refresh);
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }

                        var text = obj['text'];
                        $('#text-1').val(text);

                        document.getElementById("TabButton").disabled = false;
                        document.getElementById("BiomButton").disabled = false;

                        chooseDisplay();
                    }
                }
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <td>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select Meta Data:<br>
                <a href="#" id="clearMeta" style="font-size: 12px;" onClick="clearMeta()">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                    {% include "html/DynaTree-MetaCat.html" %}
                    {% include "html/DynaTree-MetaQuant.html" %}
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>Data Selection:</strong></em></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectTree" onChange="selectTree()">
                    <option value="1" selected="selected">Taxonomy</option>
                    <option value="2" >KEGG orthology</option>
                    <option value="3" >KEGG enzyme</option>
                </select>
                &nbsp; <-- Sequence mapping
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="row_taxa">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-taxa" onChange="checkButtons()">
                    <option value="2">Phyla</option>
                    <option value="3">Classes</option>
                    <option value="4">Orders</option>
                    <option value="5">Families</option>
                    <option value="6">Genera</option>
                    <option value="7">Species</option>
                    <option value="9" selected="selected">OTU_99</option>
                    <option value="8">PGPRs</option>
                </select>
                &nbsp; <-- Taxa level
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="row_kegg" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-kegg" onChange="checkButtons()">
                    <option value="1" selected="selected">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                </select>
                &nbsp; <-- KEGG pathway level
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="row_nz" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-nz" onChange="checkButtons()">
                    <option value="1" selected="selected">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">GIBBs</option>
                    <option value="6">N cycle</option>
                </select>
                &nbsp; <-- KEGG enzyme level
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="DepVar" onChange="DepVar()">
                    <option value="0" selected="selected">Abundance</option>
                    <option value="1">Relative Abundance</option>
                    <option value="4">Total Abundance</option>
                </select>
                &nbsp; <-- Dependent variable <span title="Abundance = number of sequence reads<br>Relative Abundance = proportion of total community<br>Total Abundance = 16S rRNA copies per mg soil"><font color="red">[info]</font></span>
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="transform" onChange="checkButtons()">
                    <option value="0" selected="selected">None</option>
                    <option value="1">Ln</option>
                    <option value="2">Log10</option>
                    <option value="3">Sqrt</option>
                    <!--<option value="4">Logit</option>
                    <option value="5">Arcsin</option>-->
                </select>
                &nbsp; <-- Raw data transformation
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-Filtering.html" %}

        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>CARET Settings:</strong></em></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="Method" onChange="checkButtons()">
                    <option value="rf" selected="selected">Random Forest</option>
                    <option value="nnet">Neural Network (feed-forward)</option>
                    <option value="svm">Support Vector Machine</option>
                </select>
                &nbsp; <-- Classification method / model
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="trainMethod" onChange="checkButtons()">
                    <option value="boot" selected="selected">bootstrap</option>
                    <option value="cv">k-fold cross-validation</option>
                    <option value="repeatedcv">repeated k-fold cross-validation</option>
                    <option value="LOOCV">leave-one-out cross validation</option>
                    <option value="LGOCV">leave-group-out cross validation</option>
                </select>
                &nbsp; <-- Re-sampling method for model development
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="number1-row" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <input type="text" id="number1" style="background-color: white; width: 40px" value="10"/>&nbsp; <-- number of folds in cross-fold validation
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="number2-row">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <input type="text" id="number2" style="background-color: white; width: 40px" value="10"/>&nbsp; <-- number of resampling iterations
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="repeats-row" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <input type="text" id="repeats" style="background-color: white; width: 40px" value="10"/>&nbsp; <-- number of independent cross-fold validations to perform
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="proportion-row" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <input type="text" id="proportion" style="background-color: white; width: 40px" value="0.75"/>&nbsp; <-- proportion of training dataset to include in each iteration
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="button" value="Show Table" id="show" onclick="displayTable();">
                        &nbsp&nbsp<-- Assign selected samples to train/test datasets
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr class="maxValBox" style="display: none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="button" value="Refresh Table" id="refresh" onclick="appendTable();">
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr class="maxValBox" style="display: none">
            <td bgcolor="white" width="5px"></td>
            <td colspan="2" bgcolor="white">
                <div style="height:400px; overflow:auto">
                    <table id="myTable" border="2"></table>
                </div>
            </td>
        </tr>

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-RunButton.html" %}

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-Export.html" %}
    </table>
    <br>

    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center"></td>
            <td colspan="4" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left">
                <div id="container-0" style="height: 425px; width: 950px;">No Data has been selected!</div>
                <div id="container-2" style="height: 650px; width: 935px; display:none"><iframe id="my_image" src="#" height="100%" width="100%"></iframe></div>
            </td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <br>
    </div>
    <br><br><br><br>
{% endblock my_content%}
