{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>CARET</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var dataType = 0, treeType = 1;
        var nodesCat = "", table, nodesQuant = "";
        var running = false, refresh = 0, RID = 0;
        var countCat = 0, countQuant = 0, total = 0;

        var dataSet =  [
                //GIBBS
            ["1", "GIBBS", "C decomposition", "3.2.1.4", "cellulase", "2.03e10"],
            ["2", "GIBBS", "C decomposition", "3.2.1.8", "endo-1,4-beta-xylanase", "1.13e10"],
            ["3", "GIBBS", "C decomposition", "3.2.1.21", "beta-glucosidase", "5.51e10"],
            ["4", "GIBBS", "C decomposition", "3.2.1.37", "xylan 1,4-beta-xylosidase", "9.85e9"],
            ["5", "GIBBS", "C decomposition", "3.2.1.91", "cellulose 1,4-beta-cellobiosidase (non-reducing end)", "1.10e8"],
            ["6", "GIBBS", "N decomposition", "3.5.1.4", "amidase", "4.04e10"],
            ["7", "GIBBS", "N decomposition", "3.5.1.5", "urease", "1.56e10"],
            ["8", "GIBBS", "P decomposition", "3.1.3.1", "alkaline phosphatase", "1.99e10"],
            ["9", "GIBBS", "P decomposition", "3.1.3.2", "acid phosphatase", "2.33e10"],
            ["10", "GIBBS", "S decomposition", "3.1.6.1", "arylsulfatase", "1.82e10"],
            ["11", "GIBBS", "N-fixation", "1.18.6.1", "nitrogenase", "9.65e9"],
            ["12", "GIBBS", "P-solubility", "1.3.3.11", "pyrroloquinoline-quinone synthase", "8.05e9"],
            ["13", "GIBBS", "Siderophore", "6.3.2.39", "aerobactin synthase", "5.17e8"],
            ["14", "GIBBS", "Root-growth", "3.5.99.7", "1-aminocyclopropane-1-carboxylate deaminase", "3.77e9"],
            ["15", "GIBBS", "Root-growth", "4.1.1.74", "indolepyruvate decarboxylase", "1.80e9"],
            ["16", "GIBBS", "Biocontrol", "1.1.1.76", "(S,S)-butanediol dehydrogenase", "2.77e9"],
            ["17", "GIBBS", "Biocontrol", "1.4.99.5", "glycine dehydrogenase (cyanide-forming)", "5.94e7"],
            ["18", "GIBBS", "Biocontrol", "3.2.1.14", "chitinase", "1.26e10"],

                //Biological
            ["19", "Biological", "", "", "Abundance", "1e9"],
            ["20", "Biological", "", "", "Richness", "1000"],
            ["21", "Biological", "", "", "Diversity", "6"],
            ["22", "Biological", "", "", "ACE Soil Protein Index", "10"],
            ["23", "Biological", "", "", "Active Carbon", "500"],
            ["24", "Biological", "", "", "Respiration", "1.0"],

                //Chemical
            ["25", "Chemical", "", "", "Organic Matter", "40"],
            ["26", "Chemical", "", "", "Carbon", "20"],
            ["27", "Chemical", "", "", "pH", "14"],
            ["28", "Chemical", "", "", "Phosphorus", "10"],
            ["29", "Chemical", "", "", "Potassium", "100"],
            ["31", "Chemical", "", "", "Nitrogen", "100"],


                //Physical
            ["31", "Physical", "", "", "Porosity", "1"],
            ["32", "Physical", "", "", "Bulk Density", "2.65"],
            ["33", "Physical", "", "", "Water Content", "100"],
            ["34", "Physical", "", "", "Electric Conductivity", "10"],
            ["35", "Physical", "", "", "Microbial Biomass C", "100"],
            ["36", "Physical", "", "", "Microbial Biomass N", "100"],
            ["37", "Physical", "", "", "Available Water Capacity", "1.0"],
            ["38", "Physical", "", "", "Surface Hardness", "500"],
            ["39", "Physical", "", "", "Subsurface Hardness", "500"],
            ["40", "Physical", "", "", "Aggregate Stability", "100"],

                //N cycle
            ["41", "N cycle", "", "1.14.99.39", "ammonia monooxygenase", "1.0e08"],
            ["42", "N cycle", "", "1.7.2.6", "hydroxylamine dehydrogenase", "1.0e08"],
            ["43", "N cycle", "", "1.7.99.4", "nitrate reductase", "1.0e09"],
            ["44", "N cycle", "", "1.7.2.1", "nitrite reductase (NO-forming)", "1.0e08"],
            ["45", "N cycle", "", "1.7.2.5", "nitric oxide reductase (cytochrome c)", "1.0e08"],
            ["46", "N cycle", "", "1.7.2.4", "nitrous-oxide reductase", "1.0e08"]
        ];

        $(function () {
            $(window).load(function() {
                checkButtons();
            });
            $(window).bind('unload', function () {
                $.ajax({
                    url: '/myPhyloDB/removeFiles/',
                    async: false,
                    dataType: 'json',
                    data: {
                        all: RID,
                        func: 'rf'
                    }
                });
            });
            table = $('#example').DataTable( {
                data: dataSet,
                columns: [
                    { title: "Index" },
                    { title: "Category" },
                    { title: "Sub-Category" },
                    { title: "EC ID" },
                    { title: "Name" },
                    { title: "Value" }
                ]
            });
        });

        function presetFunc(val) {
            var maxValDict = {};
            table.order([0, 'asc']).draw(); //reset sorting because these tables are buggy as heck
            var names = table.column(4).data();
            if (val == 1) {
                //Use current data set to find max values
                locMax = true;
            }
            else if (val == 2) {
                //Agriculture
                locMax = false;
                //initialize maxValDict with agriculture pairs
                maxValDict = {
                    //GIBBS
                    'cellulase': "6.43e09",
                    'endo-1,4-beta-xylanase': "2.36e09",
                    'beta-glucosidase': "1.18e10",
                    'xylan 1,4-beta-xylosidase': "1.04e09",
                    'cellulose 1,4-beta-cellobiosidase (non-reducing end)': "3.80e07",
                    'amidase': "1.21e10",
                    'urease': "4.54e09",
                    'alkaline phosphatase': "6.68e09",
                    'acid phosphatase': "2.11e09",
                    'arylsulfatase': "3.30e09",
                    'nitrogenase': "2.14e09",
                    'pyrroloquinoline-quinone synthase': "1.43e09",
                    'aerobactin synthase': "1.06e08",
                    '1-aminocyclopropane-1-carboxylate deaminase': "6.16e08",
                    'indolepyruvate decarboxylase': "5.12e08",
                    '(S,S)-butanediol dehydrogenase': "1.16e09",
                    'glycine dehydrogenase (cyanide-forming)': "5.94e07",
                    'chitinase': "3.22e09",

                    //Biological
                    'Abundance': "1e9",
                    'Richness': "1000",
                    'Diversity': "6",
                    'ACE Soil Protein Index': "10",
                    'Respiration': "1.0",
                    'Active Carbon': "500",

                    //Chemical
                    'Organic Matter': "40",
                    'Carbon': "20",
                    'pH': "14",
                    'Phosphorus': "10",
                    'Potassium': "100",

                    //Physical
                    'Porosity': "1",
                    'Bulk Density': "2.65",
                    'Electric Conductivity': "10",
                    'Water Content': "100",
                    'Available Water Capacity': "1",
                    'Aggregate Stability': "100",
                    'Surface Hardness': "500",
                    'Subsurface Hardness': "500",

                    //N cycle
                    'ammonia monooxygenase': "1.0e08",
                    'hydroxylamine dehydrogenase': "1.0e08",
                    'nitrate reductase': "1.0e09",
                    'nitrite reductase (NO-forming)': "1.0e08",
                    'nitric oxide reductase (cytochrome c)': "1.0e08",
                    'nitrous-oxide reductase': "1.0e08"

                };
                //set column 4 value at row c to value of maxValDict with entry names[c]
                for (var c=0; c<names.length; c++) {
                    if (maxValDict[names[c]]!=null) {
                        table.cell(c, 5).data(maxValDict[names[c]]);
                    }
                }
            }
            else if (val == 3) {
                //Forest
                locMax = false;
                //initialize maxValDict with forest pairs
                maxValDict = {
                    //GIBBS
                    'cellulase': "2.03e10",
                    'endo-1,4-beta-xylanase': "1.13e10",
                    'beta-glucosidase': "5.51e10",
                    'xylan 1,4-beta-xylosidase': "9.85e9",
                    'cellulose 1,4-beta-cellobiosidase (non-reducing end)': "1.10e8",
                    'amidase': "4.04e10",
                    'urease': "1.56e10",
                    'alkaline phosphatase': "1.99e10",
                    'acid phosphatase': "2.33e10",
                    'arylsulfatase': "1.82e10",
                    'nitrogenase': "9.65e9",
                    'pyrroloquinoline-quinone synthase': "8.05e9",
                    'aerobactin synthase': "5.17e8",
                    '1-aminocyclopropane-1-carboxylate deaminase': "3.77e9",
                    'indolepyruvate decarboxylase': "1.80e9",
                    '(S,S)-butanediol dehydrogenase': "2.77e9",
                    'glycine dehydrogenase (cyanide-forming)': "2.39e7",
                    'chitinase': "1.26e10",

                    //Biological
                    'Abundance': "1e9",
                    'Richness': "1000",
                    'Diversity': "6",
                    'ACE Soil Protein Index': "10",
                    'Respiration': "1.0",
                    'Active Carbon': "500",

                    //Chemical
                    'Organic Matter': "40",
                    'Carbon': "20",
                    'pH': "14",
                    'Phosphorus': "10",
                    'Potassium': "100",

                    //Physical
                    'Porosity': "1",
                    'Bulk Density': "2.65",
                    'Electric Conductivity': "10",
                    'Water Content': "100",
                    'Available Water Capacity': "1",
                    'Aggregate Stability': "100",
                    'Surface Hardness': "500",
                    'Subsurface Hardness': "500",

                    //N cycle
                    'ammonia monooxygenase': "1.0e08",
                    'hydroxylamine dehydrogenase': "1.0e08",
                    'nitrate reductase': "1.0e09",
                    'nitrite reductase (NO-forming)': "1.0e08",
                    'nitric oxide reductase (cytochrome c)': "1.0e08",
                    'nitrous-oxide reductase': "1.0e08"

                };
                //set column 4 value at row d to value of maxValDict with entry names[d]
                for (var d=0; d<names.length; d++) {
                    if (maxValDict[names[d]]!=null) {
                        table.cell(d, 5).data(maxValDict[names[d]]);
                    }
                }
            }
            else {
                //Do nothing?
            }
        }

        function displayTable() {
            if (hiding == 1) {
                $("#maxValBox").show();
                document.getElementById("show").value = "Hide";
                hiding = 0;
            }
            else {
                $("#maxValBox").hide();
                document.getElementById("show").value = "Show";
                hiding = 1;
            }
        }

        {% include "js/commonFunctions.js" %}
        function checkButtons() {
            treeType = document.getElementById("selectTree").value;
            $("#run").css("background-color", "lightgray");
            $("#TabButton").css("background-color", "lightgray").val("Export Data");
            document.getElementById("TabButton").disabled = true;

            if (treeType == 1) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
            }
            if (treeType == 2) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
            }
            if (treeType == 3) {
                $("#container-0").empty().show().append('Settings have been changed by the user!');
                $("#container-2").hide();
            }
        }
        function chooseData() {
            $("#run").css("background-color", "yellow");
            $("#container-0").empty().append('Analysis is running...please be patient');
            getGraphData();
        }
        function chooseDisplay() {
            if ( $("#run").css("background-color") == "rgb(0, 128, 0)" ) {
                {% static "" as baseUrl %}
                $("#my_image").removeAttr("src").attr("src", "{{ baseUrl }}/temp/rf/Rplots/"+ RID +"/rf_final.pdf");
                $("#container-2").show();
                $("#container-0").hide();
            } else {
                $("#container-0").show();
                $("#container-2").hide();
            }
        }
        function colorBox() {
            $("#colorVal").empty()
                    .prepend('<option selected="selected" value="None">None</option>')
                    .append('<option value="k-means">k-means</option>');

            var titleArray = [];
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if ((node.data.pType == 'mimark') || (node.data.pType == 'user')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#colorVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if ((node.data.pType == 'human_associated') || (node.data.pType == 'soil') || (node.data.pType == 'air') || (node.data.pType == 'microbial') || (node.data.pType == 'water')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#colorVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
            });
            if (titleArray.length > 1) {
                $("#colorVal").append('<option value=interaction>interaction</option>');
            }
        }
        function ellipseBox() {
            $("#ellipseVal").empty()
                    .prepend('<option selected="selected" value="None">None</option>')
                    .append('<option value="k-means">k-means</option>');

            var titleArray = [];
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if ((node.data.pType == 'mimark') || (node.data.pType == 'user')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#ellipseVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if ((node.data.pType == 'human_associated') || (node.data.pType == 'soil') || (node.data.pType == 'air') || (node.data.pType == 'microbial') || (node.data.pType == 'water')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#ellipseVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
            });
            if (titleArray.length > 1) {
                $("#ellipseVal").append('<option value=interaction>interaction</option>');
            }
        }
        function getGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var arrayValsQuant = [];
            var arrayIDsQuant = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';

            for (var i = 0; i < nodesQuant.length; i++) {
                if (nodesQuant[i].getLevel() == 5) {
                    if ((nodesQuant[i].data.table == 'mimark') || (nodesQuant[i].data.table == 'user')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
                else if (nodesQuant[i].getLevel() == 6) {
                    if ((nodesQuant[i].data.table == 'human_associated') || (nodesQuant[i].data.table == 'soil') || (nodesQuant[i].data.table == 'air') || (nodesQuant[i].data.table == 'microbial') || (nodesQuant[i].data.table == 'water')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsQuant.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsQuant.push(ids);
                    }
                }
            }

            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            var metaValsCat = '';
            if (nodesCat.length > 0) {
                metaValsCat = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDsCat = '';
            if (nodesCat.length > 0) {
                metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
            }

            var metaValsQuant = '';
            if (nodesQuant.length > 0) {
                metaValsQuant = "{" + arrayValsQuant.join(",") + "}";
            }

            var metaIDsQuant = '';
            if (nodesQuant.length > 0) {
                metaIDsQuant = "{" + arrayIDsQuant.join(",") + "}";
            }

            var metaVals = '';
            if ((nodesCat.length > 0) && (nodesQuant.length > 0)) {
                metaVals = "{" + arrayValsCat.join(",") + "," + arrayValsQuant.join(",") + "}";
            } else if ((nodesCat.length == 0) && (nodesQuant.length > 0)) {
                metaVals = "{" + arrayValsQuant.join(",") + "}";
            } else if ((nodesCat.length > 0) && (nodesQuant.length == 0)) {
                metaVals = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDs = '';
            if ((nodesCat.length > 0) && (nodesQuant.length > 0)) {
                metaIDs = "{" + arrayIDsCat.join(",") + "," + arrayIDsQuant.join(",") + "}";
            } else if ((nodesCat.length == 0) && (nodesQuant.length > 0)) {
                metaIDs = "{" + arrayIDsQuant.join(",") + "}";
            } else if ((nodesCat.length > 0) && (nodesQuant.length == 0)) {
                metaIDs = "{" + arrayIDsCat.join(",") + "}";
            }

            var myDict = {};
            myDict['metaVals'] = metaVals;
            myDict['metaIDs'] = metaIDs;
            myDict['metaValsCat'] = metaValsCat;
            myDict['metaIDsCat'] = metaIDsCat;
            myDict['metaValsQuant'] = metaValsQuant;
            myDict['metaIDsQuant'] = metaIDsQuant;
            myDict['treeType'] = treeType;
            myDict['RID'] = RID;
            myDict['funcName'] = "getRF";
            myDict['reqType'] = "call";
            myDict['dataID'] = dataID;
            myDict['selectAll'] = document.getElementById("selectall-taxa").value;
            myDict['keggAll'] = document.getElementById("selectall-kegg").value;
            myDict['nzAll'] = document.getElementById("selectall-nz").value;
            myDict['DepVar'] = document.getElementById("DepVar").value;
            myDict['Method'] = document.getElementById("Method").value;
            myDict['transform'] = document.getElementById("transform").value;
            myDict['perZeroes'] = document.getElementById("perZeroes").value;
            myDict['filterPer'] = document.getElementById("filterPer").value;
            myDict['filterMeth'] = document.getElementById("filterMeth").value;
            myDict['csrfmiddlewaretoken'] = '{{ csrf_token }}';

            if ($("#remUnclass").is(':checked')) {
                myDict['remUnclass'] = 'yes'
            } else {
                myDict['remUnclass'] = 'no'
            }

            if ($("#remZeroes").is(':checked')) {
                myDict['remZeroes'] = 'yes'
            } else {
                myDict['remZeroes'] = 'no'
            }

            if ($("#filterData").is(':checked')) {
                myDict['filterData'] = 'yes'
            } else {
                myDict['filterData'] = 'no'
            }

            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    }
                }
            });
        }
        function runAnalysis() {
            if (running == true) {
                alert("myPhyloDB is currently running your previous analysis request!");
                return false;
            }
            //$("#my_image").attr("src", "#");
            $("#container-0").empty().show();
            $("#container-2").hide();
            $("#text-1").val('');
            $("#res_table").empty();
            running = true;
            checkButtons();
            chooseData();
        }
        function selectTree() {
            checkButtons();
            if (treeType == 1) {
                $('#row_taxa').show();
                $('#row_kegg').hide();
                $('#row_nz').hide();
                $('#text-1').val('');
            } else if (treeType == 2) {
                $('#row_taxa').hide();
                $('#row_kegg').show();
                $('#row_nz').hide();
                $('#text-1').val('');
            } else if (treeType == 3) {
                $('#row_taxa').hide();
                $('#row_kegg').hide();
                $('#row_nz').show();
                $('#text-1').val('');
            }
        }
        function shapeBox() {
            $("#shapeVal").empty()
                .prepend('<option selected="selected" value="None">None</option>')
                .append('<option value="k-means">k-means</option>');

            var titleArray = [];
            $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                if (node.getLevel() == 3) {
                    if ((node.data.pType == 'mimark') || (node.data.pType == 'user')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#shapeVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
                if (node.getLevel() == 4) {
                    if ((node.data.pType == 'human_associated') || (node.data.pType == 'soil') || (node.data.pType == 'air') || (node.data.pType == 'microbial') || (node.data.pType == 'water')) {
                        if (node.bSelected || node.hasSubSel) {
                            var title = node.data.title;
                            titleArray.push(title);
                            $("#shapeVal").append('<option value='+title+'>'+title+'</option>');
                        }
                    }
                }
            });
            if (titleArray.length > 1) {
                $("#shapeVal").append('<option value=interaction>interaction</option>');
            }
        }
        function stopAnalysis() {
            running = false;
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-2').hide();
                    $('#container-0').empty().show().append(stage);
                }
            });
        }
        function updateStatus() {
            var myDict = {};
            myDict['RID'] = RID;
            myDict['funcName'] = "getRF";
            myDict['reqType'] = "status";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];
                    if (resType == "status") {
                        var stage = obj['stage'];
                        if (running) {
                            $('#container-0').empty().append(stage);
                        }
                    } else {
                        running = false;
                        clearInterval(refresh);
                        var error = data['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }

                        var text = obj['text'];
                        $('#text-1').val(text);

                        document.getElementById("TabButton").disabled = false;

                        chooseDisplay();
                    }
                }
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select Meta Data:<br>
                <a href="#" id="clearMeta" style="font-size: 12px;" onClick="clearMeta()">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                    {% include "html/DynaTree-MetaCat.html" %}
                    {% include "html/DynaTree-MetaQuant.html" %}
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>Data Selection:</strong></em></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectTree" onChange="selectTree()">
                    <option value="1" selected="selected">Taxonomy</option>
                    <option value="2" >KEGG orthology</option>
                    <option value="3" >KEGG enzyme</option>
                </select>
                &nbsp; <-- Sequence mapping
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="row_taxa">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-taxa" onChange="checkButtons()">
                    <option value="2">Phyla</option>
                    <option value="3">Classes</option>
                    <option value="4">Orders</option>
                    <option value="5">Families</option>
                    <option value="6">Genera</option>
                    <option value="7" selected="selected">Species</option>
                    <option value="8">PGPRs</option>
                </select>
                &nbsp; <-- Taxa level
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="row_kegg" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-kegg" onChange="checkButtons()">
                    <option value="1" selected="selected">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                </select>
                &nbsp; <-- KEGG Pathway level
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr id="row_nz" style="display:none">
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall-nz" onChange="checkButtons()">
                    <option value="1" selected="selected">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">GIBBs</option>
                    <option value="6">N cycle</option>
                </select>
                &nbsp; <-- KEGG Enzyme level
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="DepVar" onChange="checkButtons()">
                    <option value="0" selected="selected">Abundance</option>
                    <option value="1">Relative Abundance</option>
                    <option value="4">Total Abundance</option>
                    <!--<option value="2">Species Richness</option>
                    <option value="3">Species Diversity</option>-->
                </select>
                &nbsp; <-- Dependent variable <span title="Abundance = number of sequence reads<br>Relative Abundance = proportion of total community<br>Total Abundance = 16S rRNA copies per mg soil<br>Phylotype Richness = number of phylotypes (species)<br>Phylotype (species) Diversity = Shannon's Diversity Index"><font color="red">[info]</font></span>
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="transform" onChange="checkButtons()">
                    <option value="0" selected="selected">None</option>
                    <option value="1">Ln</option>
                    <option value="2">Log10</option>
                    <option value="3">Sqrt</option>
                    <!--<option value="4">Logit</option>
                    <option value="5">Arcsin</option>-->
                </select>
                &nbsp; <-- Raw data transformation
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-Filtering.html" %}

        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>CARET Settings:</strong></em></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="Method" onChange="checkButtons()">
                    <option value="rf" selected="selected">Random Forest</option>
                    <option value="nnet">Neural Network (feed-forward)</option>
                    <option value="svm">Support Vector Machine</option>
                </select>
                &nbsp; <-- Method
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-RunButton.html" %}

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-Export.html" %}
    </table>
    </div>
    <br>

    <select id="theme" onchange="presetFunc(this.value);" title="Maximum values derived from either (i) the current dataset (i.e., selected samples), (ii) a reference set of agricultural sites, or (iii) a reference set of forest sites.">
        <option value="1" selected="selected" >Current Dataset</option>
        <option value="2">Agriculture</option>
        <option value="3">Forest</option>
    </select>

    <div style="background-color: white">
        <input type="button" value="Show" id="show" onclick="displayTable();">
        &nbsp&nbsp<-- Display & edit reference values
    </div>

    <br>

    <div style="display: none;" id="maxValBox">
        <table id="example" class="display" width="120%"></table>
    </div>

    <br>
    <div id="stage"></div>
    <br><br>

    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center"></td>
            <td colspan="4" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left">
                <div id="container-0" style="height: 425px; width: 950px;">No Data has been selected!</div>
                <div id="container-2" style="height: 650px; width: 935px; display:none"><iframe id="my_image" src="#" height="100%" width="100%"></iframe></div>
            </td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <br>
    </div>
    <br><br><br><br>
{% endblock my_content%}
