{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title xmlns="http://www.w3.org/1999/html">Select</title>
{% endblock pagetitle %}

{% block javascript %}
    <script type="text/javascript">
        var selKeys = "";

        $(function () {
            $("#tabs").tabs({
                "activate": function(event, ui) {
                    var table = $.fn.dataTable.fnTables(true);
                    if ( table.length > 0 ) {
                        $(table).dataTable().fnAdjustColumnSizing();
                        var oTableTools = TableTools.fnGetInstance(table[0]);
                        if (oTableTools != null && oTableTools.fnResizeRequired()) {
                            oTableTools.fnResizeButtons();
                        }
                    }
                }
            });

            $(".display").dataTable({
                "jQueryUI": true,
                "sDom": 'T<"clear">lfrtip',
                "oTableTools": {
                    "sSwfPath": "{% static "tabletools/swf/copy_csv_xls_pdf.swf" %}"
                },
                "bSort": true,
                "scrollX": true
            });

            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/getProjectTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getProjectTreeChildren/',
                        data: {id: node.data.id}
                    });
                },
                onSelect: function (flag, node) {
                   if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                }
            });

            $("#drawtable").click(function () {
                selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });
                updateNodes(selKeys);
            });

            $("#clearMeta").click(function(){
                $("#tree").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                updateNodes();
            });

            $("#submit").click(function () {
                selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });
                var jsonDict = JSON.stringify(selKeys);
                $.ajax({
                    type: 'GET',
                    url: '/saveCookie/',
                    dataType: 'json',
                    data: {all: jsonDict},
                    success: function(data) {
                        var result = JSON.stringify(data);
                        alert(result);
                        $("#link0").show();
                        $("#link1").show();
                        $("#link2").show();
                        $("#link3").show();
                        $("#link4").show();
                    }
                });
            });
        });

        function updateNodes(selKeys) {
            updateProjectTable(selKeys);
            updateSampleTable(selKeys);

            $("#collect").hide();
            $("#climate").hide();
            $("#class").hide();
            $("#ph").hide();
            $("#manage").hide();
            $("#micro").hide();
            $("#humgut").hide();

            var pTypes = new Array(0);
            {% for project in projects %}
                var element = "{{ project.projectType }}";  // Currently looks at all uploaded projects rather than selected ones, theoretically still practical
                pTypes.push(element);
            {% endfor %}

            for (var c = 0; c < pTypes.length; c++)
            {
                alert("pType: " + pTypes[c]);
            }

            if (pTypes.indexOf("soil")>-1)
            {
                updateCollectTable(selKeys);
                updateClimateTable(selKeys);
                updateSoilClassTable(selKeys);
                updateSoilNutrTable(selKeys);
                updateMgtTable(selKeys);
                updateMicrobeTable(selKeys);
                $("#collect").show();
                $("#climate").show();
                $("#class").show();
                $("#ph").show();
                $("#manage").show();
                $("#micro").show();
            }
            if (pTypes.indexOf("human_gut")>-1)
            {
                updateGutTable(selKeys);
                $("#humgut").show();
            }


            updateUsrTable(selKeys);
        }

        function updateProjectTable(selKeys) {
            var table = $('#projectTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                {% for project in projects %}
                    {% for sample in project.sample_set.all %}
                        var id = "{{ sample.sampleid }}";
                        if (id == value) {
                             table.row.add([
                                "{{ project.project_name }}",
                                "{{ project.projectid }}",
                                "{{ sample.sample_name }}",
                                "{{ project.project_desc }}",
                                "{{ project.start_date }}",
                                "{{ project.end_date }}",
                                "{{ project.pi_last }}",
                                "{{ project.pi_first }}",
                                "{{ project.pi_affiliation }}",
                                "{{ project.pi_email }}",
                                "{{ project.pi_phone }}"
                             ]).draw();
                        }
                    {% endfor %}
                {% endfor %}
            });
        }

        function updateSampleTable(selKeys) {
            var table = $('#sampleTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                {% for project in projects %}
                    {% for sample in project.sample_set.all %}
                        var id = "{{ sample.sampleid }}";
                        if (id == value) {
                             table.row.add([
                                "{{ project.project_name }}",
                                "{{ sample.sampleid }}",
                                 "{{ sample.sample_name }}",
                                "{{ sample.organism }}",
                                "{{ sample.title }}",
                                "{{ sample.seq_method }}",
                                "{{ sample.collection_date }}",
                                "{{ sample.biome }}",
                                "{{ sample.feature }}",
                                "{{ sample.geo_loc_country }}",
                                "{{ sample.geo_loc_state }}",
                                "{{ sample.geo_loc_city }}",
                                "{{ sample.geo_loc_farm }}",
                                "{{ sample.geo_loc_plot }}",
                                "{{ sample.material }}",
                                "{{ sample.latitude }}",
                                "{{ sample.longitude }}",
                                "{{ sample.elevation }}"
                             ]).draw();
                        }
                    {% endfor %}
                {% endfor %}
            });
        }

        function updateGutTable(selKeys){
           var table = $('#gutTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Human_gut in project.Human_gut_set.all %}
                            var id = "{{ Human_gut.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Human_Gut.sampleid.sample_name }}",
                                    "{{ Human_Gut.age }}",
                                    "{{ Human_Gut.body_mass_index }}",
                                    "{{ Human_Gut.body_product }}",
                                    "{{ Human_Gut.chem_administration }}",
                                    "{{ Human_Gut.diet }}",
                                    "{{ Human_Gut.disease }}",
                                    "{{ Human_Gut.ethnicity }}",
                                    "{{ Human_Gut.family_relationship }}",
                                    "{{ Human_Gut.gastrointest_disord }}",
                                    "{{ Human_Gut.genotype }}",
                                    "{{ Human_Gut.height }}",
                                    "{{ Human_Gut.host_body_temp }}",
                                    "{{ Human_Gut.host_subject_id }}",
                                    "{{ Human_Gut.ihmc_medication_code }}",
                                    "{{ Human_Gut.last_meal }}",
                                    "{{ Human_Gut.liver_disord }}",
                                    "{{ Human_Gut.medic_hist_perform }}",
                                    "{{ Human_Gut.nose_throat_disord }}",
                                    "{{ Human_Gut.occupation }}",
                                    "{{ Human_Gut.organism_count }}",
                                    "{{ Human_Gut.oxy_stat_samp }}",
                                    "{{ Human_Gut.perturbation }}",
                                    "{{ Human_Gut.phenotype }}",
                                    "{{ Human_Gut.pulse }}",
                                    "{{ Human_Gut.rel_to_oxygen }}",
                                    "{{ Human_Gut.samp_collect_device }}",
                                    "{{ Human_Gut.samp_mat_process }}",
                                    "{{ Human_Gut.samp_salinity }}",
                                    "{{ Human_Gut.samp_size }}",
                                    "{{ Human_Gut.samp_store_dur }}",
                                    "{{ Human_Gut.samp_store_loc }}",
                                    "{{ Human_Gut.samp_store_temp }}",
                                    "{{ Human_Gut.sex }}",
                                    "{{ Human_Gut.special_diet }}",
                                    "{{ Human_Gut.temp }}",
                                    "{{ Human_Gut.tissue }}",
                                    "{{ Human_Gut.tot_mass }}",
                                    "{{ Human_Gut.user_defined }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateCollectTable(selKeys) {
            var table = $('#collectTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.Soil_set.all %}
                            var id = "{{ Soil.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.depth }}",
                                    "{{ Soil.pool_dna_extracts }}",
                                    "{{ Soil.samp_size }}",
                                    "{{ Soil.samp_collection_device }}",
                                    "{{ Soil.samp_weight_dna_ext }}",
                                    "{{ Soil.sieving }}",
                                    "{{ Soil.storage_cond }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateClimateTable(selKeys) {
            var table = $('#climateTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.climate_set.all %}
                            var id = "{{ Soil.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.annual_season_precpt }}",
                                    "{{ Soil.annual_season_temp }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateSoilClassTable(selKeys) {
            var table = $('#soil_classTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.soil_class_set.all %}
                            var id = "{{ Soil.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.bulk_density }}",
                                    "{{ Soil.drainage_class }}",
                                    "{{ Soil.fao_class }}",
                                    "{{ Soil.horizon }}",
                                    "{{ Soil.local_class }}",
                                    "{{ Soil.porosity }}",
                                    "{{ Soil.profile_position }}",
                                    "{{ Soil.slope_aspect }}",
                                    "{{ Soil.slope_gradient }}",
                                    "{{ Soil.soil_type }}",
                                    "{{ Soil.texture_class }}",
                                    "{{ Soil.water_content_soil }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateSoilNutrTable(selKeys) {
            var table = $('#soil_nutrTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.soil_nutrient_set.all %}
                            var id = "{{ Soil.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.pH }}",
                                    "{{ Soil.EC }}",
                                    "{{ Soil.tot_C }}",
                                    "{{ Soil.tot_OM }}",
                                    "{{ Soil.tot_N }}",
                                    "{{ Soil.NO3_N }}",
                                    "{{ Soil.NH4_N }}",
                                    "{{ Soil.P }}",
                                    "{{ Soil.K }}",
                                    "{{ Soil.S }}",
                                    "{{ Soil.Zn }}",
                                    "{{ Soil.Fe }}",
                                    "{{ Soil.Cu }}",
                                    "{{ Soil.Mn }}",
                                    "{{ Soil.Ca }}",
                                    "{{ Soil.Mg }}",
                                    "{{ Soil.Na }}",
                                    "{{ Soil.B }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateMgtTable(selKeys) {
            var table = $('#mgtTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.management_set.all %}
                            var id = "{{ Soil.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.agrochem_amendments }}",
                                    "{{ Soil.agrochem_amendments_desc }}",
                                    "{{ Soil.biological_amendments }}",
                                    "{{ Soil.biological_amendments_desc }}",
                                    "{{ Soil.cover_crop }}",
                                    "{{ Soil.crop_rotation }}",
                                    "{{ Soil.cur_land_use }}",
                                    "{{ Soil.cur_vegetation }}",
                                    "{{ Soil.cur_crop }}",
                                    "{{ Soil.cur_cultivar }}",
                                    "{{ Soil.organic }}",
                                    "{{ Soil.previous_land_use }}",
                                    "{{ Soil.soil_amendments }}",
                                    "{{ Soil.soil_amendments_desc }}",
                                    "{{ Soil.tillage }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateMicrobeTable(selKeys) {
            var table = $('#microbeTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.microbial_set.all %}
                            var id = "{{ Soil.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.rRNA_copies }}",
                                    "{{ Soil.microbial_biomass_C }}",
                                    "{{ Soil.microbial_biomass_N }}",
                                    "{{ Soil.microbial_respiration }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateUsrTable(selKeys) {
            var table = $('#usrTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for User in project.user_set.all %}
                            var id = "{{ User.sampleid_id }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ User.sampleid.sample_name }}",
                                    "{{ User.usr_cat1 }}",
                                    "{{ User.usr_cat2 }}",
                                    "{{ User.usr_cat3 }}",
                                    "{{ User.usr_cat4 }}",
                                    "{{ User.usr_cat5 }}",
                                    "{{ User.usr_cat6 }}",
                                    "{{ User.usr_quant1 }}",
                                    "{{ User.usr_quant2 }}",
                                    "{{ User.usr_quant3 }}",
                                    "{{ User.usr_quant4 }}",
                                    "{{ User.usr_quant5 }}",
                                    "{{ User.usr_quant6 }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <table border="2" cellspacing="0" cellpadding="5">
        <tr>
            <th>Select any combination of data for analysis:<br><a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>

    <br>
    <input id="submit" type="button" value="Save Selection!"/>
    <br><br><br>
    <h2>Project/Sample information for selected samples</h2>
    <input id="drawtable" type="button" value="Show Selection in DataTable!"/>
    <br><br>

    <div id="demo" style="width: 1000px">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1" style="font-size: 14px">Project</a></li>
                <li><a href="#tabs-2" style="font-size: 14px">MIMARKs</a></li>
                <li><a href="#tabs-3" style="font-size: 14px; display: none" id="collect">Collection</a></li>
                <li><a href="#tabs-4" style="font-size: 14px; display: none" id="climate">Climate</a></li>
                <li><a href="#tabs-5" style="font-size: 14px; display: none" id="class">Soil Class</a></li>
                <li><a href="#tabs-6" style="font-size: 14px; display: none" id="ph">Soil pH/Nutr</a></li>
                <li><a href="#tabs-7" style="font-size: 14px; display: none" id="manage">Management</a></li>
                <li><a href="#tabs-8" style="font-size: 14px; display: none" id="micro">Microbial Biomass</a></li>
                <li><a href="#tabs-9" style="font-size: 14px; display: none" id="humgut">Human Gut</a></li>
                <li><a href="#tabs-9" style="font-size: 14px" id="usr">User-defined</a></li>
            </ul>

            <div id="tabs-1">
                <table id="projectTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Project ID</th>
                            <th>Sample Name</th>
                            <th>Project Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>PI: Last_name</th>
                            <th>PI: First_name</th>
                            <th>PI: Affiliation</th>
                            <th>PI: E-mail</th>
                            <th>PI: Phone</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-2">
                <table id="sampleTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample ID</th>
                            <th>Sample Name</th>
                            <th>Organism</th>
                            <th>Title</th>
                            <th>Seq Method</th>
                            <th>Collection Date</th>
                            <th>Biome</th>
                            <th>Feature</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Farm/Site</th>
                            <th>Plot</th>
                            <th>Material</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Elevation</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-3">
                <table id="collectTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>Depth</th>
                            <th>Pool DNA Extracts</th>
                            <th>Sample Size</th>
                            <th>Collection Device</th>
                            <th>Sample Weight DNA Extract</th>
                            <th>Sieving</th>
                            <th>Storage Conditions</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-4">
                <table id="climateTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>Annual Precip</th>
                            <th>Annual Temp</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-5">
                <table id="soil_classTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>Bulk Density</th>
                            <th>Drainage Class</th>
                            <th>FAO Class</th>
                            <th>Horizon</th>
                            <th>Local Class</th>
                            <th>Porosity</th>
                            <th>Profile Position</th>
                            <th>Slope Aspect</th>
                            <th>Slope Gradient</th>
                            <th>Soil Type</th>
                            <th>Texture Class</th>
                            <th>Water Content Soil</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-6">
                <table id="soil_nutrTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>pH</th>
                            <th>EC</th>
                            <th>tot_C</th>
                            <th>tot_OM</th>
                            <th>tot_N</th>
                            <th>NO3_N</th>
                            <th>NH4_N</th>
                            <th>P</th>
                            <th>K</th>
                            <th>S</th>
                            <th>Zn</th>
                            <th>Fe</th>
                            <th>Cu</th>
                            <th>Mn</th>
                            <th>Ca</th>
                            <th>Mg</th>
                            <th>Na</th>
                            <th>B</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-7">
                <table id="mgtTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>Agrochem Amendments</th>
                            <th>Agrochem Amendments Desc</th>
                            <th>Biological Amendments</th>
                            <th>Biological Amendments Desc</th>
                            <th>Cover Crop</th>
                            <th>Crop Rotation</th>
                            <th>Cur Land Use</th>
                            <th>Cur Vegetation</th>
                            <th>Cur Crop</th>
                            <th>Cur Cultivar</th>
                            <th>Organic</th>
                            <th>Previous Land Use</th>
                            <th>Soil Amendments</th>
                            <th>Soil Amendments Desc</th>
                            <th>Tillage</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-8">
                <table id="microbeTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>rRNA Copies</th>
                            <th>Microbial  Biomass C</th>
                            <th>Microbial Biomass N</th>
                            <th>Microbial Respiration</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-9">
                <table id="usrTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Sample Name</th>
                            <th>Usr Cat 1</th>
                            <th>Usr Cat 2</th>
                            <th>Usr Cat 3</th>
                            <th>Usr Cat 4</th>
                            <th>Usr Cat 5</th>
                            <th>Usr Cat 6</th>
                            <th>Usr Quant 1</th>
                            <th>Usr Quant 2</th>
                            <th>Usr Quant 3</th>
                            <th>Usr Quant 4</th>
                            <th>Usr Quant 5</th>
                            <th>Usr Quant 6</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock my_content %}