{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title xmlns="http://www.w3.org/1999/html">Select</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>User logged in as:<br>&nbsp;{{ user.username }}</p>
    {% else %}
        <p>User logged in as:<br>&nbsp;guest</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <script type="text/javascript">
        var selKeys = "";

        $(function () {
            $("#tabs").tabs({
                "activate": function(event, ui) {
                    var table = $.fn.dataTable.fnTables(true);
                    if ( table.length > 0 ) {
                        $(table).dataTable().fnAdjustColumnSizing();
                        var oTableTools = TableTools.fnGetInstance(table[0]);
                        if (oTableTools != null && oTableTools.fnResizeRequired()) {
                            oTableTools.fnResizeButtons();
                        }
                    }
                }
            });

            $(".display").dataTable({
                "jQueryUI": true,
                "sDom": 'T<"clear">lfrtip',
                "oTableTools": {
                    "sSwfPath": "{% static "tabletools/swf/copy_csv_xls_pdf.swf" %}"
                },
                "bSort": true,
                "scrollX": true
            });

            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/getProjectTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: '/getProjectTreeChildren/',
                        data: {id: node.data.id}
                    });
                },
                onSelect: function (flag, node) {
                   if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                }
            });

            $("#drawtable").click(function () {
                selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });
                updateNodes(selKeys);
            });

            $("#clearMeta").click(function(){
                $("#tree").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                updateNodes();
            });

            $("#submit").click(function () {
                selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                    return node.data.id;
                });
                var jsonDict = JSON.stringify(selKeys);
                $.ajax({
                    type: 'GET',
                    url: '/saveCookie/',
                    dataType: 'json',
                    data: {all: jsonDict},
                    success: function(data) {
                        var result = JSON.stringify(data);
                        alert(result);
                        $("#link0").show();
                        $("#link1").show();
                        $("#link2").show();
                        $("#link3").show();
                        $("#link4").show();
                    }
                });
            });
        });

        function updateNodes(selKeys) {
            updateProjectTable(selKeys);
            updateSampleTable(selKeys);

            var pTypes = new Array(0);

            $.each(selKeys, function (index, value) {
                {% for project in projects %}
                    var id = "{{ project.projectid }}";
                    if (id == value) {
                        var element = "{{ project.projectType }}";
                        pTypes.push(element);
                    }
                {% endfor %}
            });

            if (pTypes.indexOf("soil")>-1) {
                updateSoilTable(selKeys);
                $("#soil").show();
            } else {
                $("#soil").hide();
            }
            if (pTypes.indexOf("human_associated")>-1) {
                updateAssociatedTable(selKeys);
                $("#humasso").show();
            } else {
                $("#humasso").hide();
            }
            updateUsrTable(selKeys);
        }

        function updateProjectTable(selKeys) {
            var table = $('#projectTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                {% for project in projects %}
                    {% for sample in project.sample_set.all %}
                        var id = "{{ sample.sampleid }}";
                        if (id == value) {
                             table.row.add([
                                "{{ project.project_name }}",
                                "{{ project.projectid }}",
                                "{{ sample.sample_name }}",
                                "{{ project.project_desc }}",
                                "{{ project.start_date }}",
                                "{{ project.end_date }}",
                                "{{ project.pi_last }}",
                                "{{ project.pi_first }}",
                                "{{ project.pi_affiliation }}",
                                "{{ project.pi_email }}",
                                "{{ project.pi_phone }}",
                                "{{ project.status }}",
                                {% for ref in refs %}
                                    {% if ref.refid == sample.refid.refid %}
                                        "{{ ref.author }}",
                                        "{{ ref.path }}"
                                    {% endif %}
                                {% endfor %}
                             ]).draw();
                        }
                    {% endfor %}
                {% endfor %}
            });
        }

        function updateSampleTable(selKeys) {
            var table = $('#sampleTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                {% for project in projects %}
                    {% for sample in project.sample_set.all %}
                        var id = "{{ sample.sampleid }}";
                        if (id == value) {
                             table.row.add([
                                "{{ project.project_name }}",
                                "{{ sample.sampleid }}",
                                "{{ sample.sample_name }}",
                                "{{ sample.organism }}",
                                "{{ sample.collection_date }}",
                                "{{ sample.depth }}",
                                "{{ sample.elev }}",
                                "{{ sample.seq_platform }}",
                                "{{ sample.seq_gene }}",
                                "{{ sample.seq_gene_region }}",
                                "{{ sample.seq_for_primer }}",
                                "{{ sample.seq_rev_primer }}",
                                "{{ sample.env_biome }}",
                                "{{ sample.env_feature }}",
                                "{{ sample.env_material }}",
                                "{{ sample.geo_loc_country }}",
                                "{{ sample.geo_loc_state }}",
                                "{{ sample.geo_loc_city }}",
                                "{{ sample.geo_loc_farm }}",
                                "{{ sample.geo_loc_plot }}",
                                "{{ sample.latitude }}",
                                "{{ sample.longitude }}",
                                "{{ sample.annual_season_precpt }}",
                                "{{ sample.annual_season_temp }}"
                             ]).draw();
                        }
                    {% endfor %}
                {% endfor %}
            });
        }

        function updateAssociatedTable(selKeys) {
            var table = $('#humassoTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Human_Associated in project.human_associated_set.all %}
                            var id = "{{ Human_Associated.sampleid.sampleid }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Human_Associated.sampleid.sample_name }}",
                                    "{{ Human_Associated.samp_collect_device }}",
                                    "{{ Human_Associated.samp_mat_process }}",
                                    "{{ Human_Associated.samp_size }}",
                                    "{{ Human_Associated.samp_store_temp }}",
                                    "{{ Human_Associated.samp_store_dur }}",
                                    "{{ Human_Associated.samp_type }}",
                                    "{{ Human_Associated.samp_location }}",
                                    "{{ Human_Associated.samp_temp }}",
                                    "{{ Human_Associated.samp_ph }}",
                                    "{{ Human_Associated.samp_oxy_stat }}",
                                    "{{ Human_Associated.samp_salinity }}",
                                    "{{ Human_Associated.host_subject_id }}",
                                    "{{ Human_Associated.host_age }}",
                                    "{{ Human_Associated.host_pulse }}",
                                    "{{ Human_Associated.host_gender }}",
                                    "{{ Human_Associated.host_ethnicity }}",
                                    "{{ Human_Associated.host_height }}",
                                    "{{ Human_Associated.host_weight }}",
                                    "{{ Human_Associated.host_bmi }}",
                                    "{{ Human_Associated.host_weight_loss_3_month }}",
                                    "{{ Human_Associated.host_body_temp }}",
                                    "{{ Human_Associated.host_occupation }}",
                                    "{{ Human_Associated.pet_farm_animal }}",
                                    "{{ Human_Associated.smoker }}",
                                    "{{ Human_Associated.diet_type }}",
                                    "{{ Human_Associated.diet_duration }}",
                                    "{{ Human_Associated.diet_frequency }}",
                                    "{{ Human_Associated.diet_last_six_month }}",
                                    "{{ Human_Associated.last_meal }}",
                                    "{{ Human_Associated.medic_hist_perform }}",
                                    "{{ Human_Associated.disease_type }}",
                                    "{{ Human_Associated.disease_location }}",
                                    "{{ Human_Associated.disease_duration }}",
                                    "{{ Human_Associated.organism_count }}",
                                    "{{ Human_Associated.tumor_location }}",
                                    "{{ Human_Associated.tumor_mass }}",
                                    "{{ Human_Associated.tumor_stage }}",
                                    "{{ Human_Associated.drug_usage }}",
                                    "{{ Human_Associated.drug_type }}",
                                    "{{ Human_Associated.drug_duration }}",
                                    "{{ Human_Associated.drug_frequency }}",
                                    "{{ Human_Associated.perturbation }}",
                                    "{{ Human_Associated.pert_type }}",
                                    "{{ Human_Associated.pert_duration }}",
                                    "{{ Human_Associated.pert_frequency }}",
                                    "{{ Human_Associated.fetal_health_stat }}",
                                    "{{ Human_Associated.amniotic_fluid_color }}",
                                    "{{ Human_Associated.gestation_stat }}",
                                    "{{ Human_Associated.maternal_health_stat }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateSoilTable(selKeys){
            var table = $('#soilTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for Soil in project.soil_set.all %}
                            var id = "{{ Soil.sampleid.sampleid }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ Soil.sampleid.sample_name }}",
                                    "{{ Soil.samp_collection_device }}",
                                    "{{ Soil.samp_size }}",
                                    "{{ Soil.samp_depth }}",
                                    "{{ Soil.samp_prep }}",
                                    "{{ Soil.sieve_size }}",
                                    "{{ Soil.storage_cond }}",
                                    "{{ Soil.samp_weight_dna_ext }}",
                                    "{{ Soil.pool_dna_extracts }}",
                                    "{{ Soil.fao_class }}",
                                    "{{ Soil.local_class }}",
                                    "{{ Soil.texture_class }}",
                                    "{{ Soil.porosity }}",
                                    "{{ Soil.profile_position }}",
                                    "{{ Soil.slope_aspect }}",
                                    "{{ Soil.slope_gradient }}",
                                    "{{ Soil.bulk_density }}",
                                    "{{ Soil.drainage_class }}",
                                    "{{ Soil.water_content_soil }}",
                                    "{{ Soil.cur_land_use }}",
                                    "{{ Soil.cur_vegetation }}",
                                    "{{ Soil.cur_crop }}",
                                    "{{ Soil.cur_cultivar }}",
                                    "{{ Soil.crop_rotation }}",
                                    "{{ Soil.cover_crop }}",
                                    "{{ Soil.fert_amendment_class }}",
                                    "{{ Soil.fert_placement }}",
                                    "{{ Soil.fert_type }}",
                                    "{{ Soil.fert_tot_amount }}",
                                    "{{ Soil.fert_N_tot_amount }}",
                                    "{{ Soil.fert_P_tot_amount }}",
                                    "{{ Soil.fert_K_tot_amount }}",
                                    "{{ Soil.irrigation_type }}",
                                    "{{ Soil.irrigation_tot_amount }}",
                                    "{{ Soil.residue_removal }}",
                                    "{{ Soil.residue_growth_stage }}",
                                    "{{ Soil.residue_removal_percent }}",
                                    "{{ Soil.tillage_event }}",
                                    "{{ Soil.tillage_event_depth }}",
                                    "{{ Soil.amend1_class }}",
                                    "{{ Soil.amend1_active_ingredient }}",
                                    "{{ Soil.amend1_tot_amount }}",
                                    "{{ Soil.amend2_class }}",
                                    "{{ Soil.amend2_active_ingredient }}",
                                    "{{ Soil.amend2_tot_amount }}",
                                    "{{ Soil.amend3_class }}",
                                    "{{ Soil.amend3_active_ingredient }}",
                                    "{{ Soil.amend3_tot_amount }}",
                                    "{{ Soil.rRNA_copies }}",
                                    "{{ Soil.microbial_biomass_C }}",
                                    "{{ Soil.microbial_biomass_N }}",
                                    "{{ Soil.microbial_respiration }}",
                                    "{{ Soil.soil_pH }}",
                                    "{{ Soil.soil_EC }}",
                                    "{{ Soil.soil_C }}",
                                    "{{ Soil.soil_OM }}",
                                    "{{ Soil.soil_N }}",
                                    "{{ Soil.soil_NO3_N }}",
                                    "{{ Soil.soil_NH4_N }}",
                                    "{{ Soil.soil_P }}",
                                    "{{ Soil.soil_K }}",
                                    "{{ Soil.soil_S }}",
                                    "{{ Soil.soil_Zn }}",
                                    "{{ Soil.soil_Fe }}",
                                    "{{ Soil.soil_Cu }}",
                                    "{{ Soil.soil_Mn }}",
                                    "{{ Soil.soil_Ca }}",
                                    "{{ Soil.soil_Mg }}",
                                    "{{ Soil.soil_Na }}",
                                    "{{ Soil.soil_B }}",
                                    "{{ Soil.plant_C }}",
                                    "{{ Soil.plant_N }}",
                                    "{{ Soil.plant_P }}",
                                    "{{ Soil.plant_K }}",
                                    "{{ Soil.plant_Ca }}",
                                    "{{ Soil.plant_Mg }}",
                                    "{{ Soil.plant_S }}",
                                    "{{ Soil.plant_Na }}",
                                    "{{ Soil.plant_Cl }}",
                                    "{{ Soil.plant_Al }}",
                                    "{{ Soil.plant_B }}",
                                    "{{ Soil.plant_Cu }}",
                                    "{{ Soil.plant_Fe }}",
                                    "{{ Soil.plant_Mn }}",
                                    "{{ Soil.plant_Zn }}",
                                    "{{ Soil.crop_tot_biomass_dw }}",
                                    "{{ Soil.crop_tot_above_biomass_fw }}",
                                    "{{ Soil.crop_tot_above_biomass_dw }}",
                                    "{{ Soil.crop_tot_below_biomass_fw }}",
                                    "{{ Soil.crop_tot_below_biomass_dw }}",
                                    "{{ Soil.harv_fraction }}",
                                    "{{ Soil.harv_fresh_weight }}",
                                    "{{ Soil.harv_dry_weight }}",
                                    "{{ Soil.ghg_chamber_placement }}",
                                    "{{ Soil.ghg_N2O }}",
                                    "{{ Soil.ghg_CO2 }}",
                                    "{{ Soil.ghg_NH4 }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }

        function updateUsrTable(selKeys) {
            var table = $('#usrTable').DataTable();
            table.rows().remove().draw();
            $.each(selKeys, function (index, value) {
                    {% for project in projects %}
                        {% for User in project.userdefined_set.all %}
                            var id = "{{ User.sampleid.sampleid }}";
                            if (id == value) {
                                 table.row.add([
                                    "{{ project.project_name }}",
                                    "{{ User.sampleid.sample_name }}",
                                    "{{ User.usr_cat1 }}",
                                    "{{ User.usr_cat2 }}",
                                    "{{ User.usr_cat3 }}",
                                    "{{ User.usr_cat4 }}",
                                    "{{ User.usr_cat5 }}",
                                    "{{ User.usr_cat6 }}",
                                    "{{ User.usr_quant1 }}",
                                    "{{ User.usr_quant2 }}",
                                    "{{ User.usr_quant3 }}",
                                    "{{ User.usr_quant4 }}",
                                    "{{ User.usr_quant5 }}",
                                    "{{ User.usr_quant6 }}"
                                 ]).draw();
                            }
                        {% endfor %}
                    {% endfor %}
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <table border="2" cellspacing="0" cellpadding="5">
        <tr>
            <th>Select any combination of data for analysis:<br><a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>

    <br>
    <input id="submit" type="button" value="Save Selection(s)!"/>
    <br><br><br>
    <h2>Project/Sample information for selected samples</h2>
    <input id="drawtable" type="button" value="Show Selection(s) in DataTable!"/>
    <br><br>

    <div id="demo" style="width: 1000px">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1" style="font-size: 14px">Project</a></li>
                <li><a href="#tabs-2" style="font-size: 14px">MIMARKs</a></li>
                <li><a href="#tabs-humasso" style="font-size: 14px; display: none" id="humasso">Human Associated</a></li>
                <li><a href="#tabs-soil" style="font-size: 14px; display: none" id="soil">Soil</a></li>
                <li><a href="#tabs-9" style="font-size: 14px" id="usr">User-defined</a></li>
            </ul>

            <div id="tabs-1">
                <table id="projectTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>project_name</th>
                            <th>project_id</th>
                            <th>sample_name</th>
                            <th>project_desc</th>
                            <th>start_date</th>
                            <th>end_date</th>
                            <th>pi_last</th>
                            <th>pi_first</th>
                            <th>pi_affiliation</th>
                            <th>pi_email</th>
                            <th>pi_phone</th>
                            <th>status</th>
                            <th>uploaded_by</th>
                            <th>full_path</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-2">
                <table id="sampleTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>project_name</th>
                            <th>sample_id</th>
                            <th>sample_name</th>
                            <th>organism</th>
                            <th>collection_date</th>
                            <th>depth</th>
                            <th>elev</th>
                            <th>seq_platform</th>
                            <th>seq_gene</th>
                            <th>seq_gene_region</th>
                            <th>seq_for_primer</th>
                            <th>seq_rev_primer</th>
                            <th>env_biome</th>
                            <th>env_feature</th>
                            <th>env_material</th>
                            <th>geo_loc_country</th>
                            <th>geo_loc_state</th>
                            <th>geo_loc_city</th>
                            <th>geo_loc_farm</th>
                            <th>geo_loc_plot</th>
                            <th>latitude</th>
                            <th>longitude</th>
                            <th>annual_season_precpt</th>
                            <th>annual_season_temp</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-humasso">
                <table id="humassoTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>project_name</th>
                            <th>sample_name</th>
                            <th>samp_collect_device</th>
                            <th>samp_mat_process</th>
                            <th>samp_size</th>
                            <th>samp_store_temp</th>
                            <th>samp_store_dur</th>
                            <th>samp_type</th>
                            <th>samp_location</th>
                            <th>samp_temp</th>
                            <th>samp_ph</th>
                            <th>samp_oxy_stat</th>
                            <th>samp_salinity</th>
                            <th>host_subject_id</th>
                            <th>host_age</th>
                            <th>host_pulse</th>
                            <th>host_gender</th>
                            <th>host_ethnicity</th>
                            <th>host_height</th>
                            <th>host_weight</th>
                            <th>host_bmi</th>
                            <th>host_weight_loss_3_month</th>
                            <th>host_body_temp</th>
                            <th>host_occupation</th>
                            <th>pet_farm_animal</th>
                            <th>smoker</th>
                            <th>diet_type</th>
                            <th>diet_duration</th>
                            <th>diet_frequency</th>
                            <th>diet_last_six_month</th>
                            <th>last_meal</th>
                            <th>medic_hist_perform</th>
                            <th>disease_type</th>
                            <th>disease_location</th>
                            <th>disease_duration</th>
                            <th>organism_count</th>
                            <th>tumor_location</th>
                            <th>tumor_mass</th>
                            <th>tumor_stage</th>
                            <th>drug_usage</th>
                            <th>drug_type</th>
                            <th>drug_duration</th>
                            <th>drug_frequency</th>
                            <th>perturbation</th>
                            <th>pert_type</th>
                            <th>pert_duration</th>
                            <th>pert_frequency</th>
                            <th>fetal_health_stat</th>
                            <th>amniotic_fluid_color</th>
                            <th>gestation_stat</th>
                            <th>maternal_health_stat</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-soil">
                <table id="soilTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>project_name</th>
                            <th>sample_name</th>
                            <th>samp_collection_device</th>
                            <th>samp_size</th>
                            <th>samp_depth</th>
                            <th>samp_prep</th>
                            <th>sieve_size</th>
                            <th>storage_cond</th>
                            <th>samp_weight_dna_ext</th>
                            <th>pool_dna_extracts</th>
                            <th>fao_class</th>
                            <th>local_class</th>
                            <th>texture_class</th>
                            <th>porosity</th>
                            <th>profile_position</th>
                            <th>slope_aspect</th>
                            <th>slope_gradient</th>
                            <th>bulk_density</th>
                            <th>drainage_class</th>
                            <th>water_content_soil</th>
                            <th>cur_land_use</th>
                            <th>cur_vegetation</th>
                            <th>cur_crop</th>
                            <th>cur_cultivar</th>
                            <th>crop_rotation</th>
                            <th>cover_crop</th>
                            <th>fert_amendment_class</th>
                            <th>fert_placement</th>
                            <th>fert_type</th>
                            <th>fert_tot_amount</th>
                            <th>fert_N_tot_amount</th>
                            <th>fert_P_tot_amount</th>
                            <th>fert_K_tot_amount</th>
                            <th>irrigation_type</th>
                            <th>irrigation_tot_amount</th>
                            <th>residue_removal</th>
                            <th>residue_growth_stage</th>
                            <th>residue_removal_percent</th>
                            <th>tillage_event</th>
                            <th>tillage_event_depth</th>
                            <th>amend1_class</th>
                            <th>amend1_active_ingredient</th>
                            <th>amend1_tot_amount</th>
                            <th>amend2_class</th>
                            <th>amend2_active_ingredient</th>
                            <th>amend2_tot_amount</th>
                            <th>amend3_class</th>
                            <th>amend3_active_ingredient</th>
                            <th>amend3_tot_amount</th>
                            <th>rRNA_copies</th>
                            <th>microbial_biomass_C</th>
                            <th>microbial_biomass_N</th>
                            <th>microbial_respiration</th>
                            <th>soil_pH</th>
                            <th>soil_EC</th>
                            <th>soil_C</th>
                            <th>soil_OM</th>
                            <th>soil_N</th>
                            <th>soil_NO3_N</th>
                            <th>soil_NH4_N</th>
                            <th>soil_P</th>
                            <th>soil_K</th>
                            <th>soil_S</th>
                            <th>soil_Zn</th>
                            <th>soil_Fe</th>
                            <th>soil_Cu</th>
                            <th>soil_Mn</th>
                            <th>soil_Ca</th>
                            <th>soil_Mg</th>
                            <th>soil_Na</th>
                            <th>soil_B</th>
                            <th>plant_C</th>
                            <th>plant_N</th>
                            <th>plant_P</th>
                            <th>plant_K</th>
                            <th>plant_Ca</th>
                            <th>plant_Mg</th>
                            <th>plant_S</th>
                            <th>plant_Na</th>
                            <th>plant_Cl</th>
                            <th>plant_Al</th>
                            <th>plant_B</th>
                            <th>plant_Cu</th>
                            <th>plant_Fe</th>
                            <th>plant_Mn</th>
                            <th>plant_Zn</th>
                            <th>crop_tot_biomass_dw</th>
                            <th>crop_tot_above_biomass_fw</th>
                            <th>crop_tot_above_biomass_dw</th>
                            <th>crop_tot_below_biomass_fw</th>
                            <th>crop_tot_below_biomass_dw</th>
                            <th>harv_fraction</th>
                            <th>harv_fresh_weight</th>
                            <th>harv_dry_weight</th>
                            <th>ghg_chamber_placement</th>
                            <th>ghg_N2O</th>
                            <th>ghg_CO2</th>
                            <th>ghg_NH4</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tabs-9">
                <table id="usrTable" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr>
                            <th>project_name</th>
                            <th>sample_name</th>
                            <th>usr_cat1</th>
                            <th>usr_cat2</th>
                            <th>usr_cat3</th>
                            <th>usr_cat4</th>
                            <th>usr_cat5</th>
                            <th>usr_cat6</th>
                            <th>usr_quant1</th>
                            <th>usr_quant2</th>
                            <th>usr_quant3</th>
                            <th>usr_quant4</th>
                            <th>usr_quant5</th>
                            <th>usr_quant6</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock my_content %}