{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>SoilHealth</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!" style="background-color: lightgray"/></p>
    <br>
    <p><input id="stop" type="submit" value="Stop Analysis!" style="background-color: lightgray"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var nodesCat = "";
        var catOptions = {};
        var refresh = 0;
        var running = false;
        var RID = 0;
        var hiding = 1;
        var table;

        var dataSet =  [["1", "GIBBS", "cellulase", "2.03e10"],
                        ["2", "GIBBS", "endo-1,4-beta-xylanase", "1.13e10"],
                        ["3", "GIBBS", "beta-glucosidase", "5.51e10"],
                        ["4", "GIBBS", "xylan 1,4-beta-xylosidase", "9.85e9"],
                        ["5", "GIBBS", "cellulose 1,4-beta-cellobiosidase (non-reducing end)", "1.10e8"],
                        ["6", "GIBBS", "amidase", "4.04e10"],
                        ["7", "GIBBS", "urease", "1.56e10"],
                        ["8", "GIBBS", "alkaline phosphatase", "1.99e10"],
                        ["9", "GIBBS", "acid phosphatase", "2.33e10"],
                        ["10", "GIBBS", "arylsulfatase", "1.82e10"],
                        ["11", "GIBBS", "nitrogenase", "9.65e9"],
                        ["12", "GIBBS", "pyrroloquinoline-quinone synthase", "8.05e9"],
                        ["13", "GIBBS", "aerobactin synthase", "5.17e8"],
                        ["14", "GIBBS", "1-aminocyclopropane-1-carboxylate deaminase", "3.77e9"],
                        ["15", "GIBBS", "indolepyruvate decarboxylase", "1.80e9"],
                        ["16", "GIBBS", "(S,S)-butanediol dehydrogenase", "2.77e9"],
                        ["17", "GIBBS", "glycine dehydrogenase (cyanide-forming)", "5.94e7"],
                        ["18", "GIBBS", "chitinase", "1.26e10"],
                        ["19", "Biological", "Abundance", "1e9"],
                        ["20", "Biological", "Richness", "1"],
                        ["21", "Biological", "Diversity", "1"],
                        ["22", "Chemical", "Organic Matter", "20"],
                        ["23", "Chemical", "Carbon", "10"],
                        ["24", "Chemical", "pH", "14"],
                        ["25", "Physical", "Porosity", "1"],
                        ["26", "Physical", "Bulk Density", "2.65"],
                        ["27", "Physical", "Water Content", "1"]];

        $(function () {

            table = $('#example').DataTable( {
                data: dataSet,
                columns: [
                    { title: "Index" },
                    { title: "Type" },
                    { title: "Name" },
                    { title: "Reference" }
                ]
            } );

            //var table = $('#example').DataTable();
            table.MakeCellsEditable({
                "columns": [3],
                "onUpdate": myCallbackFunction,
                "confirmationButton": true
            });

            // remove R plot on close
            $(window).bind('beforeunload', function(){
                $.ajax({
                    url: '/removesoil_indexFiles/',
                    async: false,
                    dataType: 'json',
                    data: {
                        all: RID
                    }
                });
            });

            // Initialize dynatrees
            $("#tree_metaCat").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function(node) {
                    node.appendAjax({
                        url: '/getSampleCatTreeChildren/',
                        data: {pType: node.data.pType, field: node.data.title},
                        success: function(node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function(flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            if (node.childList == undefined) {
                                node.select(false);
                                node.remove(true);
                            } else {
                                node.select(false);
                                node.select(true);
                            }
                        });
                    }
                    nodesCat = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                }
            });


            // Start stop and other 'click' functions
            $("#run").click(function () {
                if(running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                $("#my_image").attr("src", "#");
                $("#container-0").empty().show();
                $("#container-2").hide();
                $("#text-1").val('');
                running = true;
                chooseData();
            });

           $("#stop").show().click(function () {
                running = false;
                stopThis(RID);
            });

            $("#clearMeta").click(function(){
                $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                checkButtons();
            });

        });

        function myCallbackFunction(updatedCell, updatedRow, oldValue) {
            console.log("The new value for the cell is: " + updatedCell.data());
            console.log("The old value for that cell was: " + oldValue);
            console.log("The values for each cell in that row are: " + updatedRow.data());
        }

        function getTab(){
            $.ajax({
                url: '/getTabsoil_index/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var name = obj['name'];
                    getFile(name, 'final_data.csv');
                }
            });
        }

        function getFile(name, final) {
            {% static "" as baseUrl %}
            var url = {{ baseUrl }}+'/'+name;
            var anchor = document.createElement('a');
            anchor.setAttribute('href', url);
            anchor.setAttribute('download', final);

            var ev = document.createEvent("MouseEvents");
                ev.initMouseEvent("click", true, false, self, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            anchor.dispatchEvent(ev);
        }


        function checkButtons(){
            //set all buttons to their proper states given the current state of the independent buttons
            $("#run").css("background-color", "lightgray");

            $("#container-0").empty().show().append('Settings have been changed by the user!');
            $("#container-2").hide();
            $("#my_image").attr("src", "#");

        }

        function stopThis(RID) {
            clearInterval(refresh);
            $.ajax({
                url: '/stopsoil_index/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-2').hide();
                    $('#container-0').empty().show().append(stage);
                }
            });
        }

        function updateStatus(RID) {
            $.ajax({
                url: '/statussoil_index/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    $('#container-0').empty().append(stage);
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){updateStatus(RID);}, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);

        }

        function chooseDisplay() {
            if ( $("#run").css("background-color") == "rgb(0, 128, 0)" ) {
                {% static "" as baseUrl %}
                $("#my_image").removeAttr("src").attr("src", "{{ baseUrl }}/temp/soil_index/Rplots/" + RID +"/soil_index_final.pdf");
                $("#container-2").show();
                $("#container-0").hide();
            } else {
                $("#container-0").show();
                $("#container-2").hide();
            }
        }

        function chooseData() {
            $("#run").css("background-color", "yellow");
            $("#container-0").empty().append('Analysis is running...please be patient');
            getGraphData();
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function displayTable() {
            if (hiding == 1) {
                $("#maxValBox").show();
                document.getElementById("show").value = "Hide";
                hiding = 0;
            }
            else {
                $("#maxValBox").hide();
                document.getElementById("show").value = "Show";
                hiding = 1;
            }
        }

        function getGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            var metaValsCat = '';
            if (nodesCat.length > 0) {
                metaValsCat = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDsCat = '';
            if (nodesCat.length > 0) {
                metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
            }

            var maxVals = {};
            var names = table.column(2).data();
            var vals = table.column(3).data();
            for (var c=0; c<names.length; c++) {
                maxVals[names[c]] = vals[c];
            }

            //Check if max value is valid
            var stop = false;
            if (maxVals['cellulase'] <= 0) {
                alert("Max values must be greater than zero (check cellulase)");
                document.getElementById("maxval1").value = "2.03e10";
                stop = true;
            }
            if (maxVals['endo-1,4-beta-xylanase'] <= 0) {
                alert("Max values must be greater than zero (check endo-1.4-beta xylanase)");
                document.getElementById("maxval2").value = "1.13e10";
                stop = true;
            }
            if (maxVals['beta-glucosidase'] <= 0) {
                alert("Max values must be greater than zero (check beta-glucosidase)");
                document.getElementById("maxval3").value = "5.51e10";
                stop = true;
            }
            if (maxVals['xylan 1,4-beta-xylosidase'] <= 0) {
                alert("Max values must be greater than zero (check xylan-1.4-beta-xylosidase)");
                document.getElementById("maxval4").value = "9.85e9";
               stop = true;
            }
            if (maxVals['cellulose 1,4-beta-cellobiosidase (non-reducing end)'] <= 0) {
                alert("Max values must be greater than zero (check cellulose 1-4-beta-cellobiosidase)");
                document.getElementById("maxval5").value = "1.10e8";
                stop = true;
            }
            if (maxVals['amidase'] <= 0) {
                alert("Max values must be greater than zero (check amidase)");
                document.getElementById("maxval6").value = "4.04e10";
                stop = true;
            }
            if (maxVals['urease'] <= 0) {
                alert("Max values must be greater than zero (check urease)");
                document.getElementById("maxval7").value = "1.56e10";
                stop = true;
            }
            if (maxVals['alkaline phosphatase'] <= 0) {
                alert("Max values must be greater than zero (check alkaline phosphatase)");
                document.getElementById("maxval8").value = "1.99e10";
                stop = true;
            }
            if (maxVals['acid phosphatase'] <= 0) {
                alert("Max values must be greater than zero (check acid phosphatase)");
                document.getElementById("maxval9").value = "2.33e10";
                stop = true;
            }
            if (maxVals['arylsulfatase'] <= 0) {
                alert("Max values must be greater than zero (check arylsulfatase)");
                document.getElementById("maxval10").value = "1.82e10";
                stop = true;
            }
            if (maxVals['nitrogenase'] <= 0) {
                alert("Max values must be greater than zero (check nitrogenase)");
                document.getElementById("maxval11").value = "9.65e9";
                stop = true;
            }
            if (maxVals['pyrroloquinoline-quinone synthase'] <= 0) {
                alert("Max values must be greater than zero (check pyrroloquinoline-quinone synthase)");
                document.getElementById("maxval12").value = "8.05e9";
                stop = true;
            }
            if (maxVals['aerobactin synthase'] <= 0) {
                alert("Max values must be greater than zero (check aerobactin synthase)");
                document.getElementById("maxval13").value = "5.17e8";
                stop = true;
            }
            if (maxVals['1-aminocyclopropane-1-carboxylate deaminase'] <= 0) {
                alert("Max values must be greater than zero (check 1-aminocyclopropane-1-carboxylate deaminase)");
                document.getElementById("maxval14").value = "3.77e9";
                stop = true;
            }
            if (maxVals['indolepyruvate decarboxylase'] <= 0) {
                alert("Max values must be greater than zero (check indolepyruvate decarboxylase)");
                document.getElementById("maxval15").value = "1.80e9";
                stop = true;
            }
            if (maxVals['(S,S)-butanediol dehydrogenase'] <= 0) {
                alert("Max values must be greater than zero (check (S,S)-butanediol dehydrogenase)");
                document.getElementById("maxval16").value = "2.77e9";
                stop = true;
            }
            if (maxVals['glycine dehydrogenase (cyanide-forming)'] <= 0) {
                alert("Max values must be greater than zero (check glycine dehydrogenase (cyanide-forming))");
                document.getElementById("maxval17").value = "5.94e7";
                stop = true;
            }
            if (maxVals['chitinase'] <= 0) {
                alert("Max values must be greater than zero (check chitinase)");
                document.getElementById("maxval18").value = "1.26e10";
                stop = true;
            }

            if (stop) {
                stopThis(RID);
            }

            var myDict = {};
            myDict['maxVals'] = maxVals;
            myDict['metaValsCat'] = metaValsCat;
            myDict['metaIDsCat'] = metaIDsCat;
            myDict['RID'] = RID;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getsoil_index/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    running = false;
                    stopTimer(refresh);
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);

                    var error = obj['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    } else {
                        $("#run").css("background-color", "green");
                    }

                    var text = obj['text'];
                    $('#text-1').val(text);

                    chooseDisplay();
                }
            });
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select Meta Data:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree_metaCat"></div>
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr>
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong>Reference Values:</strong></em></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="button" value="Show" id="show" onclick="displayTable();">
                    </input>
                </div>
                <div style="display: none;" id="maxValBox">
                    <!--<table>
                        <tr>GIBBs</tr>
                        <tr>
                            <td>cellulase</td><td><input type="text" value=2.03e10 id="maxval1"/></td>
                            <td>endo-1.4-beta xylanase</td><td><input type="text" value=1.13e10 id="maxval2"/></td>
                        </tr>
                        <tr>
                            <td>beta-glucosidase</td><td><input type="text" value=5.51e10 id="maxval3"/></td>
                            <td>xylan-1.4-beta-xylosidase</td><td><input type="text" value=9.85e9 id="maxval4"/></td>
                        </tr>
                        <tr>
                            <td>cellulose 1-4-beta-cellobiosidase</td><td><input type="text" value=1.10e8 id="maxval5"/></td>
                            <td>amidase</td><td><input type="text" value=4.04e10 id="maxval6"/></td>
                        </tr>
                        <tr>
                            <td>urease</td><td><input type="text" value=1.56e10 id="maxval7"/></td>
                            <td>alkaline phosphatase</td><td><input type="text" value=1.99e10 id="maxval8"/></td>
                        </tr>
                        <tr>
                            <td>acid phosphatase</td><td><input type="text" value=2.33e10 id="maxval9"/></td>
                            <td>arylsulfatase</td><td><input type="text" value=1.82e10 id="maxval10"/></td>
                        </tr>
                        <tr>
                            <td>nitrogenase</td><td><input type="text" value=9.65e9 id="maxval11"/></td>
                            <td>pyrroloquinoline-quinone synthase</td><td><input type="text" value=8.05e9 id="maxval12"/></td>
                        </tr>
                        <tr>
                            <td>aerobactin synthase</td><td><input type="text" value=5.17e8 id="maxval13"/></td>
                            <td>1-aminocyclopropane-1-carboxylate deaminase</td><td><input type="text" value=3.77e9 id="maxval14"/></td>
                        </tr>
                        <tr>
                            <td>indolepyruvate decarboxylase</td><td><input type="text" value=1.80e9 id="maxval15"/></td>
                            <td>(S,S)-butanediol dehydrogenase</td><td><input type="text" value=2.77e9 id="maxval16"/></td>
                        </tr>
                        <tr>
                            <td>glycine dehydrogenase (cyanide-forming)</td><td><input type="text" value=5.94e7 id="maxval17"/></td>
                            <td>chitinase</td><td><input type="text" value=1.26e10 id="maxval18"/></td>
                        </tr>
                    </table>-->
                    <table id="example" class="display" width="100%"></table>
                </div>

            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white"></td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white"></td>
            <td bgcolor="white"></td>
        </tr>
        <tr><td colspan="3" bgcolor="white"></td></tr>
    </table>
    </div>
    <br>

    <div id="stage"></div>
    <br><br>

    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td id="cell_taxa" colspan="8" style="text-align: center"></td>
            <td colspan="4" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left">
                <div id="container-0" style="height: 425px; width: 950px;">No Data has been selected!</div>
                <div id="container-2" style="height: 425px; width: 950px; display:none"><iframe id="my_image" src="#" height="100%" width="98%"></iframe></div>
            </td>
        </tr>
        <tr id="highchartButtons">
            <td colspan="6" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
            <td colspan="6" style="text-align: center"></td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <br>
    </div>
    <br>
    <br>

    <!--<table id="myTable" class="stripe">
        <thead>
            <tr>
                <th>Group</th>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GIBBs</td>
                <td>cellulase</td>
                <td>2.03e10</td>
            </tr>
            <tr>
                <td>Joe</td>
                <td>Dirt</td>
                <td>Joe@example.com</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>John@example.com</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Doe</td>
                <td>Jane@example.com</td>
            </tr>
            <tr>
                <td>Billy</td>
                <td>Bob</td>
                <td>Billy@example.com</td>
            </tr>
            <tr>
                <td>Bobby</td>
                <td>Axlerod</td>
                <td>Bobby@axecapital.com</td>
            </tr>
        </tbody>
    </table>-->
    <br><br><br>
{% endblock my_content%}
