{% extends 'site_base.html' %}
{% load static %}

{% block pagetitle %}
    <title>SoilHealth</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
        .my-input-class {
            padding: 3px 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .my-confirm-class {
            padding: 3px 6px;
            font-size: 12px;
            color: white;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            background-color: #337ab7;
            text-decoration: none;
        }
        .my-cancel-class {
            padding: 3px 6px;
            font-size: 12px;
            color: white;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            background-color: #a94442;
            text-decoration: none;
        }
    </style>

    <script type="text/javascript">

        var treeType = 3, dataType = 1;
        var nodesCat = "";
        var hiding = 1, table, locMax = false;
        var running = false, refresh = 0, RID = 0;

        var dataSet =  [
            //GIBBS
            ["1", "GIBBS", "C decomposition", "bglX", "beta-glucosidase", "0.5696", "0.0135"],
            ["2", "GIBBS", "C decomposition", "bglB", "beta-glucosidase", "0.6694", "0.0293"],
            ["3", "GIBBS", "C decomposition", "E3.2.1.21", "beta-glucosidase", "0.2094", "0.0354"],
            ["4", "GIBBS", "P decomposition", "phoA", "alkaline phosphatase", "0.2914", "0.0243"],
            ["5", "GIBBS", "P decomposition", "phoD", "alkaline phosphatase", "0.6758", "0.0416"],
            ["6", "GIBBS", "P decomposition", "E3.1.3.2", "acid phosphatase", "0.1242", "0.0129"],
            ["7", "GIBBS", "P decomposition", "appA", "acid phosphatase", "0.1057", "0.0134"],
            ["8", "GIBBS", "P decomposition", "phoN", "acid phosphatase", "0.0549", "0.0065"],
            ["9", "GIBBS", "S decomposition", "aslA", "arylsulfatase", "0.327", "0.0486"],
            ["10", "GIBBS", "P-solubility", "pqqC", "pyrroloquinoline-quinone synthase", "0.2009", "0.0301"],
            ["11", "GIBBS", "Biocontrol", "hcnA", "glycine dehydrogenase (cyanide-forming)", "0.0031", "0.0045"],
            ["12", "GIBBs", "Biocontrol", "budA", "acetolactate decarboxylase", "0.0229", "0.0088"],
            ["13", "GIBBs", "Biocontrol", "budC", "(S,S)-butanediol dehydrogenase", "0", "0"],
            ["14", "GIBBs", "Biocontrol", "E3.2.1.6", "endo-1,3(4)-beta-glucanase", "0.0006", "0.0008"],
            ["15", "GIBBS", "Biocontrol", "E3.2.1.14", "chitinase", "0.4933", "0.0284"],
            ["16", "GIBBS", "Biocontrol", "prnD", "aminopyrrolnitrin oxygenase", "0", "0"],
            ["17", "GIBBS", "Biocontrol", "phlD", "phloroglucinol synthase", "0", "0"],
            ["18", "GIBBS", "Biocontrol", "ituA", "iturin family lipopeptide synthetase A", "0", "0"],
            ["20", "GIBBS", "Biocontrol", "fenA", "fengycin family lipopeptide synthetase D", "0", "0"],
            ["21", "GIBBS", "Biocontrol", "srfAA", "surfactin family lipopeptide synthetase A", "0", "0"],
            ["24", "GIBBS", "Biocontrol", "rifM", "AHBA synthesis associated protein", "0", "0"],
            ["27", "GIBBS", "Biocontrol", "phzE", "2-amino-4-deoxychorismate synthase", "0.0864", "0.0396"],
            ["28", "GIBBS", "Root-growth", "ipdC", "indolepyruvate decarboxylase", "0.0651", "0.0038"],
            ["29", "GIBBS", "Root-growth", "acdS", "1-aminocyclopropane-1-carboxylate deaminase", "0.1239", "0.0193"],
            ["30", "GIBBS", "Siderophore", "mbtI", "salicylate synthetase", "0.0197", "0.0095"],
            ["31", "GIBBS", "Siderophore", "entA", "2,3-dihydro-2,3-dihydroxybenzoate dehydrogenase", "0.1287", "0.0515"],
            ["32", "GIBBS", "Siderophore", "pchB", "isochorismate pyruvate lysase", "0.0244", "0.0045"],

            //N cycle
            ["59", "N cycle", "N-fixation", "nifH", "nitrogenase Fe protein", "0.1412", "0.0037"],
            ["60", "N cycle", "N-fixation", "nifDK", "nitrogenase Mo-Fe protein", "0.1521", "0.0093"],
            ["61", "GIBBS", "Ammonification", "amiE", "amidase", "0.7972", "0.025"],
            ["62", "GIBBS", "Ammonification", "ureC", "urease", "0.333", "0.0588"],
            ["63", "N cycle", "Nitrification", "pmoA-amoA", "methane/ammonia monooxygenase", "0.0009", "0.0015"],
            ["64", "N cycle", "Nitrification", "hao", "hydroxylamine dehydrogenase", "0.0098", "0.003"],
            ["65", "N cycle", "Nitrification", "narGH", "nitrate reductase", "0.3384", "0.0291"],
            ["66", "N cycle", "DNRA", "nirBD", "nitrite reductase (NADH)", "0.4449", "0.0622"],
            ["67", "N cycle", "DNRA", "nrfA", "nitrite reductase (cytochrome c-552)", "0.0201", "0.0025"],
            ["68", "N cycle", "ANRA", "nirA", "ferrodoxin-nitrite reductase", "0.4948", "0.0375"],
            ["69", "N cycle", "ANRA", "NIT-6", "nitrite reductase (NAD(P)H)", "0", "0"],
            ["70", "N cycle", "Denitrification", "nirK", "nitrite reductase (NO forming)", "0.1555", "0.0393"],
            ["71", "N cycle", "Denitrification", "nirS", "nitrite reductase (NO forming)", "0", "0"],
            ["72", "N cycle", "Denitrification", "norBC", "nitric oxide reductase", "0.0299", "0.0147"],
            ["73", "N cycle", "Denitrification", "nosZ", "nitrous-oxide reductase", "0.0232", "0.018"]
        ];

        $(function () {
            $(window).load(function() {
                checkButtons();
            });
            $(".input tr:not(.accordion)").hide();
            $(".input tr.accordion").click(function () {
                var $arrow = $(this).find(".arrow:first");
                $arrow.text($arrow.text() == '►' ? '▼' : '►');
                $(this).nextUntil(".accordion").fadeToggle('fast');
            });
            $(".input tr.accordion:eq(1)").trigger('click');
            table = $('#example').DataTable( {
                data: dataSet,
                columns: [
                    { title: "Index" },
                    { title: "Category" },
                    { title: "Sub-Category" },
                    { title: "EC ID" },
                    { title: "Name" },
                    { title: "Mean" },
                    { title: "SD" }
                ]
            } );
        });

        function checkButtons(){
            //set all buttons to their proper states given the current state of the independent buttons
            $("#run").css("background-color", "lightgray");

            $("#container-0").empty().show().append('Settings have been changed by the user!');
            $("#container-2").hide();
            $("#my_image").attr("src", "#");

        }
        function chooseData() {
            $("#run").css("background-color", "yellow");
            $("#container-0").empty().append('Analysis is running...please be patient');
            getGraphData();
        }
        function chooseDisplay() {
            if ( $("#run").css("background-color") == "rgb(0, 128, 0)" ) {
                {% static "" as baseUrl %}
                $("#my_image").removeAttr("src").attr("src", "{{ baseUrl }}/temp/soil_index/Rplots/"+ RID +"/soil_index_final.pdf");
                $("#container-2").show();
                $("#container-0").hide();
            } else {
                $("#container-0").show();
                $("#container-2").hide();
            }
        }
        function displayTable() {
            if (hiding == 1) {
                $("#maxValBox").show();
                document.getElementById("show").value = "Hide";
                hiding = 0;
            }
            else {
                $("#maxValBox").hide();
                document.getElementById("show").value = "Show";
                hiding = 1;
            }
        }
        function getGraphData() {
            RID = makeGUID();
            startTimer(RID);
            var arrayValsCat = [];
            var arrayIDsCat = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesCat.length; i++) {
                if (nodesCat[i].getLevel() == 5) {
                    if ((nodesCat[i].data.table == 'project') || (nodesCat[i].data.table == 'mimark') || (nodesCat[i].data.table == 'user')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
                else if (nodesCat[i].getLevel() == 6) {
                    if ((nodesCat[i].data.table == 'human_associated') || (nodesCat[i].data.table == 'soil') || (nodesCat[i].data.table == 'air') || (nodesCat[i].data.table == 'microbial') || (nodesCat[i].data.table == 'water')) {
                        key = nodesCat[i].data.field;
                        value = nodesCat[i].data.value;
                        id = nodesCat[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayValsCat.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDsCat.push(ids);
                    }
                }
            }

            var metaValsCat = '';
            if (nodesCat.length > 0) {
                metaValsCat = "{" + arrayValsCat.join(",") + "}";
            }

            var metaIDsCat = '';
            if (nodesCat.length > 0) {
                metaIDsCat = "{" + arrayIDsCat.join(",") + "}";
            }

            var meanVals = {};
            var sdVals = {};
            if (!locMax) {
                var names = table.column(3).data();
                var colvals = table.column(5).data();
                for (var c=0; c<names.length; c++) {
                    meanVals[names[c]] = colvals[c];
                }
                colvals = table.column(6).data();
                for (var d=0; d<names.length; d++) {
                    sdVals[names[d]] = colvals[d];
                }

                var stop = false;
            }

            if (stop) {
                stopAnalysis();
            }

            var myDict = {};
            myDict['locMax'] = locMax;
            myDict['meanVals'] = meanVals;
            myDict['sdVals'] = sdVals;
            myDict['metaValsCat'] = metaValsCat;
            myDict['metaIDsCat'] = metaIDsCat;
            myDict['RID'] = RID;
            myDict['funcName'] = "getsoil_index";
            myDict['reqType'] = "call";
            myDict['dataID'] = dataID;

            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    }
                }
            });
        }
        function presetFunc(val) {
            var meanValDict = {};
            var sdValDict = {};
            table.order([0, 'asc']).draw(); //reset sorting because these tables are buggy as heck
            var names = table.column(4).data();
            if (val == 1) {
                //Use current data set to find max values
                locMax = true;
            }
            else if (val == 2) {
                //Agriculture
                locMax = false;
                //initialize meanValDict with agriculture pairs
                meanValDict = {
                    'bglX': 0.5696,
                    'bglB': 0.6694,
                    'E3.2.1.21': 0.2094,
                    'phoA': 0.2914,
                    'phoD': 0.6758,
                    'E3.1.3.2': 0.1242,
                    'appA': 0.1057,
                    'phoN': 0.0549,
                    'aslA': 0.327,
                    'pqqC': 0.2009,
                    'hcnA': 0.0031,
                    'budA': 0.0229,
                    'budC': 0,
                    'E3.2.1.6': 0.0006,
                    'E3.2.1.14': 0.4933,
                    'prnD': 0,
                    'phlD': 0,
                    'ituA': 0,
                    'fenA': 0,
                    'srfAA': 0,
                    'rifM': 0,
                    'phzE': 0.0864,
                    'ipdC': 0.0651,
                    'acdS': 0.1239,
                    'mbtI': 0.0197,
                    'entA': 0.1287,
                    'pchB': 0.0244,
                    'nifH': 0.1412,
                    'nifDK': 0.1521,
                    'amiE': 0.7972,
                    'ureC': 0.333,
                    'pmoA-amoA': 0.0009,
                    'hao': 0.0098,
                    'narGH': 0.3384,
                    'nirBD': 0.4449,
                    'nrfA': 0.0201,
                    'nirA': 0.4948,
                    'NIT-6': 0,
                    'nirK': 0.1555,
                    'nirS': 0,
                    'norBC': 0.0299,
                    'nosZ': 0.0232
                };
                meanValDict = {
                    'bglX': 0.0135,
                    'bglB': 0.0293,
                    'E3.2.1.21': 0.0354,
                    'phoA': 0.0243,
                    'phoD': 0.0416,
                    'E3.1.3.2': 0.0129,
                    'appA': 0.0134,
                    'phoN': 0.0065,
                    'aslA': 0.0486,
                    'pqqC': 0.0301,
                    'hcnA': 0.0045,
                    'budA': 0.0088,
                    'budC': 0,
                    'E3.2.1.6': 0.0008,
                    'E3.2.1.14': 0.0284,
                    'prnD': 0,
                    'phlD': 0,
                    'ituA': 0,
                    'fenA': 0,
                    'srfAA': 0,
                    'rifM': 0,
                    'phzE': 0.0396,
                    'ipdC': 0.0038,
                    'acdS': 0.0193,
                    'mbtI': 0.0095,
                    'entA': 0.0515,
                    'pchB': 0.0045,
                    'nifH': 0.0037,
                    'nifDK': 0.0093,
                    'amiE': 0.025,
                    'ureC': 0.0588,
                    'pmoA-amoA': 0.0015,
                    'hao': 0.003,
                    'narGH': 0.0291,
                    'nirBD': 0.0622,
                    'nrfA': 0.0025,
                    'nirA': 0.0375,
                    'NIT-6': 0,
                    'nirK': 0.0393,
                    'nirS': 0,
                    'norBC': 0.0147,
                    'nosZ': 0.018
                };
                //set column 4 value at row c to value of meanValDict with entry names[c]
                for (var c=0; c<names.length; c++) {
                    if (meanValDict[names[c]]!=null) {
                        table.cell(c, 5).data(meanValDict[names[c]]);
                    }
                    if (sdValDict[names[c]]!=null) {
                        table.cell(c, 6).data(sdValDict[names[c]]);
                    }
                }
            }
            else {
                //Do nothing?
            }
        }
        function runAnalysis() {
            if(running == true) {
                alert("myPhyloDB is currently running your previous analysis request!");
                return false;
            }
            $("#my_image").attr("src", "#");
            $("#container-0").empty().show();
            $("#container-2").hide();
            $("#text-1").val('');
            running = true;
            chooseData();
        }
        function stopAnalysis() {
            running = false;
            clearInterval(refresh);
            $.ajax({
                url: '/myPhyloDB/stop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['message'];
                    $('#container-2').hide();
                    $('#container-0').empty().show().append(stage);
                }
            });
        }
        function updateStatus() {
            var myDict = {};
            myDict['reqType'] = "status";
            myDict['RID'] = RID;
            myDict['funcName'] = "getsoil_index";
            var jsonDict = JSON.stringify(myDict);
            $.ajax({
                url: '/myPhyloDB/funcCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var resType = obj['resType'];
                    if (resType == "status") {
                        var stage = obj['stage'];
                        if (running) {
                            if (stage != "Downloading results") {
                                $('#container-0').empty().append(stage);
                            }
                        }
                    } else {
                        running = false;
                        clearInterval(refresh);
                        var error = obj['error'];
                        if (error != "none") {
                            alert(error);
                            $("#run").css("background-color", "red");
                        } else {
                            $("#run").css("background-color", "green");
                        }

                        var text = obj['text'];
                        $('#text-1').val(text);

                        var res_table = obj['res_table'];
                        $('#res_table').empty().append(res_table).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();

                        var scale_table = obj['scale_table'];
                        $('#scale_table').empty().append(scale_table).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();

                        var mean_table = obj['mean_table'];
                        $('#mean_table').empty().append(mean_table).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();

                        var scale_mean_table = obj['mean_table'];
                        $('#scale_mean_table').empty().append(mean_table).find('.table').DataTable({
                            dom: 'B<"toolbar">lfrtip',
                            deferRender: true,
                            scrollX: true,
                            bSort: true,
                            bPaginate: true,
                            sPaginationType: 'full_numbers',
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();

                        chooseDisplay();
                    }
                }
            });
        }
        function startTimer() {
            refresh = setInterval(function(){updateStatus(RID);}, 1000);
            return refresh;
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select Meta Data:
                <br><a href="#" id="clearMeta" style="font-size: 12px;" onClick="clearMeta()">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                {% include "html/DynaTree-MetaCat.html" %}
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="5" class="inlineTable input">
        <tr><td colspan="3" bgcolor="white"></td></tr>
        <tr class="accordion">
            <td bgcolor="white"></td>
            <td colspan="2" bgcolor="lightgray" style="outline: thin solid"><em><strong><span class="arrow">►</span> Reference Values:</strong></em></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="theme" onchange="presetFunc(this.value);" title="Maximum values derived from either (i) the current dataset (i.e., selected samples), (ii) a reference set of agricultural sites.">
                    <option value="1">Current Dataset</option>
                    <option value="2" selected="selected">Reference Dataset</option>
                </select>
                &nbsp&nbsp<-- Reference set
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <input type="button" value="Show" id="show" onclick="displayTable();">
                    &nbsp&nbsp<-- Display reference values
                </div>
                <div style="display: none; width: 900px; overflow-x: auto;" id="maxValBox">
                    <br>
                    <table id="example" class="display"></table>
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>

        <tr><td colspan="3" bgcolor="white"></td></tr>
        {% include "html/Data-RunButton.html" %}
    </table>
    </div>
    <br>

    <div id="stage"></div>
    <br><br>

    <table width="950px" border="2" style="table-layout: fixed">
        <colgroup>
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
            <col width="5%"><col width="5%">
        </colgroup>
        <tr>
            <th colspan="20" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center"></td>
            <td colspan="4" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
        </tr>
        <tr>
            <td colspan="20" style="text-align: left">
                <div id="container-0" style="height: 600px; width: 950px;">No Data has been selected!</div>
                <div id="container-2" style="height: 600px; width: 950px; display:none"><iframe id="my_image" src="#" height="100%" width="98%"></iframe></div>
            </td>
        </tr>
        <tr id="highchartButtons">
            <td colspan="6" style="text-align: center"></td>
            <td colspan="8" style="text-align: center"></td>
            <td colspan="6" style="text-align: center"></td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <br>
    </div>
    <br>
    <h2>Raw Data:</h2>
    <div id="res_table" style="width: 950px; overflow-x: auto;"></div>
    <br>
    <br>
    <h2>Scaled Data:</h2>
    <div id="scale_table" style="width: 950px; overflow-x: auto;"></div>
    <br>
    <br>
    <h2>Raw Data (Means):</h2>
    <div id="mean_table" style="width: 950px; overflow-x: auto;"></div>
    <br>
    <br>
    <h2>Scaled Data (Means):</h2>
    <div id="scale_mean_table" style="width: 950px; overflow-x: auto;"></div>

    <br>
    <br><br><br>
{% endblock my_content%}
