{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>sPLS-Regr</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block menu_item %}
    <p><input id="run" type="submit" value="Run Analysis!" style="background-color: lightgray"/></p>
    <br>
    <p><input id="stop" type="submit" value="Stop Analysis!" style="background-color: lightgray"/></p>
{% endblock menu_item %}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var DepVar = 1, NormMeth = 3, selTheme = 0;
        var nodesQuant = "", taxaLevel = 7;
        var chart1 = {}, display = 1;
        var catOptions = {};
        var remove = 0;
        var refresh = 0;
        var running = false;

        $(function () {
            $(window).bind('beforeunload', function(){
                $.ajax({
                    url: '/removegraphSPLS/',
                    async: false
                });
            });

            $("#tree_metaQuant").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleQuantTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function(node) {
                    node.appendAjax({
                        url: '/getSampleQuantTreeChildren/',
                        data: {pType: node.data.pType, field: node.data.title},
                        success: function(node) {
                            if (node.childList == undefined) {
                                alert('No samples are available for this variable!');
                            }
                        }
                    });
                },
                onSelect: function(flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesQuant = node.tree.getSelectedNodes();
                    $("#run").css("background-color", "lightgray");
                }
            });

            $("#normalize").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#DepVar").change(function () {
                DepVar = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#graphDisplay").change(function () {
                display = $(this).val();
                if (display == 1) {
                    $("#container-1").show();
                    $("#container-2").hide();
                }
                if (display == 2) {
                    $("#container-1").hide();
                    $("#container-2").show();
                }
                $("#run").css("background-color", "lightgray");
            });

            $("#selectall").change(function () {
                taxaLevel = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#NormMeth").change(function () {
                NormMeth = $(this).val();
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#NormVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#Iters").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#MinVal").change(function () {
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });

            $("#methodVal").click(function () {
                $("#run").css("background-color", "lightgray");
            });

            $("#metricVal").change(function () {
                $("#run").css("background-color", "lightgray");
            });

            $("#run").click(function () {
                $("#my_image").attr("src", "#");
                $("#container-0").show();
                $("#container-1").hide();
                $("#container-2").hide();
                if(running == true) {
                    alert("myPhyloDB is currently running your previous analysis request!");
                    return false;
                }
                running = true;
                chooseData();
            });

           $("#stop").show().click(function () {
                running = false;
                stopAll();
            });

            $("#clearMeta").click(function(){
                $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                 $("#run").css("background-color", "lightgray");
            });

            $("#remove").change(function () {
                if ( document.getElementById('remove').checked ) {
                    remove = 1
                } else {
                    remove = 0
                }
                chooseDisplay();
                $("#run").css("background-color", "lightgray");
            });
        });

        function stopAll() {
            clearInterval(refresh);
            $.ajax({
                url: '/stopSPLS/',
                type: 'GET',
                dataType: 'json',
                data: {},
                success: function (data) {
                    $("#run").css("background-color", "red");
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['error'];
                    $('#container-0').empty().append(stage);
                }
            });
        }

        function updateStatus(RID) {
            $.ajax({
                url: '/statusSPLS/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    $('#container-0').empty().append(stage);
                }
            });
        }

        function startTimer(RID) {
            refresh = setInterval(function(){updateStatus(RID);}, 1000);
            return refresh;
        }

        function stopTimer() {
            clearInterval(refresh);

        }

        function chooseDisplay() {
            if (NormMeth==1) {
                $("#NormRow").hide();
                $("#NormRow-off").show();
                $("#MinRow").hide();
                $("#MinRow-off").show();
                $("#IterRow").hide();
                $("#IterRow-off").show();
            }
            if ((NormMeth == 2) || (NormMeth == 3)) {
                $("#NormRow").show();
                $("#NormRow-off").hide();
                $("#MinRow").hide();
                $("#MinRow-off").show();
                $("#IterRow").show();
                $("#IterRow-off").hide();
            }
            if ((NormMeth == 4) || (NormMeth == 5) || (NormMeth == 6)) {
                $("#NormRow").hide();
                $("#NormRow-off").show();
                $("#MinRow").show();
                $("#MinRow-off").hide();
                $("#IterRow").hide();
                $("#IterRow-off").show();
            }
        }

        function chooseData() {
            if (nodesQuant == "") {
                $("#container-0").empty().append('Please choose a quantitative variable(s)!');
                $("#text-1").val('No data selected');
                $("#text-raw").val('No data selected');
                $("#run").css("background-color", "red");
                running = false;
            }
            if (nodesQuant != "") {
                $("#run").css("background-color", "yellow");
                $("#container-0").empty().append('Analysis is running...please be patient');
                getGraphData();
            }
        }

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function getGraphData() {
            var RID = makeGUID();
            startTimer(RID);
            var arrayVals = [];
            var arrayIDs = [];
            var key = '';
            var value = '';
            var vals = '';
            var id = '';
            var ids = '';
            for (var i = 0; i < nodesQuant.length; i++) {
                if (nodesQuant[i].getLevel() == 5) {
                    if ((nodesQuant[i].data.table == 'mimark') || (nodesQuant[i].data.table == 'user')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayVals.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDs.push(ids);
                    }
                }
                else if (nodesQuant[i].getLevel() == 6) {
                    if ((nodesQuant[i].data.table == 'human_associated') || (nodesQuant[i].data.table == 'soil') || (nodesQuant[i].data.table == 'air') || (nodesQuant[i].data.table == 'microbial') || (nodesQuant[i].data.table == 'water')) {
                        key = nodesQuant[i].data.field;
                        value = nodesQuant[i].data.value;
                        id = nodesQuant[i].data.id;
                        vals = '"' + key + '" : "' + value + '"';
                        arrayVals.push(vals);
                        ids = '"' + key + '" : "' + id + '"';
                        arrayIDs.push(ids);
                    }
                }
            }

            var metaQuant = '';
            if (nodesQuant.length > 0) {
                metaQuant = "{" + arrayVals.join(",") + "}";
            }

            var metaIDs = '';
            if (nodesQuant.length > 0) {
                metaIDs = "{" + arrayIDs.join(",") + "}";
            }

            var myDict = {};
            myDict['metaQuant'] = metaQuant;
            myDict['metaIDs'] = metaIDs;
            myDict['DepVar'] = DepVar;
            myDict['taxa'] = taxaLevel;
            myDict['NormVal'] = document.getElementById("NormVal").value;
            myDict['Iters'] = document.getElementById("Iters").value;
            myDict['remove'] = remove;
            myDict['NormMeth'] = NormMeth;
            myDict['MinSize'] = document.getElementById("MinVal").value;
            myDict['methodVal'] = document.getElementById("methodVal").value;
            myDict['metricVal'] = document.getElementById("metricVal").value;
            myDict['RID'] = RID;

            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getSPLS/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    running = false;
                    stopTimer(refresh);
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var series = obj['series'];
                    if (series == undefined) {
                        $('#container-1').empty().append('No significant regresssions!');
                    } else {
                        var xAxis = obj['xAxis'];
                        var yAxis = obj['yAxis'];
                        heatmap(xAxis, yAxis, series);

                        var res_table = obj['res_table'];
                        $('#res_table').empty().append(res_table).find('.table').DataTable({
                            dom: 'Bfrtip',
                            scroller: true,
                            scrollX: 600,
                            scrollY: 600,
                            //fixedHeader: true,
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();

                        var pred_table = obj['pred_table'];
                        $('#pred_table').empty().append(pred_table).find('.table').DataTable({
                            dom: 'Bfrtip',
                            scroller: true,
                            scrollX: 600,
                            scrollY: 600,
                            //fixedHeader: true,
                            buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
                        }).draw();
                    }

                    var text = obj['text'];
                    $('#text-1').val(text);

                    $("#image").show();
                    {% static "" as baseUrl %}
                    var d = new Date();
                    $("#my_image").removeAttr("src").attr("src", "{{ baseUrl }}/Rplots/{{ fileStr }}.spls.jpg?"+d.getTime());

                    $("#container-0").hide();
                    var display = $("#graphDisplay").val();
                    if (display == 1) {
                        $("#container-1").show();
                        $("#container-2").hide();
                    }
                    if (display == 2) {
                        $("#container-1").hide();
                        $("#container-2").show();
                    }
                    var error = data['error'];
                    if (error != "none") {
                        alert(error);
                        $("#run").css("background-color", "red");
                    } else {
                        $("#run").css("background-color", "green");
                    }
                }
            });
        }

        function heatmap(xAxis, yAxis, series) {
            catOptions = {
                chart: {
                    renderTo: 'container-1',
                    type: 'heatmap',
                    height: parseFloat(yAxis.categories.length)*16+250,
                    width: parseFloat(xAxis.categories.length)*16+200
                },
                title: { text: null },
                legend: {
                    itemStyle: {
                        fontSize: '7px',
                        font: '7pt Trebuchet MS, Verdana, sans-serif'
                    },
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 30
                },
                xAxis: xAxis,
                yAxis: yAxis,
                colorAxis: {
                    stops: [
                    [0, '#c4463a'],
                    [0.5, '#ffffff'],
                    [1, '#3060cf']
                    ]
                },
                tooltip: {
                    formatter: function () {
                        return 'Taxa: ' + this.series.xAxis.categories[this.point.x] +
                            '<br>Coeff: ' + this.point.value + '<br>' +
                                this.series.yAxis.categories[this.point.y];
                    }
                },
                series: series,
                credits: { enabled: false }
            };
            chart1 = new Highcharts.Chart(catOptions);
        }
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <!-- tree tables -->
    <div>
    <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
        <tr>
            <th>Select Meta Data:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
        </tr>
        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree_metaQuant"></div>
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="5"  class="inlineTable">
        <tr>
            <th bgcolor="white"></th>
            <th bgcolor="white"></th>
            <th bgcolor="white"></th>
        </tr>
        <tr>
            <td bgcolor="white" width="5px"></td>
            <td bgcolor="white">
                <select id="selectall">
                    <option value="2">Phyla</option>
                    <option value="3">Classes</option>
                    <option value="4">Orders</option>
                    <option value="5">Families</option>
                    <option value="6">Genera</option>
                    <option value="7" selected="selected">Species</option>
                </select>
                &nbsp<-- Selected taxa level
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white"></td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">Optimize R plot:</td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <select  id="methodVal" title="Linkage method to use for calculating clusters.">
                        <option value="single">Single (nearest neighbor)</option>
                        <option value="complete" selected="selected">Complete (farthest neighbor)</option>
                        <option value="average">Average (UPGMA) </option>
                        <option value="mcquitty">Weighted (WPGMA)</option>
                        <option value="median">Median (WPGMC)</option>
                        <option value="centroid">Centroid (UPGMC)</option>
                    </select>
                &nbsp<-- Selected linkage method
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
        <tr>
            <td bgcolor="white"></td>
            <td bgcolor="white">
                <div style="background-color: white">
                    <select  id="metricVal" title="Distance metric to use for calculating clusters.">
                        <option value="correlation">Correlation</option>
                        <option value="euclidean" selected="selected">Euclidean</option>
                        <option value="manhattan">Manhattan</option>
                        <option value="maximum">Maximum</option>
                    </select>
                &nbsp<-- Selected distance metric
                </div>
            </td>
            <td bgcolor="white"></td>
        </tr>
    </table>
    </div>
    <br>

    <div id="stage"></div>
    <br><br>

    <table width="950px" border="2">
        <tr>
            <th colspan="3" style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td style="width: 36%; text-align: left">
                Dependent variable:<select id="DepVar">
                <option value="1">Relative Abundance (proportion)</option>
                <option value="4">Total Abundance (rRNA gene copies)</option>
                <option value="2">Species Richness</option>
                <option value="3">Species Diversity</option>
                </select>
            </td>
            <td style="width: 34%; text-align: center">
                Normalization method:
                <select id="NormMeth">
                    <option value="1">None</option>
                    <option value="2">Rarefaction (remove)</option>
                    <option value="3" selected="selected">Rarefaction (keep)</option>
                    <option value="4">Proportion</option>
                    <option value="5">DESeq2</option>
                    <option value="6">DESeq2+VS</option>
                </select>
            </td>
            <td style="width: 30%; text-align: left">
                Display graph:
                <select id="graphDisplay">
                    <option value="1">Highcharts</option>
                    <option value="2">R plot</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="MinRow" style="display: none; text-align: center">
                Minimum sample size:
                <input type="text" id="MinVal" value="1000"/>
            </td>
            <td id="NormRow-off" style="display: none;"></td>
            <td id="NormRow" style="text-align: center">
                Subsample size:
                <input type="text" id="NormVal" value="median"/>
            </td>
            <td id="MinRow-off"></td>
        </tr>
        <tr>
            <td></td>
            <td id="IterRow-off" style="display: none;"></td>
            <td id="IterRow" style="text-align: center">
                Iterations:
                <input style="background-color: white" type="text" id="Iters" value="1"/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                <div id="container-0" style="height: 400px; width: 950px;">No Data has been selected!</div>
                <div id="container-1" style="height: 400px; width: 950px; overflow-x: auto; display:none"></div>
                <div id="container-2" style="height: 405px; width: 950px; overflow-y: auto; display:none"><span id="image" style="display:none;"><img id="my_image" src="#" /></span></div>
            </td>
        </tr>
    </table>

    <div id="txt-1">
        <h2>Test Results:</h2>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
        <br>
    </div>
    <br>

    <h2>sPLS Coefficients:</h2>
    <div id="res_table" style="width: 950px; overflow-x: auto;"></div>
    <br>
    <br>
    <h2>Observed & Predicted Data:</h2>
    <div id="pred_table" style="width: 950px; overflow-x: auto;"></div>
    <br>
    <br>
{% endblock my_content%}
