{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    <title>Taxa</title>
{% endblock pagetitle%}

{% block javascript %}
    <script type="text/javascript">
        var search = "";

        $(function () {
            $("#textbox").change(function () {
                search = $(this).val();
                $("#MicrobeWiki").attr("href", "https://microbewiki.kenyon.edu/index.php/Special:Search?search=" + search);
                $("#Wiki").attr("href", "http://en.wikipedia.org/wiki/" + search);
                $("#Google").attr("href", "http://www.google.com/search?q=" + search);
            });

            $('#myTable').DataTable({
                dom: 'B<"toolbar">lfrtip',
                deferRender: true,
                ajax: {
                    url: '/myPhyloDB/taxaJSON/'
                },
                scrollX: true,
                bPaginate: true,
                sPaginationType: 'full_numbers',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });
            $("div.toolbar").html('<br><br><br>')
        });

    </script>
{% endblock javascript %}

{% block my_content %}
    <h2>Search External Links:</h2>

    <table width="400px">
        <tr>
            <td width="60%">
                Taxa name:<input type="text" id="textbox">
            </td>
            <td width="40%">
                <ul>
                    <a style="font-size: 12px;" id="MicrobeWiki" class="Offmouse" href="https://microbewiki.kenyon.edu" target="_blank">-MicrobeWiki-</a><br>
                    <a style="font-size: 12px;" id="Wiki" class="Offmouse" href="http://en.wikipedia.org/wiki/" target="_blank">-Wiki-</a><br>
                    <a style="font-size: 12px;" id="Google" class="Offmouse" href="http://www.google.com/" target="_blank">-Google-</a>
                </ul>
            </td>
        </tr>
    </table>
    <br><br>

    <div style="width: 950px">
        <table id="myTable" class="display compact nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Kingdom ID</th>
                    <th>Kingdom Name</th>
                    <th>Phyla ID</th>
                    <th>Phyla Name</th>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Order ID</th>
                    <th>Order Name</th>
                    <th>Family ID</th>
                    <th>Family Name</th>
                    <th>Genus ID</th>
                    <th>Genus Name</th>
                    <th>Species ID</th>
                    <th>Species Name</th>
                    <th>OTU ID</th>
                    <th>OTU Name</th>
                </tr>
            </thead>
        </table>
    </div>
    <br><br><br>
{% endblock my_content%}
