{% extends 'base.html' %}

{% block pagetitle %}
    <title>Update</title>
{% endblock pagetitle %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <script>
        var RID = makeGUID();
        var selNodes = "";
        var selKeys = "";

        window.onload = function() {
            var mothurStat = localStorage.getItem(name);
            if (mothurStat !== null) $('#mothurStat').val(mothurStat);
        };

        $(function () {
            $("#tree").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeUpdateTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onSelect: function (select, node) {
                    selNodes = node.tree.getSelectedNodes();
                    selKeys = $.map($("#tree").dynatree("getSelectedNodes"), function(node) {
                        return node.data.id;
                    });
                    $('#ids').val(selKeys);
                }
            });

            $("#submit").click(function() {
                $("#stage").show();
                document.getElementById("mothurStat").value = "";
                setInterval(updateStatus, 1000);
            });

            $("#clearMeta").click(function () {
                $("#tree").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $('<input>').attr({
                type: 'hidden',
                name: 'RID',
                value: RID
            }).appendTo('form');

            $('<input>').attr({
                type: 'hidden',
                name: 'funcName',
                value: 'updateFunc'
            }).appendTo('form');

        });

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function stop() {
            $.ajax({
                url: '/myPhyloDB/datstop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var mstage = obj['message'];
                    $('#stage').empty().append(mstage);
                }
            });
        }

        function updateStatus() {
            $.ajax({
                url: '/myPhyloDB/status/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    updateStage(stage);
                    document.getElementById("mothurStat").value = obj['mothurStat'] + document.getElementById("mothurStat").value;
                }
            });
        }

        function updateStage(stage) {
            $("#stage").empty().append(stage);
        }

        window.onbeforeunload = function() {
            localStorage.setItem(name, $('#mothurStat').val());
        };

    </script>
{% endblock javascript %}

{% block my_content %}

    <table id="meta_files" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th>Select project path to update:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="tree"></div>
            </td>
        </tr>
    </table>
    <br><br>

    <form id='form' action="{% url 'datfuncCall' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label><textarea id="ids" name="refid" style="display:none"></textarea></label>

        <table id="meta_files" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th colspan="2">Upload new meta files:</th>
            </tr>
            <tr>
                <td>{{ form5.docfile11.label_tag }}</td>
                <td>{{ form5.docfile11 }}</td>
            </tr>
            <tr>
                <td>{{ form5.docfile12.label_tag }}</td>
                <td>{{ form5.docfile12 }}</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>
                    <input id="submit" type="submit" value="Update!"/>
                </td>
                <td>
                    <input id='Stop' name='Stop' type="button" onclick="stop();" value="Stop"/>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div>{{ state }}</div>
    <br>
    <div id="stage" style="display: none"></div>
    <textarea id="mothurStat" rows=5 cols=72></textarea>
    <br>
{% endblock my_content %}

