{% extends 'base.html' %}

{% block pagetitle %}
    <title>Update</title>
{% endblock pagetitle %}


{% block javascript %}
{% endblock javascript %}

{% block my_content %}

    <form action="{% url 'update' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Select a Project for Updating:</h2>
        <table border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td bgcolor="white">
                    <div>{{ form5.project }}</div>
                </td>
                <td bgcolor="white">
                    <-- Choose a Project
                </td>
            </tr>
            <tr>
                <td bgcolor="white">
                    <div>{{ form5.type }}</div>
                </td>
                <td bgcolor="white">
                    <-- Choose a Project Type
                </td>
            </tr>
        </table>
        <br>
        <table id="meta_files" width="100%" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th colspan="2">Upload new meta files:</th>
            </tr>
            <tr>
                <td>{{ form5.docfile11.label_tag }}</td>
                <td>{{ form5.docfile11 }}</td>
            </tr>
            <tr>
                <td>{{ form5.docfile12.label_tag }}</td>
                <td>{{ form5.docfile12 }}</td>
            </tr>
        </table>
        <br>
        <input id="submit" type="submit" value="Update!"/>
    </form>
    <br>
    <div>{{ state }}</div>
    <br><br>
{% endblock my_content %}

