{% extends 'base.html' %}

{% block pagetitle %}
    <title>Upload</title>
{% endblock %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <style>
        #progressBar {
                width: 200px;
                height: 22px;
                border: 1px solid #111;
                background-color: #292929;
        }

        #progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px;
                width: 0;
                background-color: #0099ff;
        }
    </style>

    <script type="text/javascript">
        var RID = makeGUID();
        var source = 'mothur';


        window.onload = function() {
            var mothurStat = localStorage.getItem(name);
            if (mothurStat !== null) $('#mothurStat').val(mothurStat);
        };


        $(function () {
            var test = '{{ error }}';
            if (test != "") {
                alert(test);
            }

            $("#Upload").click(function() {
                $("#stage").show();
                $("#progressBar").show();
                document.getElementById("mothurStat").value = "";
                setInterval(updateStatus, 1000);
            });

            $("#id_source").change(function() {
                source = $("#id_source").val();
                if (source == "mothur") {
                    $("#mothur").show();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#proc_table").hide();
                }
                if (source == "454_sff") {
                    $("#mothur").hide();
                    $("#454_sff").show();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#proc_table").show();
                }
                if (source == "454_fastq") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").show();
                    $("#miseq").hide();
                    $("#proc_table").show();
                }
                if (source == "miseq") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").show();
                    $("#proc_table").show();
                }
            });

            $('<input>').attr({
                type: 'hidden',
                name: 'RID',
                value: RID
            }).appendTo('form').appendTo('form2');

            $('<input>').attr({
                type: 'hidden',
                name: 'funcName',
                value: 'uploadFunc'
            }).appendTo('form').appendTo('form2');

        });

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function updateStatus() {
            $.ajax({
                url: '/myPhyloDB/status/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    var perc = obj['perc'];
                    updateStage(stage);
                    progressBar(perc, $("#progressBar"));
                    document.getElementById("mothurStat").value = document.getElementById("mothurStat").value + obj['mothurStat'];
                    document.getElementById("mothurStat").scrollTop = document.getElementById("mothurStat").scrollHeight;
                }
            });
        }

        function updateStage(stage) {
            $("#stage").empty().append(stage);
        }

        function stop() {
            $.ajax({
                url: '/myPhyloDB/datstop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var mstage = obj['message'];
                    $('#stage').empty().append(mstage);
                }
            });
        }

        function progressBar(percent, $element) {
           var progressBarWidth = percent * $element.width() / 100;
            $element.find("div").animate({ width: progressBarWidth }, 100).html(percent + "%&nbsp;");
        }

        window.onbeforeunload = function() {
            localStorage.setItem(name, $('#mothurStat').val());
        };

    </script>
{% endblock %}
{% block my_content %}

    <h2>Upload new data files:</h2>

    <form id="form" action="{% url 'datfuncCall' %}" method="post" onclick="RID = makeGUID();" enctype="multipart/form-data">
        {% csrf_token %}

        <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">1.) Select metadata file:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%" border="2" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>{{ form1.docfile1.label_tag }}</td>
                            <td>{{ form1.docfile1 }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>

        <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">2.) Select sequence data format:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%" border="2" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>Available Data Formats:&nbsp;</td>
                            <td>{{ form2.source }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>

        <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td>3.) Select sequencing files:</td>
            </tr>
            <tr>
                <td>
                    <table id="mothur" width="100%" border="2" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>{{ form2.docfile3.label_tag }}</td>
                            <td>{{ form2.docfile3 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile4.label_tag }}</td>
                            <td>{{ form2.docfile4 }}</td>
                        </tr>
                    </table>
                    <table id="454_sff" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>Select sff file(s):</td>
                            <td><input type="file" name="sff_files" multiple></td>
                        </tr>
                        <tr>
                            <td>Select oligo file(s):</td>
                            <td><input type="file" name="oligo_files" multiple></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile5.label_tag }}</td>
                            <td>{{ form2.docfile5 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile7.label_tag }}</td>
                            <td>{{ form2.docfile7 }}</td>
                        </tr>
                    </table>
                    <table id="454_fastq" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>Select fna file(s):</td>
                            <td><input type="file" name="fna_files" multiple></td>
                        </tr>
                        <tr>
                            <td>Select qual file(s):</td>
                            <td><input type="file" name="qual_files" multiple></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile6.label_tag }}</td>
                            <td>{{ form2.docfile6 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile7.label_tag }}</td>
                            <td>{{ form2.docfile7 }}</td>
                        </tr>
                    </table>
                    <table id="miseq" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>{{ form2.docfile13.label_tag }}</td>
                            <td>{{ form2.docfile13 }}</td>
                        </tr>
                        <tr>
                            <td>Select fastq files:</td>
                            <td><input type="file" name="fastq_files" multiple></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile15.label_tag }}</td>
                            <td>{{ form2.docfile15 }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table id="proc_table" style="display: none" width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td width="100">4.) How many processors would you like to use?</td>
            </tr>
            <tr>
                <td>
                    <table border="2">
                    <tr>
                        <td>Processors: </td>
                        <td>{{ form2.processors }}</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>
                    <input id='Upload' name='Upload' type="submit" value="Upload Files!"/>
                </td>
                <td>
                    <input id='Stop' name='Stop' type="button" onclick="stop();" value="Stop!"/>
                </td>
            </tr>
        </table>
    </form>

    <br>
    <div id="stage" style="display: none"></div>
    <div id="progressBar" style="display: none"><div></div></div>
    <br>
    <h2>Mothur output: </h2>
    <textarea id="mothurStat" rows=5 cols=72></textarea>

    <h2>List of previous uploads:</h2>
    <form id="form2" method="post" action="{% url 'datfuncCall' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <td>
                {% if projects %}
                    {% for project in projects %}
                        <input name="chkbx" type="checkbox" value="{{ project.path }}"/>
                        Project: {{ project.projectid.project_name }} (ID: {{ project.projectid.projectid }})<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Path: {{ project.path }})<br>
                        <br>
                    {% endfor %}
                {% else %}
                    <p>No projects uploaded.</p>
                {% endif %}
            </td>
        </table>
        <p><input name="clickMe" type="submit" value="Remove selected"/></p>
    </form>
{% endblock my_content %}