{% extends 'site_base.html' %}

{% block pagetitle %}
    <title>Upload</title>
{% endblock %}

{% block user %}
    {% if user.is_authenticated %}
        <p>You are logged in as:<br>&nbsp;{{ user.username }}</p>
    {% endif %}
{% endblock user %}

{% block javascript %}
    <style>
        #progressBar {
                width: 200px;
                height: 22px;
                border: 1px solid #111;
                background-color: #292929;
        }

        #progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px;
                width: 0;
                background-color: #0099ff;
        }
    </style>

    <script type="text/javascript">
        var RID = makeGUID();
        var source = 'mothur';
        var ref_data = 'yes';
        var remNodes = "";

        var selectedMeta = null;
        var selectedShared = null;
        var selectedShared2 = null;
        var selectedSequence = null;
        var selectedSequence2 = null;
        var selectedTaxa = null;
        var selectedTaxa2 = null;
        var selectedScript = null;
        var selectedScript2 = null;
        var selectedScript3 = null;
        var selectedSFF = null;
        var selectedOligos = null;
        var selectedOligos2 = null;
        var selectedFiles = null;
        var selectedFNA = null;
        var selectedQual = null;
        var selectedContig = null;
        var selectedFastq = null;

        window.onload = function() {
            var mothurStat = localStorage.getItem("moStatSave");
            if (mothurStat != null) {
                document.getElementById("mothurStat").value = mothurStat;
            }
        };


        $(function () {
            var test = '{{ error }}';
            if (test != "") {
                alert(test);
            }

            $("#treeRem").dynatree({
                checkbox: true,
                selectMode: 2,
                initAjax: {
                    url: "/myPhyloDB/makeUpdateTree/",
                    dataType: "jsonp",
                    data: {}
                },
                onSelect: function (select, node) {
                    remNodes = node.tree.getSelectedNodes();
                },
                onClick: function () {
                    $("#clickMe").css("background-color", "lightgray").val('Remove selected');
                }
            });

            $("#pickMeta").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Meta', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedMeta = $.map($("#pickMeta").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickShared").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Shared', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedShared = $.map($("#pickShared").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickSequence").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Sequence', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedSequence = $.map($("#pickSequence").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickSequence2").dynatree({  // Sequence 2 for biom upload (.fasta)
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Sequence', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedSequence2 = $.map($("#pickSequence2").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickTaxa").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Taxa', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedTaxa = $.map($("#pickTaxa").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickTaxa2").dynatree({  // Taxa2 for biom upload (.tsv)
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Taxa', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedTaxa2 = $.map($("#pickTaxa2").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickBiom").dynatree({   // Biom for biom upload, uses 'shared' tag (.biom file though)
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Shared', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedShared2 = $.map($("#pickBiom").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickScript").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Script', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedScript = $.map($("#pickScript").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickScript2").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Script', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedScript2 = $.map($("#pickScript2").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickScript3").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Script', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedScript3 = $.map($("#pickScript3").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickSFF").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'SFF', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedSFF = $.map($("#pickSFF").dynatree("getSelectedNodes"), function (node) {
                        if (node.getLevel() == 4) {
                            return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                        }
                    });
                }
            });

            $("#pickOligos").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Oligos', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedOligos = $.map($("#pickOligos").dynatree("getSelectedNodes"), function (node) {
                        if (node.getLevel() == 4) {
                            return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                        }
                    });
                }
            });
            // should distinguish oligos and oligos2, as 2 is single select only
            $("#pickOligos2").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Oligos', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedOligos2 = $.map($("#pickOligos2").dynatree("getSelectedNodes"), function (node) {
                        if (node.getLevel() == 4) {
                            return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                        }
                    });
                }
            });

            $("#pickFiles").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Files', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedFiles = $.map($("#pickFiles").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickFNA").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'FNA', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedFNA = $.map($("#pickFNA").dynatree("getSelectedNodes"), function(node) {
                        if (node.getLevel() == 4) {
                            return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                        }
                    });
                }
            });

            $("#pickQual").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Qual', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedQual = $.map($("#pickQual").dynatree("getSelectedNodes"), function(node) {
                        if (node.getLevel() == 4) {
                            return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                        }
                    });
                }
            });

            $("#pickContig").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Contig', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedContig = $.map($("#pickContig").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });

            $("#pickFastq").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: "/myPhyloDB/makeFilesTree/",
                    dataType: "jsonp",
                    data: {'name':'Fastq', 'filter': true}
                },
                onSelect: function (select, node) {
                    selectedFastq = $.map($("#pickFastq").dynatree("getSelectedNodes"), function(node) {
                        return node.parent.parent.data.id + "/" + node.parent.data.id + "/" + node.data.id;
                    });
                }
            });
            /*dnd :{
                onDrop: function (node, sourceNode, hitMode, ui, draggable) {
                    var copyNode = sourceNode.toDict(true, function (dict) {
                        dict.title = sourceNode.parent.parent.data.title + "/" + sourceNode.parent.data.title + "/" + dict.title;
                        delete dict.key;
                    });
                    node.addChild(copyNode);
                },
                onDragEnter: function (node, sourceNode) {
                    return (node.getLevel() == 1);
                }
            },*/

            $("#clearMeta").click(function () {
                $("#treeRem").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
            });

            $("#Upload").click(function() {
                $("#stage").show();
                $("#progressBar").show();
                document.getElementById("mothurStat").value = "";
                setInterval(updateStatus, 1000);
            });

            $("#id_ref_data").change(function() {
                ref_data = $("#id_ref_data").val();
                if (ref_data == 'yes') {
                    $(".vsearch").show();
                    $(".taxa_file").hide();
                }
                if (ref_data == 'no') {
                    $(".vsearch").hide();
                    $(".taxa_file").show();
                }
            });

            $("#id_source").change(function() {
                source = $("#id_source").val();
                if (source == "mothur") {
                    $("#mothur").show();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#biom").hide();
                    $("#proc_table").hide();
                }
                if (source == "454_sff") {
                    $("#mothur").hide();
                    $("#454_sff").show();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#biom").hide();
                    $("#proc_table").show();
                }
                if (source == "454_fastq") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").show();
                    $("#miseq").hide();
                    $("#biom").hide();
                    $("#proc_table").show();
                }
                if (source == "miseq") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").show();
                    $("#biom").hide();
                    $("#proc_table").show();
                }
                if (source == "biom") {
                    $("#mothur").hide();
                    $("#454_sff").hide();
                    $("#454_fastq").hide();
                    $("#miseq").hide();
                    $("#biom").show();
                    $("#proc_table").show();
                }
            });

            $('<input>').attr({
                type: 'hidden',
                name: 'RID',
                value: RID
            }).appendTo('form');

            $('<input>').attr({
                type: 'hidden',
                name: 'funcName',
                value: 'uploadFunc'
            }).appendTo('form');

        });

        function makeGUID(){
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            })
        }

        function progressBar(percent, $element) {
           var progressBarWidth = percent * $element.width() / 100;
            $element.find("div").animate({ width: progressBarWidth }, 100).html(percent + "%&nbsp;");
        }

        function remProjectFiles() {
            $("#clickMe").css("background-color", "yellow").val('Removing Projects!');
            var paths = [];
            for (var i = 0; i < remNodes.length; i++) {
                var string = remNodes[i].data.title;
                paths.push(string.split(" ")[1]);
            }

            var myDict = {};
            myDict['paths'] = paths;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/myPhyloDB/remProjectFiles/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function (data) {
                    $("#treeRem").dynatree("getTree").reload();
                    $("#clickMe").css("background-color", "green").val('Done');
                }
            });
        }

        function stop() {
            $.ajax({
                url: '/myPhyloDB/datstop/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var mstage = obj['message'];
                    $('#stage').empty().append(mstage);
                }
            });
        }

        function createProject() {

            var myDict = {};

            myDict['meta'] = selectedMeta;  // this one is always the same selector

            myDict['sff'] = selectedSFF;
            myDict['files'] = selectedFiles;
            myDict['fna'] = selectedFNA;
            myDict['qual'] = selectedQual;
            myDict['contig'] = selectedContig;
            myDict['fastq'] = selectedFastq;


            // default script selector
            myDict['script'] = selectedScript;
            // alternative
            if (selectedScript2 != null){
                myDict['script'] = selectedScript2;
            }
            if (selectedScript3 != null){
                myDict['script'] = selectedScript3;
            }

            // default oligos selector
            myDict['oligos'] = selectedOligos;
            // alternative
            if (selectedOligos2 != null){
                myDict['oligos'] = selectedOligos2;
            }

            // default taxa selector
            myDict['taxa'] = selectedTaxa;
            // alternative for biom
            if (selectedTaxa2 != null){
                myDict['taxa'] = selectedTaxa2;
            }

            // default shared selector
            myDict['shared'] = selectedShared;
            // alternative for biom
            if (selectedShared2 != null){
                myDict['shared'] = selectedShared2;
            }

            // default sequence selector
            myDict['sequence'] = selectedSequence;
            // alternative for biom
            if (selectedSequence2 != null){
                myDict['sequence'] = selectedSequence2;
            }

            var jsonDict = JSON.stringify(myDict);

            $('<input>').attr({
                type: 'hidden',
                name: 'data',
                value: jsonDict
            }).appendTo('form');

            $.ajax({
                url: '/myPhyloDB/datfuncCall/',
                type: 'POST',
                data: jsonDict + "&csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var mstage = obj['message'];
                    $('#stage').empty().append(mstage);
                }
            });
        }

        function updateStatus() {   // check mothur upload status / display console output
            $.ajax({
                url: '/myPhyloDB/status/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: RID
                },
                success: function (data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var stage = obj['stage'];
                    var perc = obj['perc'];
                    updateStage(stage);
                    progressBar(perc, $("#progressBar"));
                    // get text box
                    var out = document.getElementById("mothurStat");
                    // calculate difference between scroll position, box height, and max height (check if scroll to bottom)
                    var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;
                    // append box text with new text
                    out.value = out.value + obj['mothurStat'];
                    // if already scrolled to bottom, scroll to new bottom automatically
                    if(isScrolledToBottom) {
                        out.scrollTop = out.scrollHeight - out.clientHeight;    // on stop, old stuff stayed but mothur log wiped
                    }
                    localStorage.setItem("moStatSave", $('#mothurStat').val());
                }
            });
        }

        function clearMothurLog() {
            document.getElementById("mothurStat").value = "";
        }

        function updateStage(stage) {
            $("#stage").empty().append(stage);
        }

        // TODO 1.3 page title still shows as upload

        window.onbeforeunload = function() {
            localStorage.setItem("moStatSave", $('#mothurStat').val());
        };

    </script>
{% endblock %}
{% block my_content %}

    <h2>Create new project from files:</h2>

    <form id="form" action="{% url 'datfuncCall' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table width="650px" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">1.) Select metadata file:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%" border="2" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>{{ form1.docfile1.label_tag }}</td>
                            <td><div id="pickMeta"></div></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>

        <table width="650px" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">2.) Select sequence data format:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%" border="2" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>Available Data Formats:&nbsp;</td>
                            <td>{{ form2.source }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>

        <table width="650px" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td>3.) Select sequencing files:</td>
            </tr>
            <tr>
                <td>
                    <table id='mothur' width="100%" border="2" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>{{ form2.docfile4.label_tag }}</td>
                            <td><div id="pickShared"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.ref_data.label_tag }}</td>
                            <td>{{ form2.ref_data }}</td>
                        </tr>
                        <tr class="taxa_file" style="display: none">
                            <td>{{ form2.docfile3.label_tag }}</td>
                            <td><div id="pickTaxa"></div></td>
                        </tr>
                        <tr class="vsearch">
                            <td>{{ form2.ref_fasta.label_tag }}</td>
                            <td><div id="pickSequence"></div></td>
                        </tr>
                        <tr class="vsearch">
                            <td>{{ form2.ref_var.label_tag }}<span title="Currently this option only supports V3 or V34 hypervariable regions. If you used other primers, you must rerun your entire sequence pipeline."><font class="info" color="red">[info]</font></span></td>
                            <td>{{ form2.ref_var }}</td>
                        </tr>

                    </table>
                    <table id="454_sff" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>Select sff file(s):</td>
                            <td><div id="pickSFF"></div></td>
                        </tr>
                        <tr>
                            <td>Select oligo file(s):</td>
                            <td><div id="pickOligos"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile5.label_tag }}</td>
                            <td><div id="pickFiles"></div></td>
                        </tr>
                        <tr>
                        <tr>
                            <td>{{ form2.docfile7.label_tag }}&nbsp;{{ form2.platform }}&nbsp;<span title="Is this a mothur or dada2 (R package) batch file?"><font class="info" color="red">[info]</font></span></td>
                            <td><div id="pickScript"></div></td>
                    </table>
                    <table id="454_fastq" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>Select fna file(s):</td>
                            <td><div id="pickFNA"></div></td>
                        </tr>
                        <tr>
                            <td>Select qual file(s):</td>
                            <td><div id="pickQual"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile6.label_tag }}</td>
                            <td><div id="pickOligos2"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile7.label_tag }}</td>
                            <td><div id="pickScript2"></div></td>
                        </tr>
                    </table>
                    <table id="miseq" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>{{ form2.docfile13.label_tag }}</td>
                            <td><div id="pickContig"></div></td>
                        </tr>
                        <tr>
                            <td>Select fastq file(s): <span title="Compressed ('tgz', 'gz', 'zip') files are allowed<br>No folders are allowed<br>Maximum file size is 2GB"><font class="info" color="red">[info]</font></span></td>
                            <td><div id="pickFastq"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.docfile7.label_tag }}&nbsp;{{ form2.platform }}&nbsp;<span title="Is this a mothur or dada2 (R package) batch file?"><font class="info" color="red">[info]</font></span></td>
                            <td><div id="pickScript3"></div></td>
                        </tr>
                    </table>
                    <table id="biom" width="100%" border="2" cellspacing="0" cellpadding="1" style="display:none">
                        <tr>
                            <td>{{ form2.biom_file.label_tag }}</td>
                            <td><div id="pickBiom"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.tsv_file.label_tag }}</td>
                            <td><div id="pickTaxa2"></div></td>
                        </tr>
                        <tr>
                            <td>{{ form2.fasta_file.label_tag }}</td>
                            <td><div id="pickSequence2"></div></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table id="proc_table" style="display: none" width="650px" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td width="100">4.) How many processors would you like to use?</td>
            </tr>
            <tr>
                <td>
                    <table border="2">
                    <tr>
                        <td>Processors: </td>
                        <td>{{ form2.processors }}</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>
                    <input id='Upload' name='Upload' type="submit" onclick="createProject();" value="Create new project"/>
                </td>
                <td>
                    <input id='Stop' name='Stop' type="button" onclick="stop();" value="Stop!"/>
                </td>
            </tr>
        </table>
    </form>

    <br>
    <div id="stage" style="display: none"></div>
    <div id="progressBar" style="display: none"><div></div></div>
    <br>

    <div>
        <h2>Mothur/R status and output: </h2>
        <input id="clearLog" type="button" value="Clear Text" onClick="clearMothurLog();"/>
        <br>
    </div>

    <textarea id="mothurStat" rows=25 cols=72 style="width: 925px"></textarea>

    <h2>List of previous uploads:</h2>
    <table id="meta_files" border="2" cellspacing="0" cellpadding="1">
            <tr>
                <th>Select project path to remove:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>        <tr>
            <td style="padding-right: 10px; vertical-align: top">
                <div id="treeRem"></div>
            </td>
        </tr>
    </table>
    <p><input id="clickMe" type="submit" value="Remove selected" onClick="remProjectFiles()"/></p>
    <br><br>
{% endblock my_content %}